.imgSettingIcon{
	background-image: url("Icons/Setting.png");
	display:block;
	height: 25px;
	width: 25px;
}

.imgEditIcon{
	background-image: url("Icons/editIcon.png");
	display:block;
	height: 25px;
	width: 25px;
}

#adminForm{
	display: none;
}

.aui .dropdown-menu{
	margin:2px 0px 0px -90px
}

#AdminSettings{
	display: none;
}

.yui3-skin-sam .yui3-datatable-table{
	font-size:12px;
}