/* Empty. Add your own CSS if you like */
/*start css for splash overlay*/
#custom-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  -webkit-animation: rotating-function 5.25s linear infinite;
  -moz-animation: rotating-function 5.25s linear infinite;
  -o-animation: rotating-function 5.25s linear infinite;
  animation: rotating-function 5.25s linear infinite;
}
/*end css for splash overlay*/

span.badge.badge-assertive {
    margin-right: 20px;
}
/* Empty. Add your own CSS if you like */
.badge.badge-assertive {
    background-color: #0f0f0f;
    color: #fff;
}
.badge {
    border-radius: 6px;
}

ion-item.item {
    color: darkorange;
}
.my-side-menu{
 background: #000;
}
.my-list-item{
 background: #000 !important;
 border:white !important;
}

.ion-plus-circled:before
{
    color: #000;
    font-size: x-large;
}

label.item.item-icon-left.item-checkbox-right.item.item-checkbox{
	color: darkorange;
    text-decoration: none;
    font-weight: 700;
    font-size: larger;
}
/* Empty. Add your own CSS if you like */


/*Login page*/

.scroll{height:100%;}

.form_div{height:100%;
          width:100%;
}

.loginpane{height:100%;}

@media only screen and (min-width: 30.063em){
    .loginpane {
    margin: 0 auto;
    }
}

.loginpane_header {
    background: rgba(225,225,225,0.95);
    padding: 1em 0;
    text-align: center;
    height:20%;
    margin-top: -1%;
    width:100%;
}

.loginpane_header img{content:url(../img/flasklogo2.png);}

@media only screen and (max-height:105%;)and
             (max-width:30%;){.cq-dd-image{ 
             
             width:30%;
			}
}

img.cq-dd-image{height:100%;}

.loginpane_body {
      width:100%;
}

.div_list{padding-left:6%;}

input.input_box{width:90%;
           border:solid 1px #F2F1F0;
           border-radius:5px;
           
}

.portlet-login .form fieldset {
    border-width: 0;
    margin-bottom: 0;
    padding: 0;
}

.aui body {
    background-color: #fff;
    font: normal 14px/1 "Coda",Helvetica,sans-serif;
}

button.button.button-block.button-positive.sign_in_button{width:90%;}

.aui label {
    font-size: 14px;
}

.required {
    font-size: 12px;
    color: chocolate;
}



.portlet-login .form .button-holder, .portlet-login .form .form-column {
    margin-bottom: 10px;
}

.aui .checkbox {
    min-height: 20px;
    padding-left: 20px;
}

button.button.button-block.button-positive.taglib-text{
				color:white;
				width:40%;
}

.navigation{	 
				 text-align: center;
                  height:22%;
                  text-align: center;
                  width:100%;
}

/*.loginpane_footer{background: rgba(225,225,225,0.95);
				 text-align: center;
                  height:22%;
                  text-align: center;
                  width:100%;
}*/



/*For wizard */
.slider {
  height: 100%;
}
.slider-slide {
  color: #000;
  background-color: #fff;
  font-family: coda; 
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

/*Login 1 Started*/

/* General
==================================*/

@media only screen and (max-height:100%;)and
             (max-width:100%;){.full-content{ 
             width:1024px;
             height:569px;
			}
}

h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/flasklogo2.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.item-md-label input {
    background-color: rgba(0,0,0,.6);
    bottom: 0;
    color: #fff;
    letter-spacing: .25rem;
    padding: 20px 10px;
    position: relative;
    z-index: 1;
    border:0;
    width:100%;
}

.full-page{padding-top:10%;background:rgba(225,225,225,0.7);height:inherit;text-align: center;}

.navigation1{text-align: center;color:black;background-color:rgba(0,0,0,0.6);}

label.item.item-input.item-md-label{border:none;background:none;padding-left:0;}

.full-content{background: url(../img/login.jpg) center; background-size: cover;}

span.taglib-text.span_color{color:white;}
/*Login 1 End*/

/*Registration Page*/
.registerpane_body{height:100%;background:rgba(225,225,225,0.7);}

ion-content{background:rgba(225,225,225,0.2);}

.post-content a{background-color: rgba(0, 0, 0, 0.63);
    height: 3%;
    width: 30%;}

.item.item-input{background:rgba(225,225,225,0);}

span.error_msg{color:red;}

.ion:before{padding-right:10px;}