/* Empty. Add your own CSS if you like */
/*start css for splash overlay*/
#custom-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  -webkit-animation: rotating-function 5.25s linear infinite;
    -moz-animation: rotating-function 5.25s linear infinite;
     -ms-animation: rotating-function 5.25s linear infinite;
      -o-animation: rotating-function 5.25s linear infinite;
         animation: rotating-function 5.25s linear infinite;
}
/*end css for splash overlay*/

span.badge.badge-assertive {
    margin-right: 20px;
}
/* Empty. Add your own CSS if you like */
.badge.badge-assertive {
    background-color: #0f0f0f;
    color: #fff;
}
.badge {
    border-radius: 6px;
}
a.item.item-full.item-icon-left.icon.ion-plus-circled {
    margin-left: -37px;
}
ion-item.item {
    color: darkorange;
}
.my-side-menu{
 background: #000;
}
.my-list-item{
 background: #000 !important;
 border:white !important;
}

.ion-plus-circled:before
{
    color: #000;
    font-size: x-large;
}

label.item.item-icon-left.item-checkbox-right.item.item-checkbox{
	color: darkorange;
    text-decoration: none;
    font-weight: 700;
    font-size: larger;
}
/* Empty. Add your own CSS if you like */
.imgHolder {
    position: relative;
}
.post_content{
       background: none repeat scroll 0 0 black;
    opacity: 0.8;
    top: 51px;
    left: 4px;
    position: absolute;
    width: 150px;
    height: 38px;
}

p{color: white !important;
   }

.full-image{height:120px !important;
            width:100vw !important;
}

.my-card .item.item-image{
  width: 100vw;
}
