<div id="slideoutmenupanel" style="left: -270px;">	
	<ul class="menuitem">
		<li><a href="$menu_home_url">TODAY'S EVENT(S)</a></li>
		<li><span>PRE-GAME</span><br/><a href="#">LOCAL NEWS</a></li>
		<li><a href="#">PARKING & EVENT MAP</a></li>
		<li><span>AT-THE-GAME</span><br/><a href="#">EVENT NEWS</a></li>
		<li><a href="#">VENUE MAP</a></li>
		<li><a href="#">FLASK PROMOTIONS</a></li>
		<li><span>POST-GAME</span><br/><a href="#">ENTERTAINMENT OPTIONS</a></li>
		<li><a href="#">FLASK PROMOTIONS</a></li>
		<li><a href="$menu_admin_user_url">PROFILE</a></li>
		<li><a href="#">MY EVENTS</a></li>
		<li><a href="#">MY TAILGATE</a></li>
		<li><a href="#">MY GROUPS</a></li>
		<li><a href="#">MY FRIENDS</a></li>
		<li><a href="#">NOTIFICATIONS</a></li>
		<li><a href="#">EVENT AND CITY SEARCH</a></li>
	</ul>
</div>