/*states, content and header*/
.jqx-widget-flask {
  border-color: #E48605; }

.jqx-widget-content-flask {
  color: #000000;
  border-color: #E48605; }

.jqx-fill-state-normal-flask, .jqx-widget-header-flask, .jqx-menu-vertical-flask {
  border-color: #E48605;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x; }

.jqx-fill-state-hover-flask {
  border-color: #E48605;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #E74615;
  *background-color: #E74615;
  background-image: -moz-linear-gradient(top, #f89406, #e48605);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f89406), to(#e48605));
  background-image: -webkit-linear-gradient(top, #f89406, #e48605);
  background-image: -o-linear-gradient(top, #f89406, #e48605);
  background-image: linear-gradient(to bottom, #f89406, #e48605);
  background-repeat: repeat-x; }

.jqx-fill-state-pressed-flask, .jqx-menu-item-top-hover-flask {
  background: #044062;
  /* Old browsers */
  border-color: #325da7;
  color: #ffffff;
  background: #4d77c1;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4d77c1 0%, #325da7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d77c1), color-stop(100%, #325da7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4d77c1 0%, #325da7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4d77c1 0%, #325da7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4d77c1 0%, #325da7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4d77c1 0%, #325da7 100%);
  /* W3C */ }

/*checkbox images, grid cells*/
.jqx-checkbox-check-checked-flask {
  background: transparent url(images/check_white.png) left top no-repeat; }

.jqx-checkbox-check-indeterminate-flask {
  background: transparent url(images/check_indeterminate_white.png) left top no-repeat; }

.jqx-grid-flask, .jqx-grid-header-flask, .jqx-grid-cell-flask {
  border-color: #E48605; }

.jqx-widget-flask .jqx-grid-cell-flask, .jqx-widget-flask .jqx-grid-group-cell-flask {
  border-color: #FBB34E; }

.jqx-widget-flask .jqx-grid-column-header-flask {
  border-color: #E48605; }

.jqx-grid-bottomright-flask, .jqx-panel-bottomright-flask, .jqx-listbox-bottomright-flask {
  background-color: #FBB659; }

.jqx-widget-flask .jqx-grid-column-menubutton-flask, .jqx-menu-vertical-flask {
  border-color: #FBB34E; }

.jqx-grid-selectionarea-flask {
  background-color: #6eaad3;
  border: 1px solid #6eaad3;
  opacity: 0.5; }

.jqx-grid-group-cell-flask {
  border-color: #FBB34E;
  background-color: #fff; }

.jqx-grid-cell-flask, .jqx-widget-flask .jqx-grid-cell-flask {
  border-color: #FBB34E; }

.jqx-grid-cell-sort-flask, .jqx-grid-cell-filter-flask, .jqx-grid-cell-pinned-flask {
  background-color: #FCC67C; }

.jqx-grid-cell-alt-flask, .jqx-grid-cell-sort-alt-flask, .jqx-grid-cell-filter-alt-flask {
  background-color: #FCC67C; }

.jqx-scrollbar-state-normal-flask {
  background-color: #FBB659;
  border: 1px solid #FBB659; }

.jqx-tabs-title-selected-bottom-flask, .jqx-tabs-selection-tracker-bottom-flask, .jqx-tabs-title-selected-top-flask, .jqx-tabs-selection-tracker-top-flask {
  text-shadow: none;
  color: #000;
  border-color: #E48605;
  border-bottom: 1px solid #ffffff;
  background: #ffffff; }

.jqx-radiobutton-check-checked-flask {
  background: #fff;
  border-color: #fff; }

/*icons*/
.jqx-icon-arrow-left-flask {
  background-image: url("images/icon-left-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-icon-arrow-right-flask {
  background-image: url("images/icon-right-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-menu-item-arrow-left-flask {
  background-image: url("images/icon-left.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-menu-item-arrow-right-flask {
  background-image: url("images/icon-right.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-grid-column-sortascbutton-flask, .jqx-expander-arrow-bottom-flask, .jqx-window-collapse-button-flask, .jqx-menu-item-arrow-up-flask, .jqx-menu-item-arrow-up-selected-flask, .jqx-menu-item-arrow-top-up-flask, .jqx-icon-arrow-up-flask, .jqx-icon-arrow-up-hover-flask, .jqx-icon-arrow-up-selected-flask {
  background-image: url("images/icon-up-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-grid-column-menubutton-flask, .jqx-grid-column-sortdescbutton-flask, .jqx-expander-arrow-top-flask, .jqx-window-collapse-button-collapsed-flask, .jqx-menu-item-arrow-down-flask, .jqx-menu-item-arrow-down-selected-flask, .jqx-menu-item-arrow-down-flask, .jqx-icon-arrow-down-flask, .jqx-icon-arrow-down-hover-flask, .jqx-icon-arrow-down-selected-flask {
  background-image: url("images/icon-down-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-tabs-arrow-left-flask, .jqx-menu-item-arrow-left-selected-flask, .jqx-menu-item-arrow-top-left-flask, .jqx-icon-arrow-down-left-flask, .jqx-icon-arrow-left-selected-flask {
  background-image: url("images/icon-left-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-tabs-arrow-right-flask, .jqx-menu-item-arrow-right-selected-flask, .jqx-menu-item-arrow-top-right-flask, .jqx-icon-arrow-right-hover-flask, .jqx-icon-arrow-right-selected-flask {
  background-image: url("images/icon-right-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-window-close-button-flask, .jqx-icon-close-flask, .jqx-tabs-close-button-flask, .jqx-tabs-close-button-hover-flask, .jqx-tabs-close-button-selected-flask {
  background-image: url(images/close_white.png);
  background-repeat: no-repeat;
  background-position: center; }

.jqx-scrollbar-thumb-state-normal-horizontal-flask {
  background: #F9960A;
  border: 1px solid #E48605; }

.jqx-scrollbar-thumb-state-hover-horizontal-flask {
  background: #E48605;
  border: 1px solid #E48605; }

.jqx-scrollbar-thumb-state-pressed-horizontal-flask {
  background: #111086;
  border: 1px solid #070734; }

.jqx-scrollbar-thumb-state-normal-flask {
  background: #F9960A;
  border: 1px solid #E48605; }

.jqx-scrollbar-thumb-state-hover-flask {
  background: #E48605;
  border: 1px solid #E48605; }

.jqx-scrollbar-thumb-state-pressed-flask {
  background: #111086;
  border: 1px solid #070734; }

.jqx-icon-arrow-first-flask {
  background-image: url("images/icon-first-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-icon-arrow-last-flask {
  background-image: url("images/icon-last-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-grid-cell-flask > .jqx-grid-group-expand-flask {
  background-image: url("images/icon-down.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-grid-cell-flask > .jqx-grid-group-collapse-flask {
  background-image: url("images/icon-right.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-grid-cell-flask > .jqx-grid-group-collapse-rtl-flask {
  background-image: url("images/icon-left.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-grid-cell-flask > .jqx-grid-group-expand-rtl-flask {
  background-image: url("images/icon-down.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-grid-cell-flask.jqx-grid-cell-selected-flask > .jqx-grid-group-expand-flask,
.jqx-grid-cell-flask.jqx-grid-cell-hover-flask > .jqx-grid-group-expand-flask {
  background-image: url("images/icon-down-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-grid-cell-flask.jqx-grid-cell-selected-flask > .jqx-grid-group-collapse-flask,
.jqx-grid-cell-flask.jqx-grid-cell-hover-flask > .jqx-grid-group-collapse-flask {
  background-image: url("images/icon-right-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-grid-cell-flask.jqx-grid-cell-selected-flask > .jqx-grid-group-collapse-rtl-flask,
.jqx-grid-cell-flask.jqx-grid-cell-hover-flask > .jqx-grid-group-collapse-rtl-flask {
  background-image: url("images/icon-left-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-grid-cell-flask.jqx-grid-cell-selected-flask > .jqx-grid-group-expand-rtl-flask,
.jqx-grid-cell-flask.jqx-grid-cell-hover-flask > .jqx-grid-group-expand-rtl-flask {
  background-image: url("images/icon-down-white.png");
  background-repeat: no-repeat;
  background-position: center; }

.jqx-icon-search-flask {
  background-image: url(images/search_white.png);
  background-repeat: no-repeat;
  background-position: center; }

.jqx-icon-calendar-flask, .jqx-icon-calendar-hover-flask, .jqx-icon-calendar-pressed-flask {
  background-image: url("images/icon-calendar-white.png"); }

.jqx-icon-delete-flask {
  background-image: url("images/icon-delete-white.png"); }

.jqx-icon-edit-flask {
  background-image: url("images/icon-edit-white.png"); }

.jqx-icon-save-flask {
  background-image: url("images/icon-save-white.png"); }

.jqx-icon-cancel-flask {
  background-image: url("images/icon-cancel-white.png"); }

.jqx-icon-search-flask {
  background-image: url(images/search_white.png); }

.jqx-icon-plus-flask {
  background-image: url(images/plus_white.png); }

.jqx-menu-minimized-button-flask {
  background-image: url("images/icon-menu-minimized-white.png"); }

.jqx-widget-flask {
  font-family: Verdana; }

.jqx-widget-content-flask {
  color: #000000;
  text-shadow: none;
  border-color: #E48605;
  background: #ffffff;
  font-family: Verdana; }

.jqx-widget-header-flask, .jqx-grid-flask .jqx-widget-header-flask {
  color: #ffffff;
  text-shadow: none;
  border-color: #E48605;
  background-color: #F4BC6E;
  background-image: -moz-linear-gradient(top, #f4bc6e, #efbf7c);
  background-image: -ms-linear-gradient(top, #f4bc6e, #efbf7c);
  background-image: -o-linear-gradient(top, #f4bc6e, #efbf7c);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f4bc6e), to(#efbf7c));
  background-image: -webkit-linear-gradient(top, #f4bc6e, #efbf7c);
  background-image: linear-gradient(top, #f4bc6e, #efbf7c);
  background-image: linear-gradient(to bottom, #f4bc6e, #efbf7c);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana; }

.jqx-grid-column-menubutton-flask, .jqx-widget-flask.jqx-grid-column-menubutton-flask {
  border-color: #E48605; }

.jqx-grid-cell-flask, .jqx-widget-flask .jqx-grid-cell-flask {
  background-color: #ffffff;
  color: #222222;
  text-shadow: none; }

.jqx-fill-state-normal-flask {
  color: #ffffff;
  text-shadow: none;
  border-color: #E48605;
  background-color: #fbb450;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana; }

.jqx-button-flask {
  color: #ffffff;
  text-shadow: none;
  border-color: #E48605;
  background-color: #fbb450;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana; }

.jqx-grid-selectionarea-flask {
  border-color: #E48605;
  background-color: #fbb450; }

.jqx-widget-flask .jqx-grid-cell-sort-flask, .jqx-widget-flask .jqx-grid-cell-filter-flask, .jqx-widget-flask .jqx-grid-cell-pinned-flask, .jqx-grid-cell-sort-flask, .jqx-grid-cell-filter-flask, .jqx-grid-cell-pinned-flask {
  background-color: #FCC67C;
  color: #222222;
  text-shadow: none; }

.jqx-widget-flask .jqx-grid-cell-alt-flask, .jqx-widget-flask .jqx-grid-cell-sort-alt-flask, .jqx-widget-flask .jqx-grid-cell-pinned-alt-flask, .jqx-widget-flask .jqx-grid-cell-filter-alt-flask, .jqx-grid-cell-alt-flask, .jqx-grid-cell-sort-alt-flask, .jqx-grid-cell-filter-alt-flask {
  background-color: #FCC67C;
  color: #222222;
  text-shadow: none; }

.jqx-fill-state-hover-flask, .jqx-widget-flask .jqx-grid-cell-hover-flask {
  color: #ffffff;
  text-shadow: none;
  border-color: #E48605;
  background-color: #FCC983;
  background-image: -moz-linear-gradient(top, #fcc983, #efb973);
  background-image: -ms-linear-gradient(top, #fcc983, #efb973);
  background-image: -o-linear-gradient(top, #fcc983, #efb973);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fcc983), to(#efb973));
  background-image: -webkit-linear-gradient(top, #fcc983, #efb973);
  background-image: linear-gradient(top, #fcc983, #efb973);
  background-image: linear-gradient(to bottom, #fcc983, #efb973);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana; }

.jqx-fill-state-pressed-flask, .jqx-widget-flask .jqx-grid-cell-selected-flask {
  color: #ffffff;
  text-shadow: none;
  border-color: #FC7B0A;
  background-color: #F7B97B;
  background-image: -moz-linear-gradient(top, #f7b97b, #f7b97b);
  background-image: -ms-linear-gradient(top, #f7b97b, #f7b97b);
  background-image: -o-linear-gradient(top, #f7b97b, #f7b97b);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f7b97b), to(#f7b97b));
  background-image: -webkit-linear-gradient(top, #f7b97b, #f7b97b);
  background-image: linear-gradient(top, #f7b97b, #f7b97b);
  background-image: linear-gradient(to bottom, #f7b97b, #f7b97b);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana; }

.jqx-switchbutton-label-on-flask {
  color: #ffffff;
  text-shadow: none;
  border-color: #FC7B0A;
  background-color: #F7B97B;
  background-image: -moz-linear-gradient(top, #f7b97b, #f7b97b);
  background-image: -ms-linear-gradient(top, #f7b97b, #f7b97b);
  background-image: -o-linear-gradient(top, #f7b97b, #f7b97b);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f7b97b), to(#f7b97b));
  background-image: -webkit-linear-gradient(top, #f7b97b, #f7b97b);
  background-image: linear-gradient(top, #f7b97b, #f7b97b);
  background-image: linear-gradient(to bottom, #f7b97b, #f7b97b);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-tabs-title-selected-top-flask, .jqx-tabs-selection-tracker-top-flask {
  color: #000000;
  text-shadow: none;
  border-color: #E48605;
  border-bottom: 1px solid #ffffff;
  background-image: none;
  background-color: #ffffff; }

.jqx-tabs-title-selected-bottom-flask, .jqx-tabs-selection-tracker-bottom-flask {
  color: #000000;
  text-shadow: none;
  border-color: #E48605;
  border-top: 1px solid #ffffff;
  background-image: none;
  background-color: #ffffff; }

.jqx-splitter-splitbar-hover-flask {
  background: #FCC983; }

.jqx-splitter-splitbar-vertical-flask, .jqx-splitter-splitbar-horizontal-flask, .jqx-slider-track-horizontal-flask, .jqx-slider-track-vertical-flask {
  background: #fbb450; }

.jqx-splitter-collapse-button-horizontal-flask, .jqx-splitter-collapse-button-vertical-flask, .jqx-slider-rangebar-flask {
  background: #F7B97B; }

.jqx-scrollbar-state-normal-flask {
  background-color: #FBB659;
  border-color: #FBB659; }

.jqx-grid-bottomright-flask, .jqx-panel-bottomright-flask, .jqx-listbox-bottomright-flask {
  background-color: #FBB659; }

.jqx-scrollbar-thumb-state-normal-flask {
  background-color: #F9960A;
  background-color: #F9960A;
  background-image: -moz-linear-gradient(left, #f9960a, #f9960a);
  background-image: -ms-linear-gradient(left, #f9960a, #f9960a);
  background-image: -o-linear-gradient(left, #f9960a, #f9960a);
  background-image: -webkit-gradient(linear, left top, right top, from(#f9960a), to(#f9960a));
  background-image: -webkit-linear-gradient(left, #f9960a, #f9960a);
  background-image: linear-gradient(left, #f9960a, #f9960a);
  background-image: linear-gradient(left right, #f9960a, #f9960a); }

.jqx-scrollbar-thumb-state-normal-horizontal-flask {
  background-color: #F9960A;
  background-color: #F9960A;
  background-image: -moz-linear-gradient(top, #f9960a, #f9960a);
  background-image: -ms-linear-gradient(top, #f9960a, #f9960a);
  background-image: -o-linear-gradient(top, #f9960a, #f9960a);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f9960a), to(#f9960a));
  background-image: -webkit-linear-gradient(top, #f9960a, #f9960a);
  background-image: linear-gradient(top, #f9960a, #f9960a);
  background-image: linear-gradient(to bottom, #f9960a, #f9960a);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-scrollbar-thumb-state-hover-flask {
  background-color: #E48605;
  border-color: #E48605;
  background-image: -moz-linear-gradient(left, #e48605, #e48605);
  background-image: -ms-linear-gradient(left, #e48605, #e48605);
  background-image: -o-linear-gradient(left, #e48605, #e48605);
  background-image: -webkit-gradient(linear, left top, right top, from(#e48605), to(#e48605));
  background-image: -webkit-linear-gradient(left, #e48605, #e48605);
  background-image: linear-gradient(left, #e48605, #e48605);
  background-image: linear-gradient(left right, #e48605, #e48605); }

.jqx-scrollbar-thumb-state-hover-horizontal-flask {
  background-color: #E48605;
  border-color: #E48605;
  background-image: -moz-linear-gradient(top, #e48605, #e48605);
  background-image: -ms-linear-gradient(top, #e48605, #e48605);
  background-image: -o-linear-gradient(top, #e48605, #e48605);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e48605), to(#e48605));
  background-image: -webkit-linear-gradient(top, #e48605, #e48605);
  background-image: linear-gradient(top, #e48605, #e48605);
  background-image: linear-gradient(to bottom, #e48605, #e48605);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-scrollbar-thumb-state-pressed-flask {
  background-color: #111086;
  border-color: #111086;
  background-image: -moz-linear-gradient(left, #111086, #111086);
  background-image: -ms-linear-gradient(left, #111086, #111086);
  background-image: -o-linear-gradient(left, #111086, #111086);
  background-image: -webkit-gradient(linear, left top, right top, from(#111086), to(#111086));
  background-image: -webkit-linear-gradient(left, #111086, #111086);
  background-image: linear-gradient(left, #111086, #111086);
  background-image: linear-gradient(left right, #111086, #111086); }

.jqx-scrollbar-thumb-state-pressed-horizontal-flask {
  background-color: #111086;
  border-color: #111086;
  background-image: -moz-linear-gradient(top, #111086, #111086);
  background-image: -ms-linear-gradient(top, #111086, #111086);
  background-image: -o-linear-gradient(top, #111086, #111086);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#111086), to(#111086));
  background-image: -webkit-linear-gradient(top, #111086, #111086);
  background-image: linear-gradient(top, #111086, #111086);
  background-image: linear-gradient(to bottom, #111086, #111086);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-scrollbar-button-state-normal-flask {
  background-color: #FBB659;
  background-image: -moz-linear-gradient(top, #fbb659, #fbb659);
  background-image: -ms-linear-gradient(top, #fbb659, #fbb659);
  background-image: -o-linear-gradient(top, #fbb659, #fbb659);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fbb659), to(#fbb659));
  background-image: -webkit-linear-gradient(top, #fbb659, #fbb659);
  background-image: linear-gradient(top, #fbb659, #fbb659);
  background-image: linear-gradient(to bottom, #fbb659, #fbb659);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-scrollbar-button-state-hover-flask {
  background-color: #f89406;
  border-color: #E48605;
  background-image: -moz-linear-gradient(top, #f89406, #e48605);
  background-image: -ms-linear-gradient(top, #f89406, #e48605);
  background-image: -o-linear-gradient(top, #f89406, #e48605);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f89406), to(#e48605));
  background-image: -webkit-linear-gradient(top, #f89406, #e48605);
  background-image: linear-gradient(top, #f89406, #e48605);
  background-image: linear-gradient(to bottom, #f89406, #e48605);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-scrollbar-button-state-pressed-flask {
  background-color: #4d77c1;
  border-color: #325da7;
  background-image: -moz-linear-gradient(top, #4d77c1, #325da7);
  background-image: -ms-linear-gradient(top, #4d77c1, #325da7);
  background-image: -o-linear-gradient(top, #4d77c1, #325da7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4d77c1), to(#325da7));
  background-image: -webkit-linear-gradient(top, #4d77c1, #325da7);
  background-image: linear-gradient(top, #4d77c1, #325da7);
  background-image: linear-gradient(to bottom, #4d77c1, #325da7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-radiobutton-check-checked-flask {
  background: #ffffff;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid; }

.jqx-rc-tl-flask {
  -moz-border-radius-topleft: 3px;
  -webkit-border-radius-topleft: 3px;
  border-radius-topleft: 3px; }

.jqx-rc-tr-flask {
  -moz-border-radius-topright: 3px;
  -webkit-border-radius-topright: 3px;
  border-radius-topright: 3px; }

.jqx-rc-bl-flask {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius-bottomleft: 3px;
  border-radius-bottomleft: 3px; }

.jqx-rc-br-flask {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-radius-bottomright: 3px;
  border-radius-bottomright: 3px; }

.jqx-rc-t-flask {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px; }

.jqx-rc-b-flask {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.jqx-rc-r-flask {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.jqx-rc-l-flask {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.jqx-radiobutton-default-flask, .jqx-radiobutton-flask, .jqx-radiobutton-check-checked-flask, .jqx-radiobutton-hover-flask, .jqx-radiobutton-check-indeterminate-flask, .jqx-radiobutton-check-indeterminate-disabled-flask, .jqx-slider-button-flask {
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important; }

.jqx-rc-all-flask, .jqx-tooltip-flask, .jqx-tooltip-text-flask, .jqx-tooltip-main-flask {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.jqx-grid-column-sortascbutton-flask, .jqx-expander-arrow-bottom-flask, .jqx-window-collapse-button-flask, .jqx-menu-item-arrow-up-flask, .jqx-menu-item-arrow-top-up-flask, .jqx-icon-arrow-up-flask {
  background-image: url("images/icon-up-white.png"); }

.jqx-icon-arrow-up-hover-flask {
  background-image: url("images/icon-up-white.png"); }

.jqx-menu-item-arrow-up-selected-flask, .jqx-icon-arrow-up-selected-flask.jqx-expander-arrow-expanded-flask {
  background-image: url("images/icon-up-white.png"); }

.jqx-grid-column-menubutton-flask, .jqx-grid-column-sortdescbutton-flask, .jqx-expander-arrow-top-flask, .jqx-window-collapse-button-collapsed-flask, .jqx-menu-item-arrow-down-flask, .jqx-menu-item-arrow-down-flask, .jqx-tree-item-arrow-expand-flask, .jqx-grid-group-expand-flask, .jqx-widget-flask .jqx-grid-group-expand-flask, .jqx-icon-arrow-down-flask {
  background-image: url("images/icon-down-white.png"); }

.jqx-icon-arrow-down-hover-flask {
  background-image: url("images/icon-down-white.png"); }

.jqx-menu-item-arrow-down-selected-flask, .jqx-icon-arrow-down-selected-flask {
  background-image: url("images/icon-down-white.png"); }

.jqx-tabs-arrow-left-flask, .jqx-menu-item-arrow-top-left-flask, .jqx-grid-group-collapse-rtl-flask, .jqx-widget-flask .jqx-grid-group-collapse-rtl-flask, .jqx-icon-arrow-left-flask, .jqx-icon-arrow-down-left-flask {
  background-image: url("images/icon-left-white.png"); }

.jqx-icon-arrow-left-hover-flask {
  background-image: url("images/icon-left-white.png"); }

.jqx-menu-vertical-flask {
  background: #ffffff; }

.jqx-menu-item-arrow-left-selected-flask, .jqx-icon-arrow-left-selected-flask {
  background-image: url("images/icon-left-white.png"); }

.jqx-tabs-arrow-right-flask, .jqx-menu-item-arrow-top-right-flask, .jqx-menu-item-arrow-collapse-flask, .jqx-grid-group-collapse-flask, .jqx-widget-flask .jqx-grid-group-collapse-flask, .jqx-icon-arrow-right-flask {
  background-image: url("images/icon-right-white.png"); }

.jqx-icon-arrow-right-hover-flask {
  background-image: url("images/icon-right-white.png"); }

.jqx-menu-item-arrow-right-selected-flask, .jqx-icon-arrow-right-selected-flask {
  background-image: url("images/icon-right-white.png"); }

.jqx-window-close-button-flask, .jqx-tabs-close-button-flask, .icon-close-flask {
  background-image: url("images/close_white.png"); }

.jqx-tabs-close-button-selected-flask {
  background-image: url("images/close_white.png"); }

.jqx-tabs-close-button-hover-flask {
  background-image: url("images/close_white.png"); }

.jqx-widget-flask .jqx-grid-column-header-flask, .jqx-widget-flask .jqx-grid-cell-flask, .jqx-widget-flask .jqx-grid-group-cell-flask, .jqx-grid-cell-flask {
  border-color: #E48605; }

.jqx-checkbox-check-checked-flask {
  background-image: url("images/check_white.png"); }

.jqx-checkbox-check-indeterminate-flask {
  background-image: url("images/check_indeterminate_white.png"); }

.jqx-tooltip-flask, .jqx-tooltip-main-flask {
  color: #ffffff;
  text-shadow: none;
  border-color: #E48605;
  background-color: #fbb450;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box; }

.jqx-combobox-content-flask, .jqx-input-flask {
  color: #000000;
  text-shadow: none;
  border-color: #E48605;
  background-color: #ffffff; }

.jqx-combobox-input-flask {
  color: #000000;
  text-shadow: none; }

.jqx-input-content-flask {
  color: #000000;
  text-shadow: none;
  background-color: #ffffff; }

.jqx-fill-state-focus-flask, .jqx-popup-flask .jqx-fill-state-focus-flask {
  border-color: #111111; }

.jqx-popup-flask.jqx-listbox-flask, .jqx-popup-flask.jqx-calendar-flask, .jqx-menu-dropdown-flask, .jqx-popup-flask.jqx-dropdownbutton-popup-flask {
  color: #000000;
  text-shadow: none;
  border-color: #E48605;
  background-color: #ffffff; }

.jqx-menu-item-arrow-right-flask, .jqx-tree-item-arrow-collapse-flask {
  background-image: url("images/icon-right.png"); }

.jqx-menu-item-arrow-left-flask {
  background-image: url("images/icon-left.png"); }

.jqx-tree-item-arrow-expand-flask {
  background-image: url("images/icon-down.png"); }

.jqx-menu-item-arrow-right-hover-flask {
  background-image: url("images/icon-right-white.png"); }

.jqx-menu-item-arrow-left-hover-flask {
  background-image: url("images/icon-left-white.png"); }

.jqx-menu-item-arrow-right-selected-flask {
  background-image: url("images/icon-right-white.png"); }

.jqx-menu-item-arrow-left-selected-flask {
  background-image: url("images/icon-left-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-up-flask {
  background-image: url("images/icon-up-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-left-flask {
  background-image: url("images/icon-left-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-right-flask {
  background-image: url("images/icon-right-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-bottom-flask {
  background-image: url("images/icon-bottom-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-up-hover-flask {
  background-image: url("images/icon-up-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-left-hover-flask {
  background-image: url("images/icon-left-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-right-hover-flask {
  background-image: url("images/icon-right-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-bottom-hover-flask {
  background-image: url("images/icon-bottom-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-up-selected-flask {
  background-image: url("images/icon-up-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-left-selected-flask {
  background-image: url("images/icon-left-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-right-selected-flask {
  background-image: url("images/icon-right-white.png"); }

.jqx-scrollbar-flask .jqx-icon-arrow-bottom-selected-flask {
  background-image: url("images/icon-bottom-white.png"); }

.jqx-widget-flask .jqx-grid-cell-flask, .jqx-listitem-state-normal-flask, .jqx-menu-item-normal-flask, .jqx-tree-item-normal-flask, .jqx-calendar-cell-flask, .jqx-grid-cell-flask, .jqx-menu-vertical-flask .jqx-menu-item-top-normal-flask, .jqx-input-popup-flask .jqx-fill-state-normal-flask {
  font-family: Verdana; }

.jqx-widget-flask .jqx-grid-cell-hover-flask, .jqx-listitem-state-hover-flask, .jqx-menu-item-hover-flask, .jqx-tree-item-hover-flask, .jqx-calendar-cell-hover-flask, .jqx-grid-cell-hover-flask, .jqx-menu-vertical-flask .jqx-menu-item-top-hover-flask, .jqx-input-popup-flask .jqx-fill-state-hover-flask, .jqx-input-button-header-flask, .jqx-input-popup-flask .jqx-fill-state-pressed-flask, .jqx-input-button-header-flask {
  font-family: Verdana; }

.jqx-widget-flask .jqx-grid-cell-selected-flask, .jqx-listitem-state-selected-flask, .jqx-menu-item-selected-flask, .jqx-tree-item-selected-flask, .jqx-calendar-cell-selected-flask, .jqx-grid-cell-selected-flask, .jqx-menu-vertical-flask .jqx-menu-item-top-selected-flask, .jqx-grid-selectionarea-flask {
  font-family: Verdana; }

.jqx-icon-calendar-flask {
  background-image: url("images/icon-calendar-white.png"); }

.jqx-icon-calendar-hover-flask {
  background-image: url("images/icon-calendar-white.png"); }

.jqx-icon-calendar-pressed-flask {
  background-image: url("images/icon-calendar-white.png"); }

.jqx-icon-first-flask {
  background-image: url("images/icon-first-white.png"); }

.jqx-icon-first-hover-flask {
  background-image: url("images/icon-first-white.png"); }

.jqx-icon-first-selected-flask {
  background-image: url("images/icon-first-white.png"); }

.jqx-icon-last-flask {
  background-image: url("images/icon-last-white.png"); }

.jqx-icon-last-hover-flask {
  background-image: url("images/icon-last-white.png"); }

.jqx-icon-last-selected-flask {
  background-image: url("images/icon-last-white.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-flask > .jqx-grid-group-expand-flask {
  background-image: url("images/icon-down.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-hover-flask > .jqx-grid-group-expand-flask {
  background-image: url("images/icon-down-white.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-selected-flask > .jqx-grid-group-expand-flask {
  background-image: url("images/icon-down-white.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-flask > .jqx-grid-group-collapse-flask {
  background-image: url("images/icon-right.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-hover-flask > .jqx-grid-group-collapse-flask {
  background-image: url("images/icon-right-white.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-selected-flask > .jqx-grid-group-collapse-flask {
  background-image: url("images/icon-right-white.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-flask > .jqx-grid-group-expand-rtl-flask {
  background-image: url("images/icon-down.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-hover-flask > .jqx-grid-group-expand-rtl-flask {
  background-image: url("images/icon-down-white.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-selected-flask > .jqx-grid-group-expand-rtl-flask {
  background-image: url("images/icon-down-white.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-flask > .jqx-grid-group-collapse-rtl-flask {
  background-image: url("images/icon-left.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-hover-flask > .jqx-grid-group-collapse-rtl-flask {
  background-image: url("images/icon-left-white.png"); }

.jqx-grid-cell-flask.jqx-grid-cell-selected-flask > .jqx-grid-group-collapse-rtl-flask {
  background-image: url("images/icon-left-white.png"); }

.jqx-grid-column-menubutton-flask, .jqx-grid-column-sortdescbutton-flask {
  background-image: url("images/icon-down-white.png"); }

.jqx-grid-column-sortascbutton-flask {
  background-image: url("images/icon-up-white.png"); }

.jqx-icon-delete-flask {
  background-image: url("images/icon-delete-white.png"); }

.jqx-icon-edit-flask {
  background-image: url("images/icon-edit-white.png"); }

.jqx-icon-save-flask {
  background-image: url("images/icon-save-white.png"); }

.jqx-icon-cancel-flask {
  background-image: url("images/icon-cancel-white.png"); }

.jqx-icon-search-flask {
  background-image: url("images/icon-search_white.png"); }

.jqx-icon-plus-flask {
  background-image: url("images/icon-plus_white.png"); }

