/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

.flask-nav-item{
	color: red;
	cursor: pointer;
	font-size: 16px;
}


 .menuitem
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 200px;
    padding: 5px;
    overflow: hidden;
    border: none;
    font: normal 16px/1 "Coda" , Helvetica, sans-serif;
    color: #ffffff;
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #231F20;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.menuitem:hover {
  color: #ff9900;
  cursor:pointer;
}
.menuitem span 
{
    font-size: 12px;
}
.menuitem:hover span
{
    color:  #ff9900;
}
.highlight
{
    color:   #ff9900;
}
.menuitem a
{
	color: white;
	text-decoration: none;
	 font: normal 16px/1 "Coda" , Helvetica, sans-serif;
}

.menuitem a:hover
{
	color:  #ff9900;
	text-decoration: none;
}