@import "mixins";



.portlet-column-content.empty {
 padding: 50px;
}



#wrapper {
 padding: 0 0 0;
 position: relative;

 @include respond-to(mp) {
  padding-left: 0.5em;
  padding-right: 0.5em;
 }

 @include respond-to(tablet) {
  padding-left: 2em;
  padding-right: 2em;
 }
}