#wrapper .contacts-portlet .panel-page-body {
  padding: 0; }

.contacts-portlet .clear {
  clear: both; }
.contacts-portlet .alert {
  display: block; }
.contacts-portlet .btn-hidden {
  display: none; }
.contacts-portlet .column-content, .contacts-portlet .column-content-center {
  padding: 0; }
.contacts-portlet #_1_WAR_contactsportlet_fm,
.contacts-portlet .portlet .portlet-content .control-group {
  margin-bottom: 0; }
.contacts-portlet .toolbar-content .filter-container {
  float: left; }
.contacts-portlet .contact-group-filter {
  font-size: 14px;
  min-height: 31px; }
  .contacts-portlet .contact-group-filter .contact-group-filter-select {
    width: 224px; }
  .contacts-portlet .contact-group-filter .contact-group-filter-content {
    padding: 5px; }
  .contacts-portlet .contact-group-filter input[type="checkbox"] {
	display: none;
    margin: 0; }
  .contacts-portlet .contact-group-filter .control-group, .contacts-portlet .contact-group-filter select {
    margin-bottom: 0; }
.contacts-portlet .lfr-contact {
  border-bottom: 1px solid #c9c9c9; }
  .contacts-portlet .lfr-contact .lfr-contact-checkbox {
	display: none;
    float: left;
    padding: 5px; }
.contacts-portlet .lfr-contact-grid-item, .contacts-portlet .lfr-detail-info {
  display: block;
  overflow: hidden; }
  .contacts-portlet .lfr-contact-grid-item .comments, .contacts-portlet .lfr-detail-info .comments {
    margin-left: 10px; }
  .contacts-portlet .lfr-contact-grid-item .lfr-contact-thumb, .contacts-portlet .lfr-detail-info .lfr-contact-thumb {
    float: left; }
  .contacts-portlet .lfr-contact-grid-item .lfr-contact-thumb img, .contacts-portlet .lfr-detail-info .lfr-contact-thumb img {
    width: 100px; }
  .contacts-portlet .lfr-contact-grid-item .lfr-contact-info, .contacts-portlet .lfr-detail-info .lfr-contact-info {
    margin-left: 100px; }
    .contacts-portlet .lfr-contact-grid-item .lfr-contact-info.no-icon, .contacts-portlet .lfr-detail-info .lfr-contact-info.no-icon {
      margin-left: 0; }
    .contacts-portlet .lfr-contact-grid-item .lfr-contact-info .lfr-contact-name, .contacts-portlet .lfr-detail-info .lfr-contact-info .lfr-contact-name {
       }
    .contacts-portlet .lfr-contact-grid-item .lfr-contact-info .lfr-contact-extra, .contacts-portlet .lfr-detail-info .lfr-contact-info .lfr-contact-extra {
      color: #777; }
    .contacts-portlet .lfr-contact-grid-item .lfr-contact-info .lfr-social-relations, .contacts-portlet .lfr-detail-info .lfr-contact-info .lfr-social-relations {
      margin-top: 5px; }
      .contacts-portlet .lfr-contact-grid-item .lfr-contact-info .lfr-social-relations span, .contacts-portlet .lfr-detail-info .lfr-contact-info .lfr-social-relations span {
        margin-right: 10px; }
  .contacts-portlet .lfr-contact-grid-item .lfr-contact-extra, .contacts-portlet .lfr-contact-grid-item .lfr-contact-job-title, .contacts-portlet .lfr-contact-grid-item .lfr-contact-name, .contacts-portlet .lfr-detail-info .lfr-contact-extra, .contacts-portlet .lfr-detail-info .lfr-contact-job-title, .contacts-portlet .lfr-detail-info .lfr-contact-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
.contacts-portlet .contacts-container .lfr-contact-grid-item {
  border: 1px solid #D7D4D1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
  height: 70px;
  padding: 5px;}
  .contacts-portlet .contacts-container .lfr-contact-grid-item .lfr-contact-thumb img {
    width: 80px; }
.contacts-portlet .contacts-container .lfr-selected-user {
  cursor: pointer; }
  .contacts-portlet .contacts-container .lfr-selected-user.alt {
    background-color: #F5F8FB; }
  .contacts-portlet .contacts-container .lfr-selected-user:hover {
    background-color: #E8EFF4; }
.contacts-portlet .contacts-container .alert.alert-success {
  border-width: 0 0 1px;
  margin: 0; }
.contacts-portlet .toggle-user {
  display: none; }
.contacts-portlet .contacts-result .lfr-contact-grid-item, .contacts-portlet .my-contacts .lfr-contact-grid-item {
  border: 1px solid #D7D4D1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
  height: 70px;
  padding: 5px;}
  .contacts-portlet .contacts-result .lfr-contact-grid-item .lfr-contact-thumb, .contacts-portlet .my-contacts .lfr-contact-grid-item .lfr-contact-thumb {
  border: 5px #000000;
		 -moz-border-radius: 3px;
		 -webkit-border-radius: 3px;
		 border-radius: 3px;
		 background-color: rgba(0, 0, 0, 0.60);
		 background: rgba(0, 0, 0, 0.60);
		 color: rgba(0, 0, 0, 0.60);
    height: 70px;
    overflow: hidden; }
    .contacts-portlet .contacts-result .lfr-contact-grid-item .lfr-contact-thumb img, .contacts-portlet .my-contacts .lfr-contact-grid-item .lfr-contact-thumb img {
      width: 70px; }
.contacts-portlet .contacts-result {
  border-right: 1px solid #C9C9C9;
  width: 30%; }
  .contacts-portlet .contacts-result .contacts-result-content {
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 40px;
    width: 250px; }
    .contacts-portlet .contacts-result .contacts-result-content .more-results a {
      border: 1px solid #CCC;
      display: block;
      margin: 5px;
      padding: 2px;
      text-align: center; }
      .contacts-portlet .contacts-result .contacts-result-content .more-results a:hover {
        background-color: #CCE6F7;
        text-decoration: underline; }
  .contacts-portlet .contacts-result .lfr-contact-grid-item .lfr-contact-info {
    font-size: 1em;
    margin-left: 0;
    overflow-x: hidden;
    padding-left: 10px; }
  .contacts-portlet .contacts-result .lfr-contact-grid-item:hover, .contacts-portlet .contacts-result .more-results a {
    background-color: #E8EFF4; }
  .contacts-portlet .contacts-result .empty {
    margin: 5px; }
    .contacts-portlet .contacts-result .empty .icon-warning-sign {
      margin-right: 10px; }
  .contacts-portlet .contacts-result .last-name-anchor a {
    background: #cce6f7;
    border-bottom: 1px solid #c9c9c9;
    cursor: default;
    display: block;
    padding: 1px 5px; }
  .contacts-portlet .contacts-result a:hover {
    text-decoration: none; }
.contacts-portlet .personal-contact-list .contacts-result-content {
  top: 38px; }
.contacts-portlet .my-contacts {
  padding-left: 8px; }
  .contacts-portlet .my-contacts .lfr-contact-grid-item .lfr-contact-info {
    margin-left: 40px; }
.contacts-portlet .contacts-home {
  padding: 5px; }
.contacts-portlet .contacts-profile .lfr-detail-info {
  border-bottom-width: 0;
  width: 100%; }
.contacts-portlet .contacts-profile .lfr-contact-thumb, .contacts-portlet .contacts-profile .lfr-contact-info {
  padding: 10px 10px 5px; }
.contacts-portlet .contacts-profile .lfr-contact-name {
  font-size: 2em;
  height: 1.25em;
  line-height: 1em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis; }
.contacts-portlet .contacts-profile .lfr-contact-name a {
  position: absolute; }
.contacts-portlet .contacts-profile .lfr-contact-job-title {
  color: #777;
  font-size: 1.25em;
  font-weight: bold; }
.contacts-portlet .contacts-profile .column-content {
  padding: 10px; }
.contacts-portlet .contacts-profile .column:before {
  border-width: 0; }
.contacts-portlet .contacts-profile .social-relations .lfr-asset-metadata {
  display: none; }
.contacts-portlet .contacts-profile .field-group .icon-edit {
  display: none; }
.contacts-portlet .contacts-result-container-content {
  padding-left: 250px;
  position: relative; }
  .contacts-portlet .contacts-result-container-content .contacts-list {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 250px; }
    .contacts-portlet .contacts-result-container-content .contacts-list .contacts-search {
      border-bottom: 1px solid #c9c9c9;
      height: 31px;
      padding: 4px 5px; }
      .contacts-portlet .contacts-result-container-content .contacts-list .contacts-search .search-input {
        padding-right: 25px;
        width: 208px; }
      .contacts-portlet .contacts-result-container-content .contacts-list .contacts-search .icon-search {
        color: #c9c9c9;
        position: absolute;
        right: 11px;
        top: 11px; }
  .contacts-portlet .contacts-result-container-content .contacts-container {
    float: none;
    min-height: 600px;
    width: 100%; }
    .contacts-portlet .contacts-result-container-content .contacts-container .contacts-container-content {
       }
    .contacts-portlet .contacts-result-container-content .contacts-container .lfr-button-column {
      border-bottom: 1px solid #c9c9c9;
      overflow: hidden;
      padding: 4px 6px 5px; }
      .contacts-portlet .contacts-result-container-content .contacts-container .lfr-button-column .edit-toolbar {
        margin: 0;
        overflow: visible; }
    .contacts-portlet .contacts-result-container-content .contacts-container .view-more-button {
      display: none; }
  .contacts-portlet .contacts-result-container-content .contacts-action-content .action {
    padding: 5px 4px; }
  .contacts-portlet .contacts-result-container-content .contacts-profile .lfr-contact-info {
    padding: 8px; }
.contacts-portlet .social-relations {
  width: auto; }
  .contacts-portlet .social-relations a {
    display: inline-block;
    margin: 4px 0;
    padding: 3px 4px; }
    .contacts-portlet .social-relations a:hover {
      text-decoration: none; }
.contacts-portlet .contacts-action-content {
  margin-left: 10px; }
  .contacts-portlet .contacts-action-content .action {
    display: inline-block; }
.contacts-portlet .search-column {
  width: 240px; }
.contacts-portlet .section {
  border-bottom: 1px solid #E7E7E7;
  clear: both;
  float: none;
  padding: 10px;
  width: auto;
  zoom: 1; }
  .contacts-portlet .section:after {
    content: "";
    display: block;
    clear: both; }
  .contacts-portlet .section h3 {
    color: #B4BEC8;
    float: left;
    font-size: 1em;
    line-height: 20px;
    margin: 0;
    text-align: right;
    width: 100px; }
  .contacts-portlet .section .property-list {
    margin: 0 0 0 105px;
    padding: 0; }
.contacts-portlet .layout.toolbar {
  border-bottom: 1px solid #c9c9c9;
  min-height: 31px; }
  .contacts-portlet .layout.toolbar .add-contact {
    float: right;
    margin: 5px; }
.contacts-portlet .portlet .portlet-content {
  padding: 0; }
  .contacts-portlet .portlet .portlet-content .portlet-body form {
    margin: 0; }
  .contacts-portlet .portlet .portlet-content .portlet-body .lfr-app-column-view {
    border-width: 0; }
.contacts-portlet .property-type {
  font-weight: bold; }
.contacts-portlet .property-list li {
  list-style: none; }
.contacts-portlet .user-information-title {
  color: #666;
  font-size: 1.5em;
  text-align: right;
  width: 110px; }
.contacts-portlet .lfr-user-info-container {
  margin-bottom: 10px; }
.contacts-portlet .lfr-user-comments {
  float: none; }
.contacts-portlet .contacts-center-home .contacts-center-home-content {
display: none;
  padding: 10px; }
.contacts-portlet .contacts-center-home .header-title {
  margin: 0px; }
.contacts-portlet .contacts-center-home .contacts-count {
  font-weight: bold; }
  .contacts-portlet .contacts-center-home .contacts-count, .contacts-portlet .contacts-center-home .contacts-count .contacts-center-introduction {
    margin: 5px 0; }
.contacts-portlet .export-group {
  margin-top: 1em; }
.contacts-portlet .lfr-user-profile-preferences {
  margin-left: 20px; }
.contacts-portlet .lfr-user-action-confirm a {
  background: url(@theme_image_path@/common/activate.png) no-repeat; }
.contacts-portlet .lfr-user-action-ignore a {
  background: url(@theme_image_path@/common/deactivate.png) no-repeat; }
.contacts-portlet .lfr-asset-metadata {
  margin-bottom: 5px; }
  .contacts-portlet .lfr-asset-metadata .lfr-asset-coworker, .contacts-portlet .lfr-asset-metadata .lfr-asset-follower, .contacts-portlet .lfr-asset-metadata .lfr-asset-following {
    padding: 0 20px; }
.contacts-portlet .members-container {
  clear: both;
  margin: 1em 0; }
.contacts-portlet .lfr-members-grid-item {
  float: left;
  height: 50px;
  margin-bottom: 10px;
  max-width: 300px;
  min-width: 200px;
  overflow: hidden;
  width: 25%; }
  .contacts-portlet .lfr-members-grid-item .lfr-members-thumb {
    float: left;
    margin: 0 5px; }
    .contacts-portlet .lfr-members-grid-item .lfr-members-thumb a {
      clip: rect(0 50px 50px 0);
      position: absolute; }
    .contacts-portlet .lfr-members-grid-item .lfr-members-thumb img {
      width: 50px; }
  .contacts-portlet .lfr-members-grid-item .lfr-user-data-info {
    margin-left: 60px; }
  .contacts-portlet .lfr-members-grid-item .lfr-user-data-name {
    font-weight: bold; }
  .contacts-portlet .lfr-members-grid-item .lfr-user-data-extra, .contacts-portlet .lfr-members-grid-item .lfr-user-data-job-title, .contacts-portlet .lfr-members-grid-item .lfr-user-data-name a {
    overflow: hidden;
    text-overflow: hidden;
    word-wrap: nowrap; }
.contacts-portlet .edit-profile {
  cursor: pointer; }
.contacts-portlet .lfr-panel, .contacts-portlet .taglib-header {
  margin-bottom: 1em; }
.contacts-portlet .lfr-search-container {
  margin-top: 1em; }
.contacts-portlet .contacts-profile {
  overflow: hidden; }
.contacts-portlet .my-profile .field-group {
  position: relative; }
  .contacts-portlet .my-profile .field-group .icon-edit {
    position: absolute;
    right: 5px;
    top: 5px; }
  .contacts-portlet .my-profile .field-group:hover {
    background: #E9E8E8;
    cursor: pointer; }
    .contacts-portlet .my-profile .field-group:hover .icon-edit {
      display: block; }
.contacts-portlet .profile-actions {
  background: #EEE;
  border: 1px solid #C7D0DA;
  margin: 20px 65px;
  padding: 4px 4px 0; }
  .contacts-portlet .profile-actions .alert.alert-info {
    background-color: transparent;
    border-width: 0;
    margin: 0; }
  .contacts-portlet .profile-actions h3 {
    color: #B4BEC8;
    float: left;
    font-size: 1em;
    margin: 0;
    text-align: right;
    width: 100px; }
  .contacts-portlet .profile-actions .field-actions-toolbar .actions-conjunction {
    display: inline-block;
    font-weight: bold;
    list-style: none;
    padding: 10px 5px; }
  .contacts-portlet .profile-actions .field-actions-toolbar .settings-actions {
    display: inline-block;
    margin: 0px;
    padding-left: 24px; }
  .contacts-portlet .profile-actions .field-actions-toolbar .settings-header-label {
    font-weight: bold;
    padding: 0 5px; }
  .contacts-portlet .profile-actions .field-actions-toolbar .action-field {
    float: left;
    margin: 2px; }
  .contacts-portlet .profile-actions .field-actions-toolbar .lfr-token {
    background-color: #FFF;
    border-width: 0; }
    .contacts-portlet .profile-actions .field-actions-toolbar .lfr-token:hover {
      background-color: #E9E8E8; }
.contacts-portlet .profile-actions-title {
  color: #929292;
  font-weight: bold;
  padding: 6px 0 0; }

.contact-dialog input[type="text"], .contact-dialog textarea {
  width: 90%; }
.contact-dialog .field-text {
  display: block;
  margin-bottom: 10px; }

.profile-dialog input[type="text"], .profile-dialog select {
  padding: 5px 1px; }
.profile-dialog .addresses .field {
  float: none;
  width: auto; }
.profile-dialog .field.primary-ctrl {
  margin: 1.8em 0; }
.profile-dialog .field-select .field-content {
  margin: 10px 0; }
.profile-dialog .form-section h3 {
  display: none; }
.profile-dialog .lfr-textarea {
  height: 60px !important;
  width: 350px !important; }
.profile-dialog .social-network {
  clear: both;
  overflow: hidden; }
  .profile-dialog .social-network .field {
    float: left; }
  .profile-dialog .social-network img {
    margin-left: 1.5em;
    margin-top: 2.4em; }
.profile-dialog .user-profile-image {
  padding-top: 20px; }
  .profile-dialog .user-profile-image .lfr-change-logo {
    background: none; }

.portlet-configuration .contacts-portlet .lfr-user-profile-preferences, .portlet-configuration .contacts-portlet .toggler-content {
  overflow: hidden;
  margin: 0; }
.portlet-configuration .contacts-portlet .lfr-user-profile-preferences .column {
  margin-right: 1em; }

/* ---------- Extras ---------- */
.contacts-portlet .contacts-container .alert.alert-success {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
.contacts-portlet .profile-actions {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.private-messaging-portlet .message-to input, .private-messaging-portlet .message-subject input {
  width: 300px; }
.private-messaging-portlet .message-body {
  width: 90%; }
@media (max-width: 767px) and (max-width: 979px){
.aui .btn-group, .aui .button-holder {
  display: block;
  width: 35%;
  float: right;
}
.contacts-portlet .contacts-result-container-content .contacts-list .contacts-search .search-input {
  padding-right: 25px;
  width: 94%;
}

}
html.aui body {
  padding: 0 !important;
}
/* ---------- Responsive ---------- */
@media (max-width: 767px) {
  .contacts-portlet .layout .toolbar-content .filter-container {
    width: 58%; }
    .contacts-portlet .layout .toolbar-content .filter-container .contact-group-filter-content {
      padding: 7px 7px 8px; }
      .contacts-portlet .layout .toolbar-content .filter-container .contact-group-filter-content > .control-group {
        margin-left: 4px;
        width: 85%; }
    .contacts-portlet .layout .toolbar-content .filter-container .contact-group-filter-select {
      height: 31px;
      width: 100%; }
  .contacts-portlet .layout .toolbar-content .add-contact {
    font-size: 14px;
    margin: 4px 2%;
    max-width: 38%;
    padding: 8px 10px; }
  .contacts-portlet .contacts-result-container-content {
    overflow: hidden;
    padding-left: 100%; }
    .contacts-portlet .contacts-result-container-content .contacts-list, .contacts-portlet .contacts-result-container-content .contacts-result, .contacts-portlet .contacts-result-container-content .contacts-result-content {
      width: 100%; }
    .contacts-portlet .contacts-result-container-content .contacts-list .contacts-search .search-input {
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      text-indent: 5px;
      width: 100%; }
  .contacts-portlet .form {
    left: 0;
    position: relative;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    z-index: 1; }
  .contacts-portlet .contacts-list {
    background: #FFF;
    margin-left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: margin-left;
    -moz-transition-property: margin-left;
    -o-transition-property: margin-left;
    transition-property: margin-left;
    z-index: 1; }
  .contacts-portlet.show-user .form {
    left: -100%;
    position: absolute;
    width: 100%;
    z-index: 1; }
  .contacts-portlet.show-user .contacts-result-container-content {
    overflow: visible;
    padding-left: 0; }
    .contacts-portlet.show-user .contacts-result-container-content .contacts-list {
      margin-left: -100%;
      top: 47px; }

  .contacts-portlet.show-user .toggle-user {
    background-color: #EEE;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    display: inline-block;
    left: 100%;
    position: absolute;
    top: -43px; }
    .contacts-portlet.show-user .toggle-user i {
      color: #FFF;
      display: block;
      font-size: 2em;
      padding: 16px 11px; }
  .contacts-portlet.show-user .contacts-container .lfr-button-column {
    padding-bottom: 0;
    padding-left: 3.2em; }
  .contacts-portlet.show-user .contacts-container .view-more-button {
    display: block;
    margin-right: 0; }
  .contacts-portlet.show-user .edit-toolbar {
    float: left;
    width: auto; }
    .contacts-portlet.show-user .edit-toolbar.hide-more-buttons .more {
      display: none; }
  .contacts-portlet .contacts-container .btn {
    float: left;
    font-size: 14px;
    margin: 0 5px 4px 0;
    padding: 10px;
    width: auto; }
    .contacts-portlet .contacts-container .btn i {
      display: block; } }
	  
	  //mychanges
.hideme-content {display:none !important;}
.hideme {display:none !important;}
	
	  .aui button.btn, .aui input[type="submit"].btn 
		{
		  padding: 5px 20px !important;
		  font: normal 16px/1 "Coda", Helvetica, sans-serif !important;
		  background: #231F20 !important;
		  color: #fff !important;
		  font-size: 15px !important;
		  margin-top: 10px !important;
		  text-shadow: none !important;
		  background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%) !important;
		  background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%) !important;
		  background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%) !important;
		  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20)) !important;
		  background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%) !important;
		  background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%) !important;
		}
		.aui .btn-content:hover {
			color: #ff9900 !important;
			background: #231F20 !important;
			-webkit-transition: all 0.3s !important;
			-moz-transition: all 0.3s !important;
			transition: all 0.3s !important;
			background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%) !important;
			background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%) !important;
			background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%) !important;
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20)) !important;
			background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%) !important;
			background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%) !important;
			}

.aui .btn-focused:focus {
	color: #ff9900;
	background: #231F20;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20));
	background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%);
}

.contacts-portlet .lfr-contact{
  border-bottom: 1px solid #c9c9c9;
  font: 16px "Coda",Helvetica,sans-serif;
}

.lfr-contact-extra{
  font: 14px "Coda",Helvetica,sans-serif;
}

.layout-content .contacts-result-content
{     margin-top: 16px;
} 
/*
.contacts-portlet .contacts-result-container-content .contacts-list {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
}
.contacts-portlet .contacts-result-container-content {
  padding-left: 400px;
  position: relative;
}
.contacts-portlet .contacts-result .contacts-result-content {
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 40px;
  width: 155%;
}

.contacts-portlet .contacts-result-container-content .contacts-list .contacts-search .search-input {
  padding-right: 25px;
  width: 89%;
}

.contacts-portlet .contacts-result-container-content .contacts-list .contacts-search {
  /* border-bottom: 1px solid #c9c9c9; *//*
  height: 31px;
  padding: 4px 5px;
}

@media (max-width: 767px){
.contacts-portlet .contacts-result-container-content .contacts-list, .contacts-portlet .contacts-result-container-content .contacts-result, .contacts-portlet .contacts-result-container-content .contacts-result-content {
  width: 100%;
}
}*/
.contacts-portlet .contacts-result-container-content {
  padding-left: 100%;
  position: relative;
}
.contacts-portlet .contacts-result-container-content .contacts-list {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 45%;
  margin-left: 25%;
}

@media (max-width: 767px){
.contacts-portlet .contacts-result-container-content .contacts-list {
  width: 100% !important;
  margin-left: 0px !important;
}
}
.contacts-portlet .contacts-result-container-content .contacts-list .contacts-search {
  border-bottom: 0px !important;
  height: 31px;
  padding: 4px 5px;
}
.contacts-portlet .contacts-result-container-content .contacts-list .contacts-search .search-input {
  padding-right: 25px;
  width: 96%;
}
.contacts-portlet .contacts-result .last-name-anchor a {
  background: #192024;
  border-bottom: 1px solid #c9c9c9;
  cursor: default;
  display: block;
  padding: 5px 5px;
  width: 15px;
  margin-left: 5px;
  margin-bottom: 3px;
}
.contacts-portlet .contacts-result .lfr-contact-grid-item:hover, .contacts-portlet .contacts-result .more-results a {
    background-color: rgba(1, 6, 10, 0.06);
}
.contacts-portlet .lfr-contact {
  border-bottom: 0px;
  font: 16px "Coda",Helvetica,sans-serif;
  margin-bottom: 2px;
}
.dockbar-user-notifications .user-notifications-list .user-notification .btn, .notifications-portlet .user-notifications-list .user-notification .btn  :focus {
 color: #ff9900;
 background: #231F20;
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
 transition: all 0.3s;
 background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%);
 background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%);
 background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%);
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20));
 background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%);
 background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%);
}
.dockbar-user-notifications .user-notifications-list .user-notification .btn, .notifications-portlet .user-notifications-list .user-notification .btn  :hover{
 color: #ff9900 !important;
 background: #231F20  !important;
 -webkit-transition: all 0.3s  !important;
 -moz-transition: all 0.3s !important;
 transition: all 0.3s !important;
 background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%) !important;
 background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%) !important;
 background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%) !important;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20)) !important;
 background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%) !important;
 background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%) !important;
}
.contacts-portlet .contacts-result .contacts-result-content {
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 40px;
  width: 100%;
}

.aui a {
  color: #5A5A5A !important;
  text-decoration: none;
}
.aui a:hover, .aui a:focus {
  color: #F79634 !important;
  text-decoration: underline;
}





body{font-family: Georgia, serif;padding: 20px 20px 40px 20px !important; color: #333;background:#fff !important;}
table { width:100%;}
td { border:1px solid #ccc;}
ul{	margin: 0;padding: 0 0 0 20px;}
p{margin: 0 0 10px 0;}
.text-right { text-align:right;}
.text-center { text-align:center;}
h4{margin: 0 0 10px;}

/* ---------------------------------

		A C C O R D I A N      

--------------------------------- */

.accordion{
	border-radius: 3px;
	overflow: hidden;
	border: 3px solid #6495ED;
}

.accordion-panel__heading{
	position: relative;
	padding: 20px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #6495ED;
	background: #f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	font-weight: 600;
	border-bottom: 1px solid #6495ED;
	transition: all .6s;
	cursor:pointer;
}
.accordion-panel__heading:before{
	transition: all .6s .2s ease;
	content: "";
	border: 0px #6495ED solid;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}
.accordion-panel__heading.active:before{
	transition: all .2s .6s;
	border-left: 15px #6495ED solid;
}
.accordion-panel__heading:HOVER{
	color: #333;
	background: #f1f1f1;
	transition: all .2s;
}
.accordion-panel__heading.active:HOVER,
.accordion-panel__heading.active {
	transition: all .2s;
	color: #333;
	background: #fff;
	border-bottom: 0;
	padding: 20px 20px 20px 40px;
}
.accordion-panel__content{
	transition: all .6s;
	position: relative;
	padding: 0 20px 0 20px;
	background: #f1f1f1;
    max-height: 0;
    overflow: hidden;
}

a.btn.frndbtn {
  padding: 5px 25px;
  background: #FFFFFF;
  font-size: 20px;
  border-color: #f79634;
  color: #f79634;
  padding-left: 25px;
  margin-left: 65%;
  height: 19px;
  font-size: small;
}

.accordion-panel__content:before{
	transition: all .6s .2s ease;
	content: "";
	border: 0px #6495ED solid;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}
.accordion-panel__content.active:before{
	transition: all .2s .6s;
	border-left: 15px #6495ED solid;
}
.accordion-panel__content.active {
	transition: all .2s;
	
    max-height: 500px;
    background: #fff;
   padding: 10px 20px 15px 40px;
}
.contacts-portlet .contacts-result-container-content .contacts-container .lfr-button-column{
	display: none !important;
}
.contacts-portlet .contacts-profile .lfr-contact-thumb{display:none !important; }
@media (max-width: 767px)
{
	 .contacts-portlet.show-user .edit-toolbar{
	   float: right !important;
	   width: auto !important;
	 }

	 a.btn.frndbtn {
	   padding: 5px 25px !important;
	   background: #fff !important;
	   border-color: #f79634 !important;
	   color: #f79634 !important;
	   padding-left: 25px !important;
	   height: 30px !important;
	   font-size: small !important; 
	   margin-left: 0% !important;
	   width: 120px !important;
	   float: right !important;
	 }

}