<ion-view view-title="ACCOUNT SETTINGS">
	<ion-nav-bar class="bar-dark" align-title="center">
		<ion-nav-back-button>
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-tabs class="tabs-positive tab_bottom">
		<ion-tab title="Change Password">
			<ion-content class="" overflow-scroll="false">
				<form name="psform" novalidate ng-submit="psform.$valid  && updateUserPassword(psform)">
					<div class="list acc_settings1">
					<!--<label class="item item-input item-floating-label">
                        <span class="input-label">Old password</span>
                        <input type="password" placeholder="Old Password" class="form-control" ng-model="userPassword.oldPassword" name ="oldPassword" required>
                        <div ng-show="psform.$submitted || psform.oldPassword.$touched">
                            <span  ng-show="psform.oldPassword.$error.required" class="error_msg"> Required! </span> 
                        </div>
                    </label>-->
						<label class="item item-input item-floating-label">
                        <span class="input-label">New password</span>
                        <input type="password" placeholder="New password" class="form-control" ng-model="userPassword.newPassword1" name = "newPassword1" required>
                        <div ng-show="psform.$submitted || psform.newPassword1.$touched">
                            <span  ng-show="psform.newPassword1.$error.required" class="error_msg"> Required! </span> 
                        </div>
                    </label>
						<label class="item item-input item-floating-label">
                        <span class="input-label">Confirm Password</span>
                        <input type="password" placeholder="Confirm password" class="form-control" ng-model="userPassword.newPassword2" name = "newPassword2" required>
                        <div ng-show="psform.$submitted || psform.newPassword2.$touched">
                            <span ng-show="psform.newPassword2.$error.required" class="error_msg"> Required! </span> 
                            <span  ng-show="userPassword.newPassword2.trim().length > 0 && userPassword.newPassword1.trim().length  && userPassword.newPassword1!= userPassword.newPassword2" class="error_msg">
                                    Confirm password did not match!</span>
                        </div>
                         
                    </label>
						<div class="padding" align="center">
							<button type="submit" nav-clear class="button button-block button-positive sign_in_button" >
                                Save
                            </button>
							<a nav-clear class="button button-block button-positive sign_in_button" href="#/app/user_navigation_menu">
                                Cancel
                            </a>
						</div>
					</div>
				</form>
			</ion-content>
		</ion-tab>
		<ion-tab title="Contact">
			<ion-content class="" overflow-scroll="false">
				<div class="list acc_settings1">
					<div class="list card add_profile_div">
						<div class="item item-image add_profile_img_div">
							<img src="img/add_photo.png" class="profilepicAvatar add_profile_img" ng-click="show()" ng-if="fileEntryId ==  0">
							<img ng-src="{{userProfileUrl}}" class="profilepicAvatar add_profile_img" ng-click="show()" ng-if="fileEntryId > 0">
						</div>
					</div>
					<label class="item item-input item-floating-label">
                        <span class="input-label">First name</span>
                        <input type="text" placeholder="First name" ng-model="user.firstName">
                    </label>
					<label class="item item-input item-floating-label">
                        <span class="input-label">Middle name</span>
                        <input type="text" placeholder="Middle name" ng-model="user.middleName">
                    </label>
					<label class="item item-input item-floating-label">
                        <span class="input-label">Last name</span>
                        <input type="text" placeholder="Last name" ng-model="user.lastName">
                    </label>
					
					<label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="text" placeholder="Email" ng-model="user.Email">
                    </label>
					
					<div class="item item-input item-floating-label item-icon-right">
						<span class="input-label">Date of birth</span>
						<input type="text" placeholder="DOB" name="DOB" class="form-control" ng-model="user.DOB" ng-click="openDatePickerOne()">
						<i class="icon ion-ios-calendar-outline" ng-click="openDatePickerOne();"></i>
					</div>
					<label class="item item-input">
                        <span class="input-label" style="width:24%">Gender</span>
                        <pre><ion-radio type="radio" ng-model='user.isMale' ng-value = "true" name="rdoResult">Male</ion-radio></pre>
                        <pre><ion-radio type="radio" ng-model='user.isMale' name="rdoResult" ng-value = "false">Female</ion-radio></pre>
                    </label>

					<label class="item item-input item-floating-label">
                        <span class="input-label">Mobile number</span>
                        <input type="number" placeholder="Mobile number" ng-model="user.mobileNumber">
                    </label>
				</div>

			</ion-content>
		</ion-tab>

		<ion-tab title="Address">
			<ion-content class="" overflow-scroll="false">
				<div class="list acc_settings1">
					<label class="item item-input item-floating-label">
                        <span class="input-label">Street:</span>
                        <input type="text" placeholder="Street:" ng-model="user.streetName">
                    </label>
					<label class="item item-input item-floating-label">
                        <span class="input-label">Apartment#:</span>
                        <input type="text" placeholder="Apartment" ng-model="user.aptNo">
                    </label>
					<label class="item item-input item-floating-label">
                        <span class="input-label">Zip code</span>
                        <input type="text" placeholder="Zip code" ng-model="user.areaCode">
                    </label>
					<label class="item item-input item-floating-label">
                        <span class="input-label">City:</span>
                        <input type="text" placeholder="City" ng-model="user.city">
                    </label>
				</div>
				<p style="margin-left: 15px;">Select Country & State</p>
				<div class="list">
					<label class="item item-input item-select">
                        <select ng-model="user.countryId" ng-change="getState(user.countryId);" style="direction: inherit" ng-init="user.countryId = (user.countryId == undefined || user.countryId==0 || user.countryId=='') ? '0' : user.countryId">
                            <option value="0" style="direction: inherit" ng-selected="user.countryId == 0">Select country</option>
                            <option style="direction: inherit" ng-repeat=" data in country" ng-bind="data.nameCurrentValue" ng-value="data.countryId" ng-selected="user.countryId == data.countryId"></option>
                        </select>
                    </label>
				</div>
				<div class="list">
					<label class="item item-input item-select">
                        <select ng-model="user.stateId" style="direction: inherit" ng-init="user.stateId = (user.stateId == undefined || user.stateId==0 || user.stateId=='') ? '0' : user.stateId">
                            <option style="direction: inherit" value="0" ng-selected="user.stateId == 0">Select state</option>
                            <option style="direction: inherit" ng-repeat="data in state" ng-bind="data.name" ng-value="data.regionId" ng-selected="user.stateId == data.regionId"></option>
                        </select>
                    </label>

				</div>
                <div class="padding" align="center">
                    <button type="submit" nav-clear class="button button-block button-positive sign_in_button" ng-click="updateUserInfo(user);">
                        Save
                    </button>
                    <a nav-clear class="button button-block button-positive sign_in_button" href="#/app/user_navigation_menu">
                        Cancel
                    </a>
                </div>
			</ion-content>
		</ion-tab>




	</ion-tabs>
</ion-view>