<ion-view view-title="MY TAILGATE" cache-view="false">
    <ion-tabs class="tabs-positive tab_bottom">
        <ion-tab title="EVENT DETAILS" href="#/app/add_my_tailgate_details/add_my_tailgate">
            <ion-nav-view name="add_my_tailgate"></ion-nav-view>
        </ion-tab>
        <ion-tab title="LOCATION" href="#/app/add_my_tailgate_details/add_my_tailgate_location">
            <ion-nav-view name="add_my_tailgate_location"></ion-nav-view>
        </ion-tab>
        <ion-tab title="TAILGATERS" href="#/app/add_my_tailgate_details/add_my_tailgate_tailgater">
            <ion-nav-view name="add_my_tailgate_tailgater"></ion-nav-view>
        </ion-tab>
        <ion-tab title="PLAN NOW" href="#/app/add_my_tailgate_details/add_my_tailgate_plan">
            <ion-nav-view name="add_my_tailgate_plan"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
