<ion-view cache-view="false" view-title="ADD TAILGATE PLAN">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-android-arrow-back back_button_css" ng-click="goBack();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
<ion-content overflow-scroll="false" class="has-header">
    <div class="strip paddingTOpSupply" ng-click="collapsed = !collapsed">
        <div class="stripPadding expand-collapse-content">
            <span><i class="textStyle marginLeftSupplyText">PAYMENT</i></span>
            <i class="icon ion-chevron-right icon_chevron" ng-show="collapsed"></i>
            <i class="icon ion-chevron-down icon_chevron" ng-show="!collapsed"></i>
        </div>
    </div>
    <form class="paynow" style="margin-top: 44px;" name="venmo" novalidate ng-hide="collapsed">
        <div class="tailgateInfo">
            <div class="item item-input item-floating-label">
                <span class="input-label">Venmo account:</span>
                <input type="text" placeholder="Venmo account" class="form-control" ng-model="newUpdate.venmoAccountId" name="VenmoAccount"
                       required>
                <div ng-show="venmo.$submitted || venmo.VenmoAccount.$touched">
                    <span ng-show="venmo.VenmoAccount.$error.required" class="error_msg">Enter your venmo account</span>
                </div>
            </div>
            <div class="item item-input item-floating-label">
                <span class="input-label">Amount</span>
                <input type="text" placeholder="Amount" name="Amount" ng-model="newUpdate.amountToPay" valid-number>
                <div ng-show="venmo.$submitted || venmo.Amount.$touched">
                    <span ng-show="venmo.Amount.$error.required" class="error_msg">Enter amount</span>
                </div>
            </div>
            <div class="row">
                <button nav-clear class="button button-block button-positive pay_now_button" ng-click="venmo.$valid && updatetailgate(newUpdate);">
                    Save
                </button>
            </div>
        </div>
    </form>
    <div class="strip paddingTOpSupply" ng-click="toggleItem()">
        <div class="stripPadding">
            <span><i class="textStyle marginLeftSupplyText"> SUPPLY LIST</i></span>
            <i class="icon ion-chevron-right icon_chevron" ng-if="hideItem==true"></i>
            <i class="icon ion-chevron-down icon_chevron" ng-if="hideItem==false"></i>
        </div>
    </div>
    <div id="FlaskUsListdiv">
        <ion-list>
            <ion-item class="item" ng-repeat="data in allSupplyList">
                <span class="emailText"><i class="supplyItemText">{{ data.supplyListName | uppercase}}</i></span>
                <div>
                    <span class="badge span_icon span_icon_supply" style="top:3px !important" ng-click="selectGameDaySupply(data,data.checked)">
                        <label class="checkbox" style="float: right">
                            <input type="checkbox" ng-model="data.checked">
                        </label>
                    </span>
                </div>
            </ion-item>
        </ion-list>
    </div>        
    <div class="strip paddingTOpSupply" ng-click="collapsedItems = !collapsedItems">
        <div class="stripPadding expand-collapse-content">
            <span><i class="textStyle marginLeftSupplyText"> ITEM ASSIGNMENT</i></span>
            <i class="icon ion-chevron-right" style="float: right;padding-right: 10px;font-size: 26px;margin-top: -5px" ng-show="collapsedItems"></i>
            <i class="icon ion-chevron-down" style="float: right;padding-right: 10px;font-size: 26px;margin-top: -5px" ng-show="!collapsedItems"></i>
        </div>
    </div>
    <ion-list show-delete="false" can-swipe="true" ng-hide="collapsedItems">
        <ion-item class="myList item-remove-animate" ng-repeat="item in selectedSupplyListItems" style="font-family:inherit;font-size:inherit">
            <div class="col col-15" style="bottom:0px !important;">
                <i class="supplyItemText"> {{ item.supplyItemName | uppercase}} </i>

            </div>
            <select class="col col-70 supply_content1" ng-model="item.itemAssignedUserId" ng-init="item.itemAssignedUserId = (item.itemAssignedUserId == undefined) ? '-1' : item.itemAssignedUserId" style="background:inherit">
                <option value="-1">Select attendee</option>
                <option ng-repeat="attendee in myTailgaters" value="{{attendee.userId}}">{{attendee.userName}}</option>
            </select>
            <ion-option-button class="button-assertive icon ion-trash-a" ng-click="leaveSupplyItem(item.supplyItemId,$index);"></ion-option-button>
        </ion-item>
    </ion-list>
    <div class="list" style="margin-bottom:40px;">
        <button type="button" nav-clear class="button button-block button-positive pay_now_button" data-ng-click="addSupplyItems();">
            Add supply list
        </button>
    </div>
</ion-content>
</ion-view>