<ion-view cache-view="false" view-title="ADD MY TAILGATE">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-tabs class="tabs-positive tab_bottom">
        <ion-tab title="Manage Tailgate">
            <!-- Tab 1 content -->
            <ion-content overflow-scroll="false" header="true" class='has-header has-subheader'>
                <div class="box">
                    <div class="list">
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">Tailgate Name</span>
                            <input type="text" placeholder="Tailgate Name" name="TailgateName" class="form-control" ng-model="slide1.TailgateName" required>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">Description:</span>
                            <input type="text" placeholder="Description" name="Description:" class="form-control" ng-model="slide1.Description" required>
                        </div>
                        <div class="item item-input">
                            <select id="eventnames" name="eventnames" class="" ng-model="slide1.eventnames" style="width: 95%;padding: 10px;">
                                <option ng:repeat="eventName in eventNames" value="{{eventName.eventId}}">
                                    {{eventName.eventName}}
                                </option>
                            </select>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">Event date</span>
                            <input type="date" placeholder="Event date" class="form-control" ng-model="slide1.Eventdate" name="Eventdate" required>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">Start Time</span>
                            <input type="time" placeholder="Start Time" class="form-control" ng-model="slide1.StartTime" name="StartTime" required>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">End Time</span>
                            <input type="time" placeholder="End Time" class="form-control" ng-model="slide1.EndTime" name="EndTime" required>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label">Venmo Account:</span>
                            <input type="email" placeholder="Venmo Account" class="form-control" ng-model="slide1.VenmoAccount" name="VenmoAccount" required>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">Amount</span>
                            <input type="Number" placeholder="Amount" name="Amount" ng-model="slide1.Amount">
                        </div>
                        <div class="padding" align="center">
                            <button type="submit" nav-clear class="button button-block button-positive sign_in_button" ng-click="addmyTailgate(slide1);">
                                Save
                            </button>
                            <a nav-clear class="button button-block button-positive sign_in_button" href="#/app/my_tailgate">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Upload Pictures" disabled="pageFlow.disableOtherTabs">
            <!-- Tab 2 content -->
            <ion-content has-footer="true" overflow-scroll="false" class="has-footer has-header"></ion-content>
        </ion-tab>
        <ion-tab title="Attendees" disabled="pageFlow.disableOtherTabs">
            <!-- Tab 3 content -->
            <ion-nav-view name=""></ion-nav-view>
        </ion-tab>
    </ion-tabs>

</ion-view>