<ion-view cache-view="false" view-title="ADD MY TAILGATE">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-footer="true" overflow-scroll="false" class="has-footer has-header">
        <div class="card" style="color: red; text-align: center;" ng-show="errorMessage">
            {{errorMessage}}
        </div>
        <div class="form-left">
            <button class="button  slider_arrow_1" ng-click="slidePrevious1()">Prev</button>
        </div>
        <div class="form-right">
            <button class="button  slider_arrow_1" ng-click="slideNext1()">Next</button>
        </div>
        <ion-slide-box show-pager="false" deletgate-handle="wizard">
            <ion-slide>
                <div class="box">
                    <div class="list">
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">Tailgate Name</span>
                            <input type="text" placeholder="Tailgate Name" name="TailgateName" class="form-control" ng-model="slide1.TailgateName" required>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">Description:</span>
                            <input type="text" placeholder="Description" name="Description:" class="form-control" ng-model="slide1.Description" required>
                        </div>
                        <div class="item item-input">
                            <select id="eventnames" name="eventnames" class="" ng-model="slide1.eventnames" style="width: 95%;padding: 10px;">
                                <option ng:repeat="eventName in eventNames" value="{{eventName.eventId}}">
                                    {{eventName.eventName}}
                                </option>
                            </select>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">Event date</span>
                            <input type="date" placeholder="Event date" class="form-control" ng-model="slide1.Eventdate" name="Eventdate" required>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">Start Time</span>
                            <input type="time" placeholder="Start Time" class="form-control" ng-model="slide1.StartTime" name="StartTime" required>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">End Time</span>
                            <input type="time" placeholder="End Time" class="form-control" ng-model="slide1.EndTime" name="EndTime" required>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label" >Venmo Account:</span>
                            <input type="email" placeholder="Venmo Account" class="form-control" ng-model="slide1.VenmoAccount" name="VenmoAccount" required>
                        </div>
                        <div class="item item-input item-floating-label">
                            <span class="input-label" style="margin-left: -6%;">Amount</span>
                            <input type="Number" placeholder="Amount" name="Amount" ng-model="slide1.Amount">
                        </div>
                        <div class="padding" align="center">
                            <button type="submit" nav-clear class="button button-block button-positive sign_in_button" ng-click="addmyTailgate(slide1);">
                                Save
                            </button>
                            <a nav-clear class="button button-block button-positive sign_in_button" href="#/app/my_tailgate">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <h2>Location</h2>
                    <div id="map_canvas" style="height:100%; width: 100%">

                    </div>
                </div>
            </ion-slide>
            <ion-slide class="box">
                <h2>Attendeees</h2>
            </ion-slide>

        </ion-slide-box>

    </ion-content>
    <ion-footer-bar class="tabs tabs-icon-left bar bar-dark bar-footer bar-assertive">
        <img src="/img/ad.png" class="footer-img" />
    </ion-footer-bar>
</ion-view>