<ion-view cache-view="false">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            <a href="#/app/events"><img alt="Flask" height="35" style="margin-bottom: -10px;" src="img/headerFlaskLogo.png" /></a>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-android-search" ng-click="searchBox.showBox = !searchBox.showBox"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader BgCol1" ng-show="searchBox.showBox">
        <div class="row searchrow">
            <div class="col col-33 col-center searchrow">
                <input type="text" placeholder="Search event..." class="searchboxArea" id="zipCode" name="zipCode" ng-model="eventList.zipcode" ng-blur="getAllfilteredEvents(eventList.zipcode)" />
            </div>
        </div>
    </div>
    <ion-content class="has-footer" ng-click="searchBox.showBox = false">
        <div>
            <a class="item item-full" href="#/app/my_events">
                <p class="addText" align="center">EVENT LIST</p>
            </a>
            <div class="card" ng-show="AddedSuccess">
                <div class="item item-text-wrap successColor">
                    Added successfully !!
                </div>
            </div>
            <div class="card" ng-show="Add_Event_Error">
                <div class="item item-text-wrap">
                    There are no events to add.
                </div>
            </div>
            <div class="list">
                <a class="item item-thumbnail-left item-icon-right eventList item-remove-animate" ng-repeat="data in myFilteredEvent | filter: eventList.searchString">
                    <img ng-src="{{imgUrl}}{{data.eventImageUUID}}&groupId={{data.eventImageGroupId}}" class="list-thumbnail listImages" alt="Image not found" onError="this.src = 'img/FlaskRed.png';" />
                    <h2 class="eventNameCol">{{data.eventName}}</h2>
                    <p class="dateCol">{{data.eventDate | date:'EEEE, MMMM dd, yyyy'}}</p>
                    <p class="timeVenuCol">{{data.startTime | date:"h:mma"}} | {{data.venueName}}</p>
                    <span class="badge span_icon span_icon_extraright" ng-click="addmyEvent(data.eventId,$index)" style="    height: 29px;
    width: 20px;"><img src="img/flask_icons/add_new.svg"style="    height: 29px;
    width: 22px;"></span>
                </a>
            </div>

        </div>
    </ion-content>
    <ion-footer-bar class=" bar bar-dark bar-footer bar-assertive customBarPadding">
        <div ng-include="'templates/advertisement.html'"class="footer-img"></div>

    </ion-footer-bar>
</ion-view>