<!--<div ng-controller="AdvertisementCtrl"cache-view="false" style="max-width:100vw">-->
<div ng-controller="AdvertisementCtrl"cache-view="false" class = "adfixresponsive ">
	<!--<div ng-controller="AdvertisementCtrl"cache-view="false" class = "adfixresponsive " style="max-width:100%">-->

    <ion-slide-box delegate-handle="advertisement-viewer"show-pager='false' auto-play="true" slide-interval="7000" does-continue="true">
        <ion-slide  ng-repeat="imageURL in ImageUrls">
        	<!-- Test Fixing Display Ad Framework -->
            <img ng-src={{imageURL}} onError="this.src = 'img/Noadvert.jpg';" class="footer-img " ng-click="showPopup($index)"/> 
             <!--<div ng-init="myVar = '../img/ad.png'">
            <img ng-src="{{myVar}}" ng-click="showPopup($index)" onError="this.src = 'img/Noadvert.jpg';" class="footer-img "/>	
            </div>--> 
            <!--<img ng-init="myVar = '../img/ad.png'" ng-src="{{myVar}}" ng-click="showPopup($index)" onError="this.src = 'img/Noadvert.jpg';" class="footer-img "/>	--> 

        </ion-slide>
    </ion-slide-box>
</div>