<div>
    <div style="text-align: center;padding-bottom: 10px">
    <i class="popupTitleText">Cheli's Flask Launch</i><i class="popupCrossIcon"ng-click="popupClose()">X</i>

    </div>
   <img src="http://146.148.83.30/c/document_library/get_file?uuid=bb3e8847-5c74-48ad-a3f5-e95e7436a477&groupId=20181"  style="width: 100%;height: 80px"/>
   <br> <div><i class="icon ion-ios-telephone popupIcon"></i><a href="tel:555-555-5555"class="popupText"style="color: #00aaff">555-555-5555</a>
   <br><i class="icon ion-android-globe popupIcon"></i><a href="http://www.chelischilibar.com/" target="_blank"class="popupText"style="color: #00aaff">www.chelischilibar.com</a>
   <br><i class="icon ion-ios-location popupIcon"></i><i style="color: #ff8c00" class="popupText">47E Adams Ave,Detroit,48226</i></div>
</div>