<ion-view back-button="true" cache-view="false" view-title="CREATE SUPPLIES">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div align="inline"class="button-bar stripAdmin"ng-if="agreedToTermsOfUse==true">
            <div class="paddingRadio">
                <input type="radio"name="radio"id="adminRadio" ng-model="addAsAdmin" ng-value=true class="radioButtonSize"ng-click="addSupplyAsAdmin()">
            </div>
            <label for="adminRadio"> <i class="fontSizeStrip">System</i></label>
            <div class="paddingRadio">
                <input type="radio"id="radio"name="radio" ng-model="addAsAdmin" ng-value=false class="radioButtonSize"ng-click="addSupplyAsUser()">
            </div>
            <label for="radio"> <i class="fontSizeStrip">Personal</i></label>
        </div>
        <div class="item item-input-inset"style="padding: 0px;">
            <label class="item-input-wrapper"style="background-color: #ffffff">
                <input type="text"id="supplyEdit" placeholder="Supplies Name"autofocus ng-model="suppliesName" style="height: 47px;">
            </label>

        </div>
        <div>
            <div ng-if="islistCreated==false" class="divAddIcon" style="background-color: #f4f4f4"><img src="img/flask_icons/add_new.svg" class="FlaskionIcons"style="float: right;height: 28px;width: 28px"ng-click="addItem(suppliesName,createdListItem.data[createdListItem.data.length-1])">
            </div>

            <div ng-if="islistCreated==true" class="divAddIcon"style="background-color: #f4f4f4"><img src="img/flask_icons/add_new.svg" class="FlaskionIcons"style="float: right;height: 28px;width: 28px"ng-click="createItem(suppliesName,createdListItem.data[createdListItem.data.length-1])">
            </div>

            </div>
            <div class="strip2 ">
                <i class="addText"style=""
                      >Supply List Item</i>
            </div></div>
            <ion-list>
                <ion-item  ng-repeat="data in createdListItem.data track by $index"on-double-tap="editSupplyItem(data)">
                    <div ng-if = "data.editItem == false"class="flask_text" ><i class="addText">{{data.itemName}}</i> </div>

                    <input type="text"id="ItemEditBox"autofocus ng-model="data.itemName "ng-focus="true"  ng-if="data.editItem == true"ng-init="editSupplyItem(data)" ng-blur="saveSupplyItem(data)"/>
                    <div class="badge supplyDeleteButton extra-right-supply">
                        <span class="button-assertive   ion-trash-a icon supplyDeleteIcon"ng-class="{supplyEditIconPadding:data.editItem}" ng-click="deleteCreatedItem($index,data.supplyItemId)"></span>
                    </div>
                    <div class="badge supplyDeleteButton extra-right-supply"style="margin-right: 51px">
                        <span class="button-assertive   ion-edit supplyDeleteIcon"ng-class="{supplyEditIconPadding:data.editItem}" ng-click="editSupplyItem(data)"></span>
                    </div>
                    <!--<span class="badge span_icon"style="top:3px"> <label class="checkbox"style="float: right">
                        <input  type="checkbox"ng-model="data.checked">
                    </label></span>-->

                </ion-item>
            </ion-list>
        <div class="padding" align="center">
            <a  nav-clear class="button button-block button-positive sign_in_button" ng-if="suppliesName==undefined||createdListItem.data[createdListItem.data.length-1].itemName==''"ng-click="setFocusSupply()">
                Save
            </a>
            <a href="#/app/supplies" nav-clear class="button button-block button-positive sign_in_button"ng-if="suppliesName&&createdListItem.data[createdListItem.data.length-1].itemName!=''" ng-click="saveList(suppliesName)">
                Save
            </a>
            <a nav-clear class="button button-block button-positive sign_in_button"href="#/app/supplies"ng-click="cancelAdding()">
                Cancel
            </a>
        </div>
    </ion-content>
</ion-view>