<ion-view back-button="true" cache-view="false" view-title="CREATE SUPPLIES" class="my-create-supply-view">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button ng-click="goBack()">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <div align="inline" class="button-bar stripAdmin" ng-if="agreedToTermsOfUse==true">
            <div class="paddingRadio">
                <input type="radio" name="radio" id="adminRadio" ng-model="addAsAdmin" ng-value=true class="radioButtonSize" ng-click="addSupplyAsAdmin()">
            </div>
            <label for="adminRadio"> <i class="fontSizeStrip">System</i></label>
            <div class="paddingRadio">
                <input type="radio" id="radio" name="radio" ng-model="addAsAdmin" ng-value=false class="radioButtonSize" ng-click="addSupplyAsUser()">
            </div>
            <label for="radio"> <i class="fontSizeStrip">Personal</i></label>
        </div>
        <div class="supply_list_name">List name</div>
        <div class="item item-input-inset supply_ion_item_animate inpuBorder">
            <label class="item-input-wrapper create_supplies_label">
                <input type="text" id="supplyEdit" placeholder="List name" ng-model="suppliesName" ng-class="{Upper_Case:suppliesName!='' && suppliesName!=undefined}">
            </label>
        </div>
        <div>
            <div ng-if="islistCreated==false" class="divAddIcon add_supplies_div">
                <button class="button button-small suppliesButton FlaskionIcons add_supplies_img" ng-click="addItem(suppliesName,createdListItem.data[createdListItem.data.length-1])">
                    Save list
                </button>
            </div>

            <div ng-if="islistCreated==true" class="divAddIcon add_supplies_div">
                <button class="button button-small suppliesButton FlaskionIcons add_supplies_img">
                    Save list
                </button>
            </div>
        </div>
        <div class="strip2 ">
            <i class="addText">Supply list item</i>
        </div></div>
        <ion-list>
            <ion-item ng-repeat="data in createdListItem.data track by $index" on-double-tap="editSupplyItem(data)">
                <div ng-if="data.editItem == false" class="flask_text"><i class="addText">{{data.itemName | uppercase}}</i> </div>
                <input type="text" id="ItemEditBox" placeholder="Item name" ng-model="data.itemName " ng-focus="true" ng-class="{Upper_Case:data.itemName!='' && data.itemName!=undefined}" ng-if="data.editItem == true" ng-init="editSupplyItem(data)" ng-blur="saveSupplyItem(data)" />
                <ion-option-button class="button-assertive icon ion-edit" ng-if="data.supplyItemId>0" ng-click="editSupplyItem(data)"></ion-option-button>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-if="data.supplyItemId>0" ng-click="deleteCreatedItem($index,data.supplyItemId)"></ion-option-button>
            </ion-item>
        </ion-list>
        <div>
            <div ng-if="islistCreated==false" class="divAddIcon add_supplies_div">
                <button class="button button-small suppliesButton FlaskionIcons add_supplies_img" ng-click="addItem(suppliesName,createdListItem.data[createdListItem.data.length-1])">
                    Add item
                </button>
            </div>
            <div ng-if="islistCreated==true" class="divAddIcon add_supplies_div">
                <button class="button button-small suppliesButton FlaskionIcons add_supplies_img" ng-click="createItem(suppliesName,createdListItem.data[createdListItem.data.length-1])">
                    Add item
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>