
<ion-view cache-view="false">
    
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            <a href="#/app/events"><img alt="Flask" height="35" style="margin-bottom: -10px;" src="img/headerFlaskLogo.png" /></a>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-ios-search" ng-click="searchBox.showBox = !searchBox.showBox"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <div class="bar bar-subheader">
        <div class="row">
            <div class="col"></div>
            <div class="col col-90 event_name">
                <div class="eventHeading2" style="text-transform:uppercase;text-align:center">
                    <span class="overlineStyle">{{eventName}}</span></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <ion-content class="has-footer has-header has-subheader">
        <script type="text/ng-template" id="searchbox.tpl.html" autocomplete="false" class="">
            <input type="text" style="margin: 10px;width: 248px;" placeholder=""/>
        </script>
        <script type="text/ng-template" id="markerInfo.tpl.html">
            <div class='map-popup'>
                <div style="overflow: auto;">
                    <div>
                        <img src="img/flasklogo2.png" style="width:30px;height:30px;">
                        <font style="color:#000;">&nbsp;&nbsp;<b>{{parameter.infoTitle}}</b><br></font>
                    </div>
                    <div class="adAddress">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td width="38px" valign="top">
                                        <img src="img/map_icons/icon_parking.png" style="width:30px;height:30px;">
                                    </td>
                                    <td><a href="geo:{{parameter.addrLine1}}" class="addressLink">{{parameter.addrLine1}}</a></td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="adDescription">
                        <font style="color:#000;">
                        <b>Flask us:</b><br>
                            {{parameter.infoDesc}}
                        </font>
                    </div>
                </div>
            </div>
         </script>
        <ion-tabs class="tabs-positive">
            <ion-tab title="PARKING"  class="{{infoTypeName != 'Pre-Event' ? 'hide':''}}" ng-click="selectTab(0)">
                <div id="map_canvas" style="height:100%;width:100%">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                        <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events" options="searchbox.options"></ui-gmap-search-box>-->
                        <ui-gmap-markers models="parkingMarkers" coords="'self'" icon="'icon'" options="markerOptions" click="onClick">
                            <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">

                            </ui-gmap-windows>
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
            </ion-tab>
            <ion-tab title="BARS/FOOD" ng-click="selectTab(1)">
                <div id="map_canvas" style="height:100%;width:100%">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                        <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events" options="searchbox.options"></ui-gmap-search-box>-->
                        <ui-gmap-markers models="barMarkers" coords="'self'" icon="'icon'" options="markerOptions" click="onClick">
                            <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">

                            </ui-gmap-windows>
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
            </ion-tab>
            <ion-tab title="Nightlife" class="{{infoTypeName !=  'Post-Event' ? 'hide':''}}" ng-click="selectTab(2)">
                <div id="map_canvas" style="height:100%;width:100%">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                        <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events" options="searchbox.options"></ui-gmap-search-box>-->
                        <ui-gmap-markers models="nightLifes" coords="'self'" icon="'icon'" options="markerOptions" click="onClick">
                            <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">

                            </ui-gmap-windows>
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
            </ion-tab>
            <ion-tab title="TRAFFIC"  class="{{infoTypeName != 'Pre-Event' ? 'hide':''}}" ng-click="selectTab(3)">
                <div style="padding:10px">
                    <div class="form-group"><label class="control-label" for="Title"><div font-size="18px" style="width: 100%;">{{trafficDetails.infoTitle}}</div></label>
                    </div>
                    <div class="form-group"><label class="control-label" for="Description"><div font-size="18px" style="width: 100%;"><b>Flask Us</b></div></label>
                        <div class="controls" id="Description">
                            {{trafficDetails.infoDesc}}
                        </div>
                    </div>
                </div>
            </ion-tab>
            <ion-tab title="FLASK US" nf-if="true" ng-click="selectTab(4)">
                <div style="padding:10px">
                    <div class="form-group"><label class="control-label" for="Title"><div font-size="18px" style="width: 100%;">{{flaskUsDetails.infoTitle}}</div></label>
                    </div>
                    <div class="form-group"><label class="control-label" for="Description"><div font-size="18px" style="width: 100%;"><b>Flask Us</b></div></label>
                        <div class="controls" id="Description">
                            {{flaskUsDetails.infoDesc}}
                        </div>
                    </div>
                </div>
            </ion-tab>
        </ion-tabs>
    </ion-content>


    <ion-footer-bar class="bar bar-dark bar-footer bar-assertive">
        <img src="img/ad.png" class="footer-img" />
    </ion-footer-bar>
</ion-view>