<ion-view>
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-title>
            <a href="#/app/events.html"><img alt="Flask" height="35" style="margin-bottom: -10px;" src="img/headerFlaskLogo.png" /></a>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-ios-search" ng-click="searchBox.showBox = !searchBox.showBox"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader BgCol" ng-show="searchBox.showBox">
        <div class="row searchrow">
            <div class="col col-33 col-center searchrow">
                <input type="text" placeholder="Enter ZipCode." class="searchboxArea" id="zipCode" name="zipCode" ng-model="eventList.zipcode" ng-blur="getAllfilteredEvents(eventList.zipcode)" />
            </div>
            <div class="col col-33 col-center searchrow">
                <input type="text" placeholder="Search Text." class="searchboxArea" ng-model="eventList.searchString" />
            </div>
            <div class="col col-33 col-center searchrow">
                <select class="searchboxArea" ng-model="eventList.dates" ng-change="onchange(eventList.dates)">
                    <option value="0">Today</option>
                    <option value="7">7 Days</option>
                    <option value="14">14 Days</option>
                    <option value="30">30 Days</option>
                    <option value="60">60 Days</option>
                </select>
            </div>
        </div>
    </div>
    <ion-content class="has-footer">
        <div>
            <h3 class="eventHeading"><span class="overlineStyle">EVENTS NEAR YOU</span></h3>
        </div>
            <div class="list">
                <a class="item item-thumbnail-left item-icon-right eventList" href="#/app/prePostGame/{{data.eventName}}/{{data.eventId}}/{{data.venueId}}" ng-repeat="data in allEvent | filter: eventList.searchString">
                    <img ng-src="http://146.148.83.30/c/document_library/get_file?uuid={{data.eventImageUUID}}&groupId=20181" class="list-thumbnail listImages" alt="Image not found" onError="this.src = 'img/FlaskRed.png';" />
                    <h2 class="eventNameCol">{{data.eventName}}</h2>
                    <p class="dateCol">{{data.eventDate | date:'EEEE,MMMM dd,yyyy'}}</p>
                    <p class="timeVenuCol">{{data.startTime | date:"h:mma"}} | {{data.venueName}}</p>
                    <i class="icon ion-chevron-right arrowIcon"></i>
                </a>
            </div>
</ion-content>
    <ion-footer-bar class="bar bar-dark bar-footer">
        <img src="img/ad.png" class="footer-img" />
    </ion-footer-bar>
</ion-view>