<ion-view cache-view="false">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            <a href="#/app/events"><img alt="Flask" height="35" style="margin-bottom: -10px;" src="img/headerFlaskLogo.png" /></a>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-ios-search" ng-click="searchBox.showBox = !searchBox.showBox"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <div class="bar bar-subheader">
        <div class="row">
            <div class="col"></div>
            <div class="col col-90 event_name">
                <div class="eventHeading2" style="text-transform:uppercase;text-align:center">
                    <span class="overlineStyle">{{eventName}}</span></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <ion-content class="has-footer has-header has-subheader">
        <div id="map_canvas" style="height:100%; width: 100%">

        </div>

        <ion-tabs class="tabs-positive  ">
            <ion-tab title="PARKING">
                
            </ion-tab>
            <ion-tab title="BARS/FOOD">
            </ion-tab>
            <ion-tab title="TRAFFIC">
            </ion-tab>
            <ion-tab title="FLASK US">
            </ion-tab>  
        </ion-tabs>
    </ion-content>
    
   
    <ion-footer-bar class="bar bar-dark bar-footer bar-assertive">
           <img src="img/ad.png" class="footer-img" />
    </ion-footer-bar>
</ion-view>