<ion-view cache-view="false" class="customFooter">

    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            <a href="#/app/events"><img alt="Flask" height="35" style="margin-bottom: -10px;" src="img/headerFlaskLogo.png" /></a>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-android-search" ng-click="searchBox.showBox = !searchBox.showBox"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <div class="bar bar-subheader " ng-class="{removeBorderTraffic:selectedIndex == 3}">
        <div class="row">
            <div class="col"></div>
            <div class="col col-90 event_name">
                <div class="eventHeading2" style="text-transform:uppercase;text-align:center">
                    <span class="overlineStyle" ng-if="changeTitle != 3">{{eventName}}</span>
                    <span class="overlineStyle fontSizeTrafficHeading" ng-if="changeTitle ==true">TIPS TO GET AROUND TRAFFIC</span>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
    <ion-content class="has-footer has-header has-subheader" scroll="false">
        <script type="text/ng-template" id="searchbox.tpl.html" autocomplete="false" class="">
            <input type="text" style="margin: 10px;width: 248px;" placeholder="" />
        </script>
        <script type="text/ng-template" id="custom.controls.tpl.html">
            <table>
                <tr><td> <button ng-click="selectFlaskMarker()"> Flask</button></td> </tr>
                <tr><td> <button ng-click="selectGoogleMarker()"> Google</button></td> </tr>
            </table>
        </script>
        <script type="text/ng-template" id="markerParkingInfo.tpl.html">
            <div id="iw-container">
                <div class="iw-title">
                    <table width="100%">
                        <tr>
                            <td style="width:94%"> <div>{{parameter.infoTitle}}</div></td>
                            <td rowspan="2" style="vertical-align:middle">  <div class="iw-content-toggle"> <img src="img/map_icons/circle-right _arrow.png"> </div>
                        </tr>
                        <tr>
                            <td style="width:80%">
                                <div class="iw-sub-title">
                                    {{parameter.subTitle}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="iw-content" style="display:none">
                    <div>

                        <table width="100%">
                            <tr>
                                <td colspan="2">
                                    <div class="alignLeft">
                                        <span class="iw-sub-title" ng-bind="parameter.addrLine1" style="color:black"> </span>
                                        <div class="biggerFont"> {{parameter.cost}}</div>
                                        <div class="emailText smallerFont"> {{parameter.infoDesc1}}</div>
                                        <div ng-bind-html="parameter.infoDesc"> </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="iw-content-icon"" style="width:13%"><img src="img/map_icons/take_me_there.png" style="margin-right:5px"> </td>
                                <td class="iw-content-text" style="text-align:left">   <a id="iwTakeMeThere"> Take me there </a> </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </script>
       <script type="text/ng-template" id="markerBarInfo.tpl.html">
            <div id="iw-container">
                <div class="iw-title">
                    <table width="100%">
                        <tr>
                            <td style="width:94%"> <div>{{parameter.infoTitle}}</div></td>
                            <td rowspan="2" style="vertical-align:middle">  <div class="iw-content-toggle"> <img src="img/map_icons/circle-right _arrow.png"> </div>
                        </tr>
                        <tr>
                            <td style="width:80%">
                                <div class="iw-sub-title">
                                    {{parameter.addrLine1}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="iw-content" style="display:none">
                    <div>
                             
                        <table width="100%">
                            <tr>
                                <td class="iw-content-icon alignRight"><img src="img/map_icons/call_me_now.png" style="margin-right:5px"> </td>
                                <td class="iw-content-text" style="text-align:left"> <a id="iwCallNow"> Call Now </a> </td>
                            </tr>
                            <tr>
                                <td class="iw-content-icon alignRight"><img src="img/map_icons/view_website.png" style="margin-right:5px"> </td>
                                <td class="iw-content-text" style="text-align:left">   <a id="iwViewWebsite"> View Website </a> </td>
                            </tr>
                            <tr>
                                <td class="iw-content-icon alignRight" ><img src="img/map_icons/take_me_there.png" style="margin-right:5px"> </td>
                                <td class="iw-content-text" style="text-align:left">   <a id="iwTakeMeThere"> Take me there </a> </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </script>
        <div ng-if="infoTypeName == 'Pre-Event'" class="Pre-Event">
            <ion-tabs class="tabs-positive tab_bottom">
                <ion-tab title="PARKING" ng-click="selectTab(0)">
                    <div id="parkingDiv" style="height:100%;width:100%" ng-if="selectedIndex == 0">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" idkey="id" control="map.control" events="map.events">
                            <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events" options="searchbox.options"></ui-gmap-search-box>-->
                            <!--<ui-gmap-map-control template="custom.controls.tpl.html" index="-1"	position="RIGHT_CENTER" controller = "refreshMap"> </ui-gmap-map-control>-->
                            <ui-gmap-map-control position="right_center">
                                <div ng-controller="refreshMap">
                                    <div style="margin-right: 5px">
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039)
                                0px 2px 6px; cursor: pointer; margin-bottom: 5px; text-align: center; background-color: rgb(255,
                                255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniFlaskButton" ng-click="selectFlaskMarker()"></div>
                                            </div>
                                        </div>
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px; cursor: pointer; margin-bottom: 22px; text-align: center; background-color: rgb(255, 255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-family: Roboto, Arial, sans-serif; font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniGoogleButton" ng-click="selectGoogleMarker()"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ui-gmap-map-control>
                            <ui-gmap-markers models="parkingMarkers" coords="'self'" icon="'icon'" options="markerOptions" click="onClick" control="markerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'" control="windowOptions.control">
                                </ui-gmap-windows>
                            </ui-gmap-markers>
                            <ui-gmap-markers models="parkingGoogleMarkers" coords="'self'" icon="'icon'" options="googleMarkerOptions" click="onClick"
                                control="googleMarkerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">
                                </ui-gmap-windows>
                            </ui-gmap-markers>

                        </ui-gmap-google-map>
                    </div>
                </ion-tab>
                <ion-tab title="BARS/FOOD" ng-click="selectTab(1)">
                    <div id="barTab" style="height:100%;width:100%" ng-if="selectedIndex == 1">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" control="map.control" events="map.events">
                            <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events" options="searchbox.options"></ui-gmap-search-box>-->
                            <ui-gmap-map-control position="right_center">
                                <div ng-controller="refreshMap">
                                    <div style="margin-right: 5px">
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039)
                                0px 2px 6px; cursor: pointer; margin-bottom: 5px; text-align: center; background-color: rgb(255,
                                255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniFlaskButton" ng-click="selectBarFlaskMarker()"></div>
                                            </div>
                                        </div>
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px; cursor: pointer; margin-bottom: 22px; text-align: center; background-color: rgb(255, 255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-family: Roboto, Arial, sans-serif; font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniGoogleButton" ng-click="selectBarGoogleMarker()"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ui-gmap-map-control>
                            <ui-gmap-markers models="barMarkers" coords="'self'" icon="'icon'" options="barFlaskMarkerOptions" click="onClick" control="barFlaskMarkerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">

                                </ui-gmap-windows>
                            </ui-gmap-markers>
                            <ui-gmap-markers models="barsGoogleMarkers" coords="'self'" icon="'icon'" options="barGoogleMarkerOptions" click="onClick"
                                control="barGoogleMarkerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">
                                </ui-gmap-windows>
                            </ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>
                </ion-tab>
                <ion-tab title="TRAFFIC" ng-click="selectTab(2)">
                    <div style="padding:10px" ng-if="selectedIndex == 2">
                        <ion-content scroll="true" style="background: white;">
                            <div ng-repeat="trafficDetail in trafficDetails" style="border-bottom: solid;margin-top: 20px">
                                <div align="center">
                                    <div style="width: 80%;">
                                        <i class="trafficDetailHeading">{{trafficDetail.infoTitle}}</i>
                                    </div>
                                </div>
                                <div class="TrafficInfoDescDiv">

                                    <div id="traffic" class="" ng-bind-html="trafficDetail.infoDesc">
                                    </div>
                                </div>
                            </div>
                        </ion-content>
                    </div>
                </ion-tab>
                <ion-tab title="FLASK US" ng-click="selectTab(3)">
                    <div style="padding:10px" ng-if="selectedIndex == 3">
                        <ion-content scroll="true" style="background: white">
                            <div>
                                <div style="max-width: 100vw">
                                    <div>
                                        <div class="left" style="left:0px;top:121px">
                                            <button class="button button-icon icon ion-chevron-left slider_arrow" ng-click="slidePrevious1('Flask-Detail')"></button>
                                        </div>
                                        <div class="right" style="top:121px">
                                            <button class="button button-icon icon ion-chevron-right slider_arrow" ng-click="slideNext1('Flask-Detail')"></button>
                                        </div>
                                        <ion-slide-box delegate-handle="Flask-Detail" show-pager='false' does-continue="true">
                                            <ion-slide ng-repeat="flaskUsDetail in flaskUsDetails" style="width:100%;padding-top:15px ">
                                                <div class="form-group">
                                                    <label class="control-label" for="Descriptionss"><div font-size="18px" style="width: 100%;"><b style="font-size:20px">Flask Us</b></div></label>
                                                    <div ng-if="flaskUsDetail.imageUrl">
                                                        <img class="full-image" src={{flaskUsDetail.imageUrl}} style="height: 100px;width:252px">
                                                    </div>

                                                    <div class="form-group" style="padding-top:20px">
                                                        <label class="control-label" for="Descriptions"><div style="width: 90%;padding-left:85px;text-align: start"><b style="font-size:16px">{{flaskUsDetail.infoTitle}}</b></div></label>
                                                    </div>
                                                    <div class="col-70" id="Descriptions" style="width: 90%;padding-left:85px;text-align: start;font-weight: 300">
                                                        <div class="ion-star " style="float:left;margin-left: -24px"></div>
                                                        {{flaskUsDetail.infoDesc}}
                                                    </div>


                                                </div>
                                                <div class="eventHeading2" style="text-align:center;padding-top:30px" ng-click="toggleMsgDiv()">
                                                    <span class="overlineStyle" style="font-size:18px">FLASK US YOUR QUESTIONS</span>
                                                </div>
                                                <div class="flaskUsQuestionDiv" ng-class="{hideFlaskUsQuestionDiv:toggleQueDiv}" ng-if="hideDiv==false">
                                                    <div align="center">
                                                        <span class="que-input-label"><b style="font-size:12px;float:left">NAME*</b></span>


                                                        <input type="text" class="QuestionInput" style="border: solid .3px;height: 25px;border-radius: 8px">
                                                        <span class="que-input-label"><b style="font-size:12px;float:left">EMAIL*</b></span>

                                                        <input type="text" class="QuestionInput" style="border: solid .3px;height: 25px;border-radius: 8px">
                                                        <span class="que-input-label"><b style="font-size:12px;float:left">QUESTION*</b></span>

                                                        <textarea class="QuestionInput" style="border: solid .3px;height: 55px;border-radius: 8px"></textarea>
                                                    </div>
                                                    <div align="center">
                                                        <button type="submit" nav-clear class="button button-block button-positive sign_in_button" style="width: 250px">
                                                            Send
                                                        </button>
                                                    </div>
                                                </div>


                                            </ion-slide>
                                        </ion-slide-box>
                                    </div>
                                </div>

                            </div>
                        </ion-content>
                    </div>
                </ion-tab>
            </ion-tabs>
        </div>
        <div ng-if="infoTypeName == 'During-Event'" class="During-Event">
            <ion-tabs class="tabs-positive tab_bottom">
                

                <ion-tab title="VENUE MAP" ng-click="selectTab(0)">

                    <div class="image_map_div ">
                        <img id="image" class="venueMapImage" ng-class="{ zoomedvenueMapImage: zoomMapImage==true}" on-double-tap="toggleZoomImage()" ng-src="{{venueMapImageUrl}}" />
                    </div>
                </ion-tab>

                <ion-tab title="VENUE INFO" ng-click="selectTab(1)">



                    <ion-content scroll="true" style="background: white;">
                       <!-- <div class="row">
                            <div class="col"></div>
                            <div class="col col-90 event_name">
                                <div class="eventHeading2" style="text-transform:uppercase;text-align:center">
                                    <span class="overlineStyle fontSizeTrafficHeading">FORD FILED</span>
                                </div>

                            </div>
                            <div class="col"></div>
                        </div>-->

                        <div ng-repeat="venueInfoDetail in venueInfoDetail" style="margin-top: 20px">
                            <div align="center">
                                <div style="width: 80%;">
                                    <i class="trafficDetailHeading">{{venueInfoDetail.infoTitle}}</i>
                                </div>
                            </div>
                            <div class="TrafficInfoDescDiv">

                                <div id="venueInfo" class="" ng-bind-html="venueInfoDetail.infoDesc">
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-tab>
                <ion-tab title="BARS/FOOD" ng-click="selectTab(2)">
                    <div id="barTab" style="height:100%;width:100%" ng-if="selectedIndex == 2">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" control="map.control" events="map.events">
                            <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events" options="searchbox.options"></ui-gmap-search-box>-->
                            <ui-gmap-map-control position="right_center">
                                <div ng-controller="refreshMap">
                                    <div style="margin-right: 5px">
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039)
                                0px 2px 6px; cursor: pointer; margin-bottom: 5px; text-align: center; background-color: rgb(255,
                                255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniFlaskButton" ng-click="selectBarFlaskMarker()"></div>
                                            </div>
                                        </div>
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px; cursor: pointer; margin-bottom: 22px; text-align: center; background-color: rgb(255, 255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-family: Roboto, Arial, sans-serif; font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniGoogleButton" ng-click="selectBarGoogleMarker()"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ui-gmap-map-control>
                            <ui-gmap-markers models="barMarkers" coords="'self'" icon="'icon'" options="barFlaskMarkerOptions" click="onClick" control="barFlaskMarkerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">

                                </ui-gmap-windows>
                            </ui-gmap-markers>
                            <ui-gmap-markers models="barsGoogleMarkers" coords="'self'" icon="'icon'" options="barGoogleMarkerOptions" click="onClick"
                                control="barGoogleMarkerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">
                                </ui-gmap-windows>
                            </ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>
                </ion-tab>
                <ion-tab title="FLASK US" ng-click="selectTab(3)">
                    <div style="padding:10px" ng-if="selectedIndex == 3">
                        <ion-content scroll="true" style="background: white">
                            <div>
                                <div style="max-width: 100vw">
                                    <div>
                                        <div class="left" style="left:0px;top:121px">
                                            <button class="button button-icon icon ion-chevron-left slider_arrow" ng-click="slidePrevious1('Flask-Detail')"></button>
                                        </div>
                                        <div class="right" style="top:121px">
                                            <button class="button button-icon icon ion-chevron-right slider_arrow" ng-click="slideNext1('Flask-Detail')"></button>
                                        </div>
                                        <ion-slide-box delegate-handle="Flask-Detail" show-pager='false' does-continue="true">
                                            <ion-slide ng-repeat="flaskUsDetail in flaskUsDetails" style="width:100%;padding-top:15px ">
                                                <div class="form-group">
                                                    <label class="control-label" for="Descriptionss"><div font-size="18px" style="width: 100%;"><b style="font-size:20px">Flask Us</b></div></label>
                                                    <div ng-if="flaskUsDetail.imageUrl">
                                                        <img class="full-image" src={{flaskUsDetail.imageUrl}} style="height: 100px;width:252px">
                                                    </div>

                                                    <div class="form-group" style="padding-top:20px">
                                                        <label class="control-label" for="Descriptions"><div style="width: 90%;padding-left:85px;text-align: start"><b style="font-size:16px">{{flaskUsDetail.infoTitle}}</b></div></label>
                                                    </div>
                                                    <div class="col-70" id="Descriptions" style="width: 90%;padding-left:85px;text-align: start;font-weight: 300">
                                                        <div class="ion-star " style="float:left;margin-left: -24px"></div>
                                                        {{flaskUsDetail.infoDesc}}
                                                    </div>


                                                </div>
                                                <div class="eventHeading2" style="text-align:center;padding-top:30px" ng-click="toggleMsgDiv()">
                                                    <span class="overlineStyle" style="font-size:18px">FLASK US YOUR QUESTIONS</span>
                                                </div>
                                                <div class="flaskUsQuestionDiv" ng-class="{hideFlaskUsQuestionDiv:toggleQueDiv}" ng-if="hideDiv==false">
                                                    <div align="center">
                                                        <span class="que-input-label"><b style="font-size:12px;float:left">NAME*</b></span>


                                                        <input type="text" class="QuestionInput" style="border: solid .3px;height: 25px;border-radius: 8px">
                                                        <span class="que-input-label"><b style="font-size:12px;float:left">EMAIL*</b></span>

                                                        <input type="text" class="QuestionInput" style="border: solid .3px;height: 25px;border-radius: 8px">
                                                        <span class="que-input-label"><b style="font-size:12px;float:left">QUESTION*</b></span>

                                                        <textarea class="QuestionInput" style="border: solid .3px;height: 55px;border-radius: 8px"></textarea>
                                                    </div>
                                                    <div align="center">
                                                        <button type="submit" nav-clear class="button button-block button-positive sign_in_button" style="width: 250px">
                                                            Send
                                                        </button>
                                                    </div>
                                                </div>


                                            </ion-slide>
                                        </ion-slide-box>
                                    </div>
                                </div>

                            </div>
                        </ion-content>
                    </div>
                </ion-tab>
            </ion-tabs>
        </div>
        <div ng-if="infoTypeName == 'Post-Event'" class="Post-Event">
            <ion-tabs class="tabs-positive tab_bottom">
                <ion-tab title="BARS/FOOD" ng-click="selectTab(0)">
                    <div id="barTab" style="height:100%;width:100%" ng-if="selectedIndex == 0">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" control="map.control" events="map.events">
                            <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events" options="searchbox.options"></ui-gmap-search-box>-->
                            <ui-gmap-map-control position="right_center">
                                <div ng-controller="refreshMap">
                                    <div style="margin-right: 5px">
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039)
                                0px 2px 6px; cursor: pointer; margin-bottom: 5px; text-align: center; background-color: rgb(255,
                                255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniFlaskButton" ng-click="selectBarFlaskMarker()"></div>
                                            </div>
                                        </div>
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px; cursor: pointer; margin-bottom: 22px; text-align: center; background-color: rgb(255, 255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-family: Roboto, Arial, sans-serif; font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniGoogleButton" ng-click="selectBarGoogleMarker()"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ui-gmap-map-control>
                            <ui-gmap-markers models="barMarkers" coords="'self'" icon="'icon'" options="barFlaskMarkerOptions" click="onClick" control="barFlaskMarkerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">

                                </ui-gmap-windows>
                            </ui-gmap-markers>
                            <ui-gmap-markers models="barsGoogleMarkers" coords="'self'" icon="'icon'" options="barGoogleMarkerOptions" click="onClick"
                                control="barGoogleMarkerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">
                                </ui-gmap-windows>
                            </ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>
                </ion-tab>

                <ion-tab title="Nightlife" ng-click="selectTab(1)" events="map.events">
                    <div id="nightLifeTab" style="height:100%;width:100%" ng-if="selectedIndex == 1">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" control="map.control">
                            <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events" options="searchbox.options"></ui-gmap-search-box>-->
                            <ui-gmap-map-control position="right_center">
                                <div ng-controller="refreshMap">
                                    <div style="margin-right: 5px">
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039)
                                0px 2px 6px; cursor: pointer; margin-bottom: 5px; text-align: center; background-color: rgb(255,
                                255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniFlaskButton" ng-click="selectNightLifeFlaskMarker()"></div>
                                            </div>
                                        </div>
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px; cursor: pointer; margin-bottom: 22px; text-align: center; background-color: rgb(255, 255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-family: Roboto, Arial, sans-serif; font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniGoogleButton" ng-click="selectNightLifeGoogleMarker()"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ui-gmap-map-control>
                            <ui-gmap-markers models="nightLifes" coords="'self'" icon="'icon'" options="nightLifeFlaskMarkerOptions" click="onClick"
                                control="nightLifeFlaskMarkerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">

                                </ui-gmap-windows>
                            </ui-gmap-markers>
                            <ui-gmap-markers models="nightLifesGoogleMarkers" coords="'self'" icon="'icon'" options="nightLifeGoogleMarkerOptions" click="onClick"
                                control="nightLifeGoogleMarkerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">
                                </ui-gmap-windows>
                            </ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>
                </ion-tab>

                <ion-tab title="HOTELS" ng-click="selectTab(2)">
                    <div id="hoteltab" style="height:100%;width:100%" ng-if="selectedIndex == 2">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" control="map.control" events="map.events">
                            <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events" options="searchbox.options"></ui-gmap-search-box>-->
                            <ui-gmap-map-control position="right_center">
                                <div ng-controller="refreshMap">
                                    <div style="margin-right: 5px">
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039)
                                0px 2px 6px; cursor: pointer; margin-bottom: 5px; text-align: center; background-color: rgb(255,
                                255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniFlaskButton" ng-click="selectHotelFlaskMarker()"></div>
                                            </div>
                                        </div>
                                        <div title="Select Type" style="border: 2px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px; cursor: pointer; margin-bottom: 22px; text-align: center; background-color: rgb(255, 255, 255);">
                                            <div style="color: rgb(25, 25, 25); font-family: Roboto, Arial, sans-serif; font-size: 16px; height: 32px; padding: 5px;">
                                                <div class="miniGoogleButton" ng-click="selectHotelGoogleMarker()"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ui-gmap-map-control>
                            <ui-gmap-markers models="hotelMarkers" coords="'self'" icon="'icon'" options="hotelFlaskMarkerOptions" click="onClick" control="hotelFlaskMarkerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">

                                </ui-gmap-windows>
                            </ui-gmap-markers>
                            <ui-gmap-markers models="hotelGoogleMarkers" coords="'self'" icon="'icon'" options="hotelGoogleMarkerOptions" click="onClick"
                                control="hotelGoogleMarkerOptions.control">
                                <ui-gmap-windows show="'show'" templateUrl="'templateUrl'" templateParameter="'templateParameter'">
                                </ui-gmap-windows>
                            </ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>
                </ion-tab>
                <ion-tab title="GETTING HOME" ng-click="selectTab(3)">
                    <div style="padding:10px" ng-if="selectedIndex == 3">
                            <ion-content overflow-scroll="false"style="margin-top: 1px">
                                <div class="list" >
                                    <a class="item item-avtar item-icon-right item-ticket" ng-repeat="gettingHomeDetail in gettingHomeDetail" ng-if="gettingHomeDetail.phoneNumber==undefined">
                                        <h2 class="tickets" style="text-transform:uppercase;font-size: 24px">{{gettingHomeDetail.infoTitle}}</h2>
                                        <p class="item-tickets" >{{gettingHomeDetail.phoneNumber}}</p>

                                    </a>
                                    <a class="item item-avtar item-icon-right item-ticket" ng-repeat="gettingHomeDetail in gettingHomeDetail"  href="tel:{{gettingHomeDetail.phoneNumber}}" ng-if="gettingHomeDetail.phoneNumber">
                                        <h2 class="tickets" style="text-transform:uppercase;font-size: 24px">{{gettingHomeDetail.infoTitle}}</h2>
                                        <p class="item-tickets" >{{gettingHomeDetail.phoneNumber}}</p>

                                    </a>
                                    </div>
                        </ion-content>
                    </div>
                </ion-tab>

                <ion-tab title="FLASK US" ng-click="selectTab(4)">
                    <div style="padding:10px" ng-if="selectedIndex == 4">
                        <ion-content scroll="true" style="background: white">
                            <div>
                                <div style="max-width: 100vw">
                                    <div>
                                        <div class="left" style="left:0px;top:121px">
                                            <button class="button button-icon icon ion-chevron-left slider_arrow" ng-click="slidePrevious1('Flask-Detail')"></button>
                                        </div>
                                        <div class="right" style="top:121px">
                                            <button class="button button-icon icon ion-chevron-right slider_arrow" ng-click="slideNext1('Flask-Detail')"></button>
                                        </div>
                                        <ion-slide-box delegate-handle="Flask-Detail" show-pager='false' does-continue="true">
                                            <ion-slide ng-repeat="flaskUsDetail in flaskUsDetails" style="width:100%;padding-top:15px ">
                                                <div class="form-group">
                                                    <label class="control-label" for="Descriptionssss"><div font-size="18px" style="width: 100%;"><b style="font-size:20px">Flask Us</b></div></label>
                                                    <div ng-if="flaskUsDetail.imageUrl">
                                                        <img class="full-image" src={{flaskUsDetail.imageUrl}} style="height: 100px;width:252px">
                                                    </div>

                                                    <div class="form-group" style="padding-top:20px">
                                                        <label class="control-label" for="Descriptions"><div style="width: 90%;padding-left:85px;text-align: start;font-weight: 300"><b style="font-size:16px">{{flaskUsDetail.infoTitle}}</b></div></label>
                                                    </div>
                                                    <div class="col-70" id="Descriptionssss" style="width: 90%;padding-left:85px;text-align: start;font-weight: 300">
                                                        <div class="ion-star " style="float:left;margin-left: -24px"></div>
                                                        {{flaskUsDetail.infoDesc}}
                                                    </div>
                                                </div>
                                                <div class="eventHeading2" style="text-align:center;padding-top:30px" ng-click="toggleMsgDiv()">
                                                    <span class="overlineStyle" style="font-size:18px">FLASK US YOUR QUESTIONS</span>
                                                </div>
                                                <div class="flaskUsQuestionDiv" ng-class="{hideFlaskUsQuestionDiv:toggleQueDiv}" ng-if="hideDiv==false">
                                                    <div align="center">
                                                        <span class="que-input-label"><b style="font-size:12px;float:left">NAME*</b></span>


                                                        <input type="text" class="QuestionInput" style="border: solid .3px;height: 25px;border-radius: 8px">
                                                        <span class="que-input-label"><b style="font-size:12px;float:left">EMAIL*</b></span>

                                                        <input type="text" class="QuestionInput" style="border: solid .3px;height: 25px;border-radius: 8px">
                                                        <span class="que-input-label"><b style="font-size:12px;float:left">QUESTION*</b></span>

                                                        <textarea class="QuestionInput" style="border: solid .3px;height: 55px;border-radius: 8px"></textarea>
                                                    </div>
                                                    <div align="center">
                                                        <button type="submit" nav-clear class="button button-block button-positive sign_in_button" style="width: 250px">
                                                            Send
                                                        </button>
                                                    </div>
                                                </div>
                                            </ion-slide>
                                        </ion-slide-box>
                                    </div>
                                </div>
                            </div>
                        </ion-content>
                    </div>
                </ion-tab>

            </ion-tabs>
        </div>
    </ion-content>
    <ion-footer-bar class=" bar bar-dark bar-footer bar-assertive customBarPadding">
        <div ng-include="'templates/advertisement.html'" class="footer-img"></div>
    </ion-footer-bar>
</ion-view>