<ion-view view-title="USER REGISTRATION">
    <ion-content>
            <form name="register_user_form" class="loginpane form_div" novalidate style="height: 3000px;" ng-submit="register_user_form.$valid ">
                <div class="loginpane_body">
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Email</span>
                            <input type="email" class="form-control" ng-model="user.Email" name="Email" required>
                        </label>
                    </div>
                    <div class="padding" align="center">
                        <a nav-clear class="button button-block button-positive sign_in_button" href="#/app/login">
                            Submit
                        </a>
                        <a nav-clear class="button button-block button-positive sign_in_button" href="#/app/events">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
    </ion-content>
</ion-view>
