<ion-view cache-view="false" view-title="FORGOT PASSWORD" has-header="false">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            <a href="#/app/events"><img alt="Flask" class="header-img" src="img/headerFlaskLogo.png" /></a>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
            <form name="register_user_form" class="loginpane form_div" novalidate ng-submit="register_user_form.$valid && sendForgotpasswordLink()">
                <div class="loginpane_body">
                    <div class="list">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Email</span>
                            <input type="email" placeholder="Email" class="form-control" ng-model="user.email" name="Email" required>
                            <div ng-show="register_user_form.$submitted || register_user_form.Email.$touched"  class="ng-hide">
                             <span ng-show="register_user_form.Email.$error.required" class="error_msg">Please enter your email!</span>
                             <span ng-show="register_user_form.Email.$error.email" class="error_msg">Please enter valid email!</span>
                            </div>
                        </label>
                    </div>
                    <div class="padding" align="center">
                        <button type="submit" nav-clear class="button button-block button-positive sign_in_button">
                            Submit
                        </button>
                        <a nav-clear class="button button-block button-positive sign_in_button" href="#/app/events">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
    </ion-content>
</ion-view>
