<ion-view view-title="USER REGISTRATION">
    <ion-content>
        <ion-scroll zooming="true" direction="y" style="height: 600px;">
            <form name="register_user_form" class="loginpane form_div" novalidate style="height: 3000px;">
                <div class="loginpane_body">
                    <div class="list">
                        <div class="item item-input item-floating-label">
                            <span class="input-label">Email</span>
                            <input type="text" placeholder="Email" name="Email" class="form-control">
                        </div>
                    </div>
                    <div class="padding" align="center">
                        <a nav-clear class="button button-block button-positive sign_in_button" href="#/app/login">
                            Submit
                        </a>
                        <a nav-clear class="button button-block button-positive sign_in_button" href="#/app/login">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
            <ion-infinite-scroll on-infinite="loadMoreData()"
                                 distance="1%">
            </ion-infinite-scroll>
    </ion-content>
</ion-view>
