
<ion-view cache-view="false" view-title="MY FRIENDS">
  <ion-content class="text-center">
    <div><img src="{{picUrl}}{{friend.uuid}}" class="list-thumbnail"  onError="this.src = 'img/default-profilepic.png'" /></div>
    <div>
        <h2 class="eventNameCol">{{ freind.firstName }} {{friend.lastName}}</h2>
        <p class="friend">{{friend.emailAddress}}</p>

    </div>
    <div  align="center">
        <button type="submit" nav-clear="" class="button button-block button-positive friend" ng-click="sendMessage()">
            Send Message
        </button>
    </div>
    <div  align="center">
        <button type="submit" nav-clear="" class="button button-block button-positive friend" ng-click="blockFriend()">
          Block
        </button>
    </div>
     <div  align="center">
        <button type="submit" nav-clear="" class="button button-block button-positive friend" ng-click="unFriend()">
          Unfriend
        </button>
    </div>
  </ion-content>
</ion-view>