<ion-view cache-view="false" view-title="MESSAGES"class="my-message-view"ng-init="getNotification()">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-android-arrow-back back_button_css" ng-click="goBack()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <ion-list>
            <ion-item click-for-options ng-repeat="message in allMessages track by $index" ng-click="replyMessage(message,$index,textMessage.messageToSend,'')" ng-init="message.reply=false">
               <div>
                <h2 class="emailText">{{message.senderName}}</h2>
                <h4 style="float: right">{{message.diffDate}}</h4>

             <div class="col-60"><h3 ng-class="{unreadMessageText: message.read==false}">{{message.message}}</h3></div>

                   <div   ng-if="message.reply==true" style="margin-top:4px;margin-left: 0px">
                       <textarea ng-if="showTextArea.show==true"ng-model="textMessage.messageToSend" id="textArea" class="showNotificationTextArea hidemsgTexArea hideAll"autofocus></textarea>
                       <button ng-if="ShowReplyButton==true" style="float:right;margin-top: -30px" class="button button-small suppliesButton"ng-click="replyMessage(message,$index,textMessage.messageToSend,'close')">
                         Reply
                       </button>
                   </div>

                <ion-option-button  class="icon ion-trash-a"ng-click="deleteMessage(message.messageId,$index)"></ion-option-button>
                </div>

            </ion-item>
        <div ng-if="allMessages.length==0 && showMsg==true" class="item">There are no messages.</div>

        </ion-list>
    </ion-content>
    </ion-view>