
<ion-view cache-view="false" view-title="MY FRIENDS">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-arrow-left-c" ng-click="goBack();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content class="text-center">
    <div><img src="{{picUrl}}{{friend.uuid}}" class="list-thumbnail"  onError="this.src = 'img/default-profilepic-copy.png'"style="max-width: 210px" /></div>
    <div>
        <h2 class="eventNameCol" ng-bind-template="{{ friend.firstName }} {{friend.lastName}}"></h2>
        <p class="friend">{{friend.emailAddress}}</p>

    </div>
    <div  align="center">
        <button type="submit" nav-clear="" class="button button-block button-positive friend" ng-click="showSendMessagePopup()">
            Send Message
        </button>
    </div>
      <a style="text-decoration: none"ng-click="initializeMediatorId(friend.userId)">
    <div  align="center">
        <button type="submit" nav-clear="" class="button button-block button-positive friend">
        Add To Group
        </button>
    </div></a>
      <script id="templates/sendMessage.html" type="text/ng-template">
            <ion-modal-view >
                <ion-header-bar class="bar bar-header bar-positive black-header">
                    <h1 class="title">Send Message</h1>
                    <button class="button button-clear button-primary" ng-click="closeSendMessagePopup()">X</button>
                </ion-header-bar>
                <ion-content class="padding">
                    <div ng-if="messageSentStatus">Message sent successfully </div>
                    <div class="list">
                        <label class="item item-input">
                        <textarea ng-model="message.messageToSend" placeholder="" id="sendMessageTextArea" rows="10" autofocus placeholder="Write message to send..">

                        </textarea> </label>
                        <button class="button button-full button-positive" ng-click="sendMessage(message.messageToSend)"style="color: #ff8c00">Send </button>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
  </ion-content>
</ion-view>