<ion-view cache-view="false" view-title="NOTIFICATION"ng-init="getRequestToConfirm()" class="my-friend-request-view">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-android-arrow-back back_button_css" ng-click="goBack();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <ion-list>
            <ion-item ng-repeat="request in requestedUserDetail">
                <div >
                    <img ng-if="request.requestedPersonPicUrl==undefined" src = "img/default-profilepic-copy.png"class="friendIcon" >
                    <img ng-if="request.requestedPersonPicUrl.length>0" src = "{{request.requestedPersonPicUrl}}"class="friendIcon" style="width: 47px;height: 47px;border-radius: 50%;"/>
                </div>
                <div class="col-75" style="text-align: center">
                <h3 class="f-nameText emailText" ng-bind="request.firstName+' '+request.lastName"></h3>
                </div>
                    <div class="badge supplyDeleteButton extra-right-supply">
                    <span class="button-assertive ion-android-cancel icon supplyDeleteIcon supplyEditIconPadding" ng-click="deleteSocialRelation(request.userId,$index)"></span>
                </div>
                <div class="badge supplyDeleteButton extra-right-supply friend_group_notification_div">
                    <span class="button-assertive ion-android-checkbox supplyDeleteIcon supplyEditIconPadding"ng-click="addSocialRelation(request.userId,$index)"></span>
                </div>
              <!--  <div style="padding-left: 58px;padding-top: 2px;">
                <button class=" ext-right friendRequestButtonStyle extra-top-request"ng-click="addSocialRelation(request.userId,$index)"><i class="emailText">Confirm</i> </button>

                <button class=" ext-right friendRequestButtonStyle extra-top-request"ng-click="deleteSocialRelation(request.userId,$index)"><i class="emailText">Delete</i> </button>
                </div>-->
                  <!--  <ion-option-button  class="icon ion-no-smoking"ng-if="featureToBock==true"></ion-option-button>-->

            </ion-item>

            <div class="item "ng-if="requestedUserDetail.length==0 && showEmptymessage==true;">You don't have any new notification.</div>
        </ion-list>
    </ion-content>
    </ion-view>