<ion-view back-button="true" cache-view="false" view-title={{groupTitle}} class="my-groupDetail-view">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-arrow-left-c" ng-click="goBack();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
<div ng-if="editGroup==true">
    <form name="create_group_form" class="loginpane form_div" novalidate  ng-submit="create_group_form.$valid && updateGroup(groupDetail.groupName,groupDetail.groupDescription)">
        <div class="loginpane_body">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Group Name</span>
                    <input type="text" placeholder="Group name" class="form-control loginInputs" ng-model="groupDetail.groupName" name="GroupName" required>
                    <div ng-show="create_group_form.$submitted || create_group_form.GroupName.$touched">
                        <span ng-show="create_group_form.GroupName.$error.required" class="error_msg">Enter group name</span>
                    </div>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Description</span>
                    <input type="text" placeholder="Description" class="form-control loginInputs" ng-model="groupDetail.groupDescription" name="Description" required>
                    <div ng-show="create_group_form.$submitted || create_group_form.Description.$touched">
                        <span ng-show="create_group_form.Description.$error.required" class="error_msg">Enter Description</span>
                    </div>
                </label>

            </div>
            <div class="padding" align="center">
                <button type="submit" nav-clear class="button button-block button-positive sign_in_button">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
        <a class="item item-full list-item-icon-left "ng-click="showInviteFriendPopup()"ng-if="isLoginUserAdmin==true">
            <div style="float:left;"><img src="img/flask_icons/add_new.svg" class="FlaskionIcons"></div>
            <p class="addText">ADD MEMBER</p>
        </a>
        <a class="item item-full list-item-icon-left "ng-if="isLoginUserAdmin==false">
            <p class="addText">GROUP MEMBERS</p>
        </a>
       <ion-list>
           <ion-item ng-repeat="data in allMember track by $index"class="row-no-padding"padding="false">
                <a class="row-no-padding"ng-click="groupMemberDetail(data)">

                   <div class="col col-20">
                    <img src = "img/default-profilepic-copy.png"class="friendIcon">
                   </div>
                    <div class="col col-70"style="padding-top: 4px">
                 <h3 style="padding-left: 10px;font-size: 12px">{{ data.userName | uppercase}}</h3>
                    <i style="margin-left: 10px;color: darkorange">{{data.emailAddress}}</i></div>
                    <div>
                    <span class="badge"style="right: 12px;" ng-if="data.isAdmin==1"ng-init="data.checked=true"><i class="adminText">admin</i></span>
                    <span class="badge" style="right: 12px;" ng-if="data.isAdmin==0"ng-init="data.isAdminCheckBox=false"><i class="userText">user</i></span>
                </div>
                </a>
               <ion-option-button  class="icon ion-trash-a"ng-click="removeMember(data,$index)"ng-if="isLoginUserAdmin==true && groupAdminDetail!=data.userName"></ion-option-button>

           </ion-item>

           </ion-list>

        </div>
        <script id="templates/modal.html" type="text/ng-template">
            <ion-modal-view >
                <ion-header-bar class="bar bar-header bar-positive black-header">
                    <h1 class="title">ADD MEMBER</h1>
                    <button class="button button-clear button-primary" ng-click="finishAddingMember()">X</button>
                </ion-header-bar>
                <div class="bar bar-subheader">
                    <div class="row">
                        <div class="col col-90 col-center searchrow">
                            <input type="text" placeholder="Search friend..." class="friendSearch" ng-model="searchContact.searchtext"/>
                        </div>
                        <div class="col col-center searchrow">
                            <button class="button button-icon button-clear ion-ios-search" ng-click="filterUserContact(searchContact.searchtext)"></button>
                        </div>
                    </div>
                </div>
                <ion-content class="padding has-subheader">
                    <ion-list>
                        <ion-item ng-repeat="data in memberToAddInGroup track by $index" class="item-avatar " item="data"class="row">
                            <img src = "img/default-profilepic-copy.png">
                            <h2>{{ data.fullName | uppercase}}</h2>
                            <p>{{ data.emailAddress}}</p>
                          <span class="badge"style="right: 7px"><img src="img/flask_icons/add_new.svg" class="FlaskionIcons "ng-click="addUserToGroup(data)"></span>
                        </ion-item>
                        <a class="item" ng-if="memberToAddInGroup.length == 0"> there are no more friends to add </a>

                        <div class="padding" align="center">
                            <a type="submit" nav-clear class="button button-block button-positive sign_in_button"ng-click="finishAddingMember()">
                                Finish
                            </a></div>
                    </ion-list>
                    <!--
                                        <ion-infinite-scroll on-infinite="getMoreUserContact(searchContact.searchtext)" distance="10%"></ion-infinite-scroll>
                    -->
                </ion-content>
            </ion-modal-view>
        </script>


    </ion-content>
</ion-view>