<ion-view view-title="Login" align-title="left" hide-nav-bar="true">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="loginpane form_div">
            <div class="loginpane_header">
                <img title="logo_2" alt="logo_2" class="cq-dd-image" style="zoom:0.3">
            </div>
            <div class="loginpane_body">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Username or Email</span>
                        <input type="text" placeholder="Username or Email" ng-model="user.email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="Password" ng-model="user.password">
                    </label>
                </div>
                <div class="padding" align="center">
                    <button nav-clear class="button button-block button-positive sign_in_button" ng-click="LogIn(user)">
                        Login
                    </button>
                    <button nav-clear class="button button-block button-positive sign_in_button" ng-click="LogIn(user)" href="#/app/events">
                        Cancel
                    </button>
                </div>
                <div class="navigation">
                    <ul class="taglib-icon-list unstyled">
                        <li class="" role="presentation">
                            <a href="#/app/user_registration" class=" taglib-icon" role="menuitem">
                                <span class="taglib-text"><i class="ion ion-android-person-add"></i>Create User</span>
                            </a>
                        </li>
                        <li class="" role="presentation">
                            <a href="#/app/user_registration" class=" taglib-icon" role="menuitem">
                                <span class="taglib-text"><i class="ion ion-help-circled"></i>Forgot Password</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="loginpane_footer">

            </div>
        </div>
    </ion-content>
</ion-view>
