<ion-view cache-view="false" view-title="Login" align-title="left" hide-nav-bar="true">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            </button>
        </ion-nav-buttons>
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>    
    </ion-nav-bar>
    <ion-content>
        <div class="loginpane form_div" ng-cloak>
            <div class="loginpane_header">
                <img title="logo_2" alt="logo_2" class="cq-dd-image" style="zoom: 0.3;">
            </div>
            <div class="card" ng-show="Error">
                <div class="item item-text-wrap ErrorColor">
                    User name or password did not match. 
                </div>
            </div>
            
            <form name="login_form" class="loginpane form_div" novalidate  ng-submit="login_form.$valid && doLogin(user)" style="">
                <div class="list card loginpane_body">

                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="email" placeholder="Email" class="form-control loginInputs" ng-model="user.Email" name="Email" required>
                        <div ng-show="login_form.$submitted || login_form.Email.$touched" class="ng-hide">
                            <span ng-show="login_form.Email.$error.required" class="error_msg">Enter your user name</span>
                            <span ng-show="login_form.Email.$error.email" class="error_msg">This is not a valid email</span>
                        </div>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="Password" class="form-control loginInputs" ng-model="user.password" name="password" required>
                        <div ng-show="login_form.$submitted || login_form.password.$touched" class="ng-hide">
                             <span ng-show="login_form.password.$error.required" class="error_msg">Please enter your password</span>
                        </div>
                    </label>
                    <div class="padding" align="center">
                        <div>                            
                            <button type="submit" nav-clear class="button button-block button-positive sign_in_button">
                                Login
                            </button>
                        </div>
                        <div class="item item-checkbox" style="background-color: #ffffff;border-bottom-color: white;border-top-color: white;color: #f7941e;">
                            <label class="checkbox eulacheckbox" style="right: auto !important;">
                                <input type="checkbox" ng-model="user.isChecked" ng-click="remembered(user);" style="width: 22px !important;height: 22px !important;">
                            </label>
                            <span  class="remember" style="float:left;" ng-click="remembered(user);">Remember Me</span>
                        </div>
                    </div>
                    <div class="navigation">
                        <ul class="taglib-icon-list unstyled">
                            <li class="listAlign" role="presentation">
                                <a href="#/app/forgot_password" class=" taglib-icon" role="menuitem" ng-click="login_form.$setPristine();">
                                    <span class="taglib-text"><i class="ion ion-help-circled"></i>Forgot Password</span>
                                </a>
                            </li>
                            <li class="listAlign" role="presentation">
                                <a href="#/app/reset_password" class=" taglib-icon" role="menuitem" >
                                    <span class="taglib-text"><i class="ion ion-edit"></i>Reset Password</span>
                                </a>
                            </li>
                            <li class="listAlign" role="presentation">
                                <a href="#/app/events" class=" taglib-icon" role="menuitem" ng-click="login_form.$setPristine();">
                                    <span class="taglib-text"><i class="ion ion-edit"></i>Create Account Later</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="loginpane_footer">
        </div>
    </ion-content>
</ion-view>