<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>          
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search">
        </button>          
      </ion-nav-buttons>         
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="my-side-menu">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="my-list-item">
        <ion-item menu-close href="#/app/login" class="my-list-item">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/events" class="my-list-item">
          Events
        </ion-item>
        <ion-item menu-close href="#/app/supplies" class="my-list-item">
          Supplies
        </ion-item>
        <ion-item menu-close href="#/app/user_navigation_menu" class="my-list-item">
          User Navigation Menu
        </ion-item>
          <ion-item menu-close href="#/app/user_registration" class="my-list-item">
              User Registration
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
