<ion-view view-title="MY EVENTS">
    <search-bar ng-model="search" class="button button-icon button-clear ion-search"></search-bar>
    <ion-content>
        <a class="item item-full item-icon-left icon ion-plus-circled" href="#/app/addMyEvent">
            ADD EVENT
        </a>
        <div class="list">
            <a class="item item-thumbnail-left item-icon-right eventList" href="#" ng-repeat="data in myEvent">
                <img src="img/events.jpg" class="listImages">
                <h2 class="eventNameCol">{{ data.eventName }}</h2>
                <p class="dateCol">{{data.eventDate | date:'EEEE,MMMM dd,yyyy'}}</p>
                <p class="timeVenuCol">{{data.startTime | date:"h:mma"}} </p>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>