<ion-view cache-view="false" view-title="MY EVENTS">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-search" ng-click="searchBox.showBox = !searchBox.showBox"></button>
    </ion-nav-buttons>    
    <div class="bar bar-subheader BgCol1" ng-show="searchBox.showBox">
        <div class="row searchrow">
            <div class="col col-100 col-center searchrow">
                <input type="text" placeholder="Search Event..." class="searchboxArea" ng-model="eventList.searchString" />
            </div>
        </div>
    </div>
    <ion-content ng-click="searchBox.showBox = false">
        <a class="item item-full item-icon-left " href="#/app/addMyEvent">
            <div style="float:left;"><img src="img/FLASK ICONS/FLASK_ICON_ADD_NEW.svg" class="FlaskionIcons"></div>
            <p class="addText">ADD EVENT</p>
        </a>
        <div class="card" ng-show="myEventError">
            <div class="item item-text-wrap ">
                There are no events 
            </div>
        </div>
        <div class="card" ng-show="myNoEventError">
            <div class="item item-text-wrap ">
                No events added yet.
            </div>
        </div>
        <ion-list show-delete="false" can-swipe="true">            
            <ion-item class="myList item-remove-animate" href="" ng-repeat="data in myEvent | filter: eventList.searchString" >
                <div class="row">
                    <div class="col"><img src="{{imgUrl}}{{data.eventImageUUID}}&groupId=20181" class="list-thumbnail listImages1" alt="Image not found" onError="this.src = 'img/FlaskRed.png';" /></div>
                    <div class="col col-70 event_content1">
                        <h2 class="eventNameCol">{{ data.eventName }}</h2>
                        <p class="dateCol">{{data.eventDate | date:'EEEE,MMMM dd,yyyy'}}</p>
                        <p class="timeVenuCol">{{data.startTime | date:"h:mma"}} </p>
                    </div>
                    <div class="col">
                        <span class="badge span_icon" ng-click="addmyEvent(data.eventId,$index)"><img src="img/FLASK ICONS/FLASK_ICON_ARROW_LEFT.svg"></span>
                    </div>
                </div>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="removeEvent(data.eventId,$index);"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
