<ion-view view-title="MY Friend"cache-view="false">
    <ion-tabs class="tabs-positive tab_bottom tabs-icon-left">
        <ion-tab title="MY FRIEND"href="#/app/my_friends_tab/my_friends"ng-click="myFriendTab()">
            <ion-nav-view name="myFriend_tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="MY GROUP" href="#/app/my_friends_tab/friends_group/{{userId}}">
            <ion-nav-view name="myGroup_tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="NOTIFICATION"href="#/app/my_friends_tab/notification_tab">
            <ion-nav-view name="notification_tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>