<ion-view cache-view="false" view-title="MY FRIENDS">
    
    <ion-content>
        <!--<ion-spinner></ion-spinner>-->
        <a class="item item-full item-icon-left icon ion-plus-circled" ng-click="modal.show()">
            INVITE FRIEND 
        </a>
        <div class="card" ng-if="noFriendAdded">
            <div class="item item-text-wrap ">
                No Friends added yet.
            </div>
        </div>
        <div ng-if="!noFriendAdded">
            <ion-scroll  >
                <div class="list"> 
                    <a ng-repeat="data in myFriends" item="data"  class="item item-avatar" href="#/app/my_friendDetail/{{data.userId}}">
                        <img src = "img/default-profilepic.png">
                        <h2>{{ data.fullName | uppercase}}</h2>
                        </ion-item>
                    </a>
            </div>
         </div>
        <script id="templates/modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">Invite Friend</h1>
                    <button class="button button-clear button-primary" ng-click="modal.hide()">X</button>
                </ion-header-bar>
                <ion-content class="padding">
                    <form name="listForm" role="form">
                        <div class="form-group">
                            <label for="listName">Friend Name:</label>
                            <input type="text" class="form-control" ng-model="list.listName" name="listName" id="listName" />
                        </div>
                        <div class="form-group">
                            <button type="button" class="button button-full button-positive" ng-click="saveList(list)">Invite Friend</button>
                        </div>
                    </form>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>