<ion-view view-title="EVENT PLAN" cache-view="false">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-android-arrow-back back_button_css" ng-click="goBack();"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-share"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding" overflow-scroll="false">
        <div class="paynow">
            <div class="tailgateInfo">
                <div class="row">
                    <div class="col"><span class="tailgateDescFont">START TIME :</span>{{myTailgate.startTime | date:"h:mma"}}</div>
                    <div class="col"><span class="tailgateDescFont">COST :</span>{{myTailgate.amountToPay | currency}}</div>
                </div>
                <div class="row">
                    <div class="col"><div class="tailgateDescFont">EVENT DETAILS</div><span>{{myTailgate.tailgateDescription}}</span></div>
                </div>
                <div class="row">
                    <div class="col"><span class="tailgateDescFont">EVENT LOCATION</span><span>{{myeventLocation.mytailgate}}</span></div>
                </div>
                <div class="row">
                    <button nav-clear class="button button-block button-positive pay_now_button" ng-click="fnPayNow();">
                        Pay Now
                    </button>
                </div>
            </div>
            <div class="list">
                <div class="item item-divider plan_now">
                    WHAT TO BRING
                </div>
            </div>
            <a class="item" ng-if="allMyTailgateItems.length == 0"> You do not any supply items... </a>
            <label class="list">
                <ion-list class="item item-icon-left item-checkbox-right list-item" data-id="data.supplyItemId" ng-model="selected_checkbox" ng-repeat="data in allMyTailgateItems">
                    <h2 class="items_list">{{data.supplyListItemName}}</h2>
                    <div class="plan_now_div">
                        <select class="plan_now_user" ng-model="user_selected" ng-options="userdata.userName for userdata in myTailgaters" ng-change="updateSupplyItems(data,user_selected)" placeholder="Select User">
                            <option selected>Select Tailgator</option>
                        </select>
                    </div>
                </ion-list>
            </label>
            <a class="item" ng-if="myFriends.length == 0"> You do not have any tailgater yet. Please search and add tailgaters </a>
            <div class="list">
                <div class="item item-divider plan_now">
                    SUPPLY ITEMS ASSIGNED TO
                </div>
            </div>
          
            <label class="list">
                <ion-list class="item list-item" ng-repeat="data in itemUser">
                    <h2 class="items_list">{{data.itemName}}</h2>
                    <h2 class="items_user_list">{{data.user}}</h2>
                </ion-list>
            </label>
    </ion-content>
</ion-view>

