<ion-view view-title="EVENT DETAILS" cache-view="false">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-android-arrow-back back_button_css" ng-click="goBack();"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-edit edit_tailgate" ng-click="checkTailgateId();" ng-show="isTailgateAdmin"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false" >
        <div class="list tab1">
            <!-- Tab 1 content -->
            <div class="divImage">

                <img class="myTailgatetopImg" src="img/flask_images/Fotolia_20387372_Subscription_Monthly_M.jpg" ng-if="tailgateLogoId == 0"
                />
                <img ng-src="{{tailgateLogoUrl}} " class="myTailgatetopImg" alt="Image not found" ng-if="tailgateLogoId>0" />
            </div>
            <div class="mytailgate_Heading">
                <h3><span class="overlineStyle">{{myTailgate.tailgateName}}</span></h3>
            </div>
            <div class="eventDiv">
                <a class="item item-icon-right tailgateEventList" href="#/app/pre_post_game/{{myTailgate.eventName}}/{{myTailgate.eventId}}/{{data.venueId}}">
                    <h2 class="tailgateEventNameCol">{{myTailgate.eventName}}</h2>
                    <p class="tailgateDateCol">{{myTailgate.tailgateDate | date:'EEEE, MMMM dd, yyyy'}}</p>
                    <span class="badge span_icon span_icon_extraright "><img src="img/flask_icons/arrow_left.svg"></span>
                </a>
            </div>
            <div class="tailgateInfo tailgateInfoborder">
                <div class="row">
                    <div class="col" style="width:155px;"><span class="tailgateDescFont">START TIME :</span>{{myTailgate.startTime | date:"h:mma"}}</div>
                    <div class="col"><span class="tailgateDescFont">COST :</span>{{myTailgate.amountToPay | currency}}</div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="tailgateDescFont">EVENT DETAILS</div><span class="tailgate_Info">{{myTailgate.tailgateDescription}}</span></div>
                </div>
                <div class="row">
                    <div class="col"><span class="tailgateDescFont">EVENT LOCATION</span><span>{{myeventLocation.mytailgate}}</span></div>
                </div>
            </div>
            <div class="pic_gallery tailgateInfoborder">
                <div class="row">
                    <div class="col">
                        <div class="tailgateDescFont">PICTURES</div>
                        <span style="overflow:scroll">
                            <a class="item photoitem" data-ng-click="showPictureChooser()">
                                <div><img src="img/flask_icons/add_new.svg" class="FlaskionIcons"></div>
                                <p class="photobuttontext">ADD <br /> PHOTO</p>
                            </a>
                            <a class="item item-list-detail image_list">
                                <ion-scroll direction="x" class="tailgate_thumb" style="overflow: scroll;overflow-x: scroll" overflow-scroll="false">
                                    <span ng-repeat="images in myTailgateImages">
                                    <span data-ng-click="removeTailgateImage($index,images.tailgateImageId)" ng-if = "isTailgateAdmin"><i  class="crossIconTailgate"><img src="img/flask_icons/delete.svg" style="width: 20px;height: 20px;"/></i></span>
                        <img ng-src="{{imgUrl}}{{images.imageUUID}}&groupId={{images.imageGroupId}}"  class="list-thumbnail thumb-picturs-size " alt="Image not found"
                            onError="this.src = 'img/FlaskRed.png';" ng-click="showPopup($index)"/>
                        </span>
                        </ion-scroll>
                        </a>
                        </span>
                    </div>
                </div>

            </div>
            <div class="message_board">
                <div class="row">
                    <div class="col">
                        <div class="msgboard_div">MESSAGE BOARD</div>
                        <span>
                            <div class="list list-inset msgboard">
                                <div class="col-col-70 msg_input">
                                    <label class="item item-input item-icon-right" style="">
                                        <input type="text" placeholder="Type Message Here..." ng-model="Message">
                                    </label>
                                </div>
                                <div class="col-col-15 msg_list">
                                    <span class="badge span_icon" ng-click="saveMessage(Message);"><img src="img/flask_icons/arrow_left.svg"></span>
                    </div>
                </div>
                <div class="list">
                    <div class="messageList" ng-repeat="data in messageUser">
                        <img class="default_img" ng-src='img/default-profilepic-copy.png'>
                        <p class="profile_name">@{{data.username}}_User</p>
                        <div>
                            <p class="message_username ">@{{data.username}}_User</p>
                            <p class="messageTxt ">{{data.message}}_message</p><br></div>
                    </div>
                </div>
                </span>
            </div>
        </div>
        </div>
        </div>
    </ion-content>
</ion-view>