<ion-view view-title="EVENT PLAN" cache-view="false">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-android-arrow-back back_button_css" ng-click="goBack();"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-share"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding" overflow-scroll="false">
        <div class="paynow">
            <div class="tailgateInfo">
                <div class="row">
                    <div class="col"><span class="tailgateDescFont">START TIME :</span>{{myTailgate.startTime | date:"h:mma"}}</div>
                    <div class="col"><span class="tailgateDescFont">COST :</span>{{myTailgate.amountToPay | currency}}</div>
                </div>
                <div class="row">
                    <div class="col"><div class="tailgateDescFont">EVENT DETAILS</div><span>{{myTailgate.tailgateDescription}}</span></div>
                </div>
                <div class="row">
                    <div class="col"><span class="tailgateDescFont">EVENT LOCATION</span><span>{{myeventLocation.mytailgate}}</span></div>
                </div>
                <div class="row">
                    <button href="#" type="submit" nav-clear class="button button-block button-positive pay_now_button">
                        Pay Now
                    </button>
                </div>
            </div>
            <div class="list">
                <div class="item item-divider plan_now">
                    SUPPLIES LIST
                </div>
            </div>
            <label class="item item-input item-select pan_now_list">
                <div class="input-label">
                    &nbsp;
                </div>
                <select class="plan_now" ng-model="selected1" ng-options="data.supplyListName for data in tailgateSupplyList" ng-change="getSupplyItem(selected1)"></select>
            </label>
            <a class="item" ng-if="tailgateSupplyList.length == 0"> You do not any supply list... </a>

            <div class="list">
                <div class="item item-divider plan_now">
                    WHAT WE BRING
                </div>
            </div>

            <label class="list">
                <ion-checkbox class="item item-icon-left item-checkbox-right list-item" data-id="data.supplyItemId" ng-model="selected_checkbox" ng-repeat="data in supplyItemList" ng-click="addItemsInArray(selected_checkbox,$index,data);">
                    {{data.supplyItemName}}
                </ion-checkbox>
            </label>
            <a class="item" ng-if="supplyItemList.length == 0"> You do not any supply items to add... </a>
                <div class="item item-divider plan_now">
                    SELECT USER NAME
                </div>
            </div>

        <label class="item item-input item-select pan_now_user">
            <div class="input-label">
                &nbsp;
            </div>
            <select class="plan_now" ng-model="user_selected" ng-options="data.fullName for data in myFriends" ng-change="getUserId(user_selected)" placeholder="Select User"></select>
        </label>
        <a class="item" ng-if="myFriends.length == 0"> You do not have any friends yet. Please search and add friends </a>
            <div class="row">
                <button type="submit" nav-clear class="button button-block button-positive pay_now_button" data-ng-click="addSupplyItems();">
                    Assign Supply List
                </button>
            </div>
    </ion-content>
</ion-view>

