<ion-view cache-view="false" view-title="MY TAILGATE">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
                <i class="icon ion-ios-arrow-back"></i> 
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <a class="subheaderLinkStyle" data-ng-click="addMyTailgate()">
            <div class="row item">
                <div class="eventHeading2 eventheadeingStyleIonContent">
                    <img src="img/flask_icons/add_new.svg" class="FlaskionIcons">
                    <span class="subHeaderStyle">CREATE NEW TAILGATE</span>
                </div>
            </div>
        </a>
        <ion-list show-delete="false" can-swipe="true">
            <div class="card" ng-show="allTailgate.length==0">
                <div class="item item-text-wrap">
                    There are no tailgate added.
                </div>
            </div>
            <ion-item class="myList item-remove-animate animate-in-secondary chat-item ng-enter-stagger bounceInLeft" href="#/app/my_tailgateDetails/my_tailgate_event_details/{{data.tailgateId}}"
                ng-repeat="data in allTailgate" ng-show="allTailgate.length!=0">
                <div class="row no-padding">
                    <div class="col col-15" style="bottom:0px !important;">
                        <img ng-src="img/FlaskRed.png"  class="list-thumbnail listImages1" alt="Image not found" onError="this.src = 'img/FlaskRed.png';" ng-if="data.logoId == 0"/>
                        <img ng-src="{{data.logoUrl}}"  class="list-thumbnail listImages1" alt="Image not found" onError="this.src = 'img/FlaskRed.png';"  ng-if="data.logoId > 0"/>
                        </div>
                    <div class="col col-70 event_content1">
                        <h2 class="eventNameCol">{{ data.tailgateName }}</h2>
                        <p class="dateCol">{{data.tailgateDate | date:'EEEE, MMMM dd, yyyy'}}</p>
                        <p class="timeVenuCol">{{data.startTime | date:"h :mm a"}} </p>
                    </div>
                    <div class="col col-15">
                        <span class="badge span_icon span_icon_extraright"><img src="img/flask_icons/arrow_left.svg"></span>
                    </div>
                </div>
                <ion-option-button class="button-assertive icon ion-edit" ng-class="{disablebutton: data.isAdmin=='0'}" ng-click="editTailgate(data.tailgateId,$index);"></ion-option-button>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-class="{disablebutton: data.isAdmin=='0'}" ng-click="leaveTailgate(data.tailgateId,$index);"></ion-option-button>
                <ion-option-button class="button-assertive icon ion-ios-copy" ng-click="cloneTailgate(data.tailgateId,$index)"></ion-option-button>
            </ion-item>
        </ion-list>
</ion-content>
</ion-view>