<ion-view view-title="MY TAILGATE"cache-view="false">
        <ion-tabs class="tabs-positive tab_bottom">
            <ion-tab title="EVENT DETAILS" href="#/app/my_tailgateDetails/my_tailgate_event_details">
                <ion-nav-view name="evnts-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="LOCATION" href="#/app/my_tailgateDetails/my_tailgate_view_location">
                <ion-nav-view name="location-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="TAILGATORS" href="#/app/my_tailgateDetails/my_tailgate_view_tailgaters">
                <ion-nav-view name="tailgaters-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="PLAN NOW" href="#/app/my_tailgateDetails/my_tailgate_view_plan">
                <ion-nav-view name="plan-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
</ion-view>
