<ion-view view-title="EVENT LOCATION" cache-view="false">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-arrow-left-c" ng-click="goBack();"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-share"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="">
        <div style="width:100%;height:100%;">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' aria-label="Google map">

                <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                    <ui-gmap-window>
                        <div>{{marker.window.title}}</div>
                    </ui-gmap-window>
                </ui-gmap-marker>

            </ui-gmap-google-map>
        </div>
    </ion-content>
</ion-view>