<ion-view cache-view="false" view-title="NOTIFICATION" ng-init="initialize()">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-android-arrow-back back_button_css" ng-click="goToNavigator();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content >
        <ion-list>
            <ion-item ng-click="goToMessages()">
                <h3 class="nameText emailText">MESSAGES</h3>
                <a ><span  class="badge badge-assertive badge_count">{{messageCount}}</span>
                    <div>
                        <span class="badge extra-right-supply badge_supplies"><img src="img/flask_icons/arrow_left.svg" class="supplies_left_icon"></span>
                    </div>
                </a>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item ng-click="goToNotifications()">
                <h3 class="nameText emailText">FRIEND REQUEST</h3>
                <a ><span  class="badge badge-assertive badge_count">{{notificationCount}}</span>
                    <div >
                        <span class="badge extra-right-supply badge_supplies"><img src="img/flask_icons/arrow_left.svg" class="supplies_left_icon"></span>
                    </div>
                </a>
            </ion-item>
        </ion-list>
        </ion-content>
    </ion-view>