<ion-view cache-view="false">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            <a href="#/app/events"><img alt="Flask" height="35" style="margin-bottom: -10px;" src="img/headerFlaskLogo.png" /></a>
        </ion-nav-title>
    </ion-nav-bar>
    <div class="bar bar-subheader" >
        <div class="row">
            <div class="col"></div>
            <div class="col col-90 event_name"><div class="eventHeading2" style="text-transform:uppercase;text-align:center"><span class="overlineStyle">{{currEventName}}</span></div></div>
            <div class="col"></div>
        </div>           
    </div>
    <ion-content class="has-footer has-header has-subheader">
        <div class="row mainRow" ng-click="preEvent()">
            <div class="sideImagePanel">
                <img src="img/pre.png" class="sidepanel"/>
                <div class="left">
                    <button class="button" ng-click="slidePrevious1('slide1')">Previous</button>
                </div>
                <div class="right">
                    <button class="button button-icon icon ion-chevron-right slider_arrow" ng-click="slideNext1('slide1')">Next</button>
                </div>
                <ion-slide-box delegate-handle="slide1" show-pager='false' does-continue="true">
                    <ion-slide ng-repeat="pre in Pre_Game" style="width:100%;">
                        <img ng-src="img/resources/{{getIncludeFile(pre)}}" class="sliderImages" />
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <div class="row mainRow" ng-click="atEvent()">
            <div class="sideImagePanel">
                <img src="img/at.png" class="sidepanel"/>
                <div class="left">
                    <button class="button button-icon icon ion-chevron-left slider_arrow" ng-click="slidePrevious1('slide2')"></button>
                </div>
                <div class="right">
                    <button class="button button-icon icon ion-chevron-right slider_arrow" ng-click="slideNext1('slide2')"></button>
                </div>
                <ion-slide-box delegate-handle="slide2" show-pager='false' does-continue="true">
                    <ion-slide ng-repeat="post in Post_Game" style="width:100%;">
                        <img ng-src="img/resources/{{getIncludeFile(post)}}" class="sliderImages" /></a>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <div class="row mainRow" ng-click="postEvent()">
            <div class="sideImagePanel">
                <img src="img/post.png" class="sidepanel"/>
                <div class="left">
                    <button class="button button-icon icon ion-chevron-left slider_arrow" ng-click="slidePrevious1('slide3')"></button>
                </div>
                <div class="right">
                    <button class="button button-icon icon ion-chevron-right slider_arrow" ng-click="slideNext1('slide3')"></button>
                </div>
                <ion-slide-box delegate-handle="slide3" show-pager='false' does-continue="true">
                    <ion-slide ng-repeat="during in During_Game" style="width:100%;">
                        <img ng-src="img/resources/{{getIncludeFile(during)}}" class="sliderImages" />
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>   
   </ion-content>
        <ion-footer-bar class="tabs tabs-icon-left bar bar-dark bar-footer bar-assertive">
            <img src="img/ad.png" class="footer-img" />
        </ion-footer-bar>
</ion-view>
