<ion-view cache-view="false" view-title="RESET PASSWORD" has-header="false">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            <a href="#/app/events"><img alt="Flask" class="header-img" src="img/headerFlaskLogo.png" /></a>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <form name="reset_user_form" class="loginpane form_div" novalidate ng-submit="reset_user_form.$valid && resetPasswordLink()">
            <div class="loginpane_body">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="email" placeholder="Email" class="form-control" ng-model="resetPassword.email" name="Email" required>
                        <div ng-show="reset_user_form.$submitted || reset_user_form.Email.$touched">
                            <span ng-show="reset_user_form.Email.$error.required" class="error_msg">Please enter your email!</span>
                            <span ng-show="reset_user_form.Email.$error.email" class="error_msg">Please enter valid email!</span>
                        </div>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">New Password</span>
                        <input type="password" placeholder="New Password" class="form-control" ng-model="resetPassword.newPassword" name="newPassword" required>
                        <div ng-show="reset_user_form.$submitted || reset_user_form.newPassword.$touched">
                            <span ng-show="reset_user_form.newPassword.$error.required" class="error_msg">Please enter your New Password!</span>
                        </div>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Confirm New Password</span>
                        <input type="password" placeholder="Confirm New Password" class="form-control" ng-model="resetPassword.confirmNewPassword" name="confirmNewPassword" ng-pattern="resetPassword.newPassword" required>
                        <div ng-show="reset_user_form.$submitted || reset_user_form.confirmNewPassword.$touched">
                            <span ng-show="reset_user_form.confirmNewPassword.$error.required" class="error_msg">Please enter your Confirm New Password!</span>
                            <span ng-show="reset_user_form.confirmNewPassword.$error.pattern" class="error_msg">Passwords do not match!</span>
                        </div>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Enter OTP</span>
                        <input type="text" placeholder="Enter OTP" class="form-control" ng-model="resetPassword.otp" name="otp" required>
                        <div ng-show="reset_user_form.$submitted || reset_user_form.otp.$touched">
                            <span ng-show="reset_user_form.otp.$error.required" class="error_msg">Please enter your valid OTP!</span>
                        </div>
                    </label>
                </div>
                <div class="padding" align="center">
                    <button type="submit" nav-clear class="button button-block button-positive sign_in_button">
                        Submit
                    </button>
                    <a nav-clear class="button button-block button-positive sign_in_button" href="#/app/events">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
