<ion-view cache-view="false" cache-view="false" back-button="true" view-title={{currListName}}>
    <ion-content>
        <a class="item item-full item-icon-left " href="#/app/addMyEvent">
            <div style="float:left;"><img src="img/FLASK ICONS/FLASK_ICON_ADD_NEW.svg" class="FlaskionIcons"></div>
            <p class="addText">ADD NEW ITEM</p>
        </a>
        <div class="list flask_text">
            <ion-checkbox class="item item-icon-left item-checkbox-right" ng-repeat="data in dataModel.data2" ng-model="data.checked" ng-click="getListcount()">
                {{ data.itemName }}
            </ion-checkbox>
        </div>
        <script id="templates/modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">Add New Item</h1>
                    <button class="button button-clear button-primary" ng-click="modal.hide()">X</button>
                </ion-header-bar>
                <ion-content class="padding">
                    <form name="gameForm" role="form">
                        <div class="form-group">
                            <label for="itemName">Enter Item Name:</label>
                            <input class="capitalize" type="text" placeholder="Item Name" ng-model="list1.itemName" name="itemName" id="itemName">
                        </div>
                        <div class="form-group">
                            <button type="button" class="button button-full button-positive" ng-click="saveList2(list1)">Add New Item</button>
                        </div>
                    </form>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>