<ion-view back-button="true" cache-view="false" cache-view="false" view-title={{currListName}} ng-init="initialize()" class="mySupplyView">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        </ion-nav-bar>
    <ion-content>
        <a class="item item-full list-item-icon-left "ng-click="addNewListItem()"ng-if=" showAddButton==true">
            <div style="float:left;"><img src="img/flask_icons/add_new.svg" class="FlaskionIcons"></div>
            <p class="addText">ADD NEW ITEM</p>
        </a>

        <div class="item item-input-inset"ng-if="addNewSuppliesItem==true">
            <label class="item-input-wrapper">
                <input type="text"id="addItemBox" placeholder="Item Name"autofocus ng-model="listItemName" required>
            </label>
            <button class="button button-small suppliesButton"ng-click="saveItem(listItemName)">
               save
            </button>
            <button class="button button-small suppliesButton"ng-click="cancelAdding()">
               cancel
            </button>
        </div>
        <div class="item emailText"ng-if="listValue.length==0&&addNewSuppliesItem==false">
            You don't have any Item, please create.
        </div>
<ion-list>
            <ion-item ng-repeat="data in listValue">
            <div ng-model="data.checked" ng-init="data.edit=false">
                <div ng-if = "data.edit == false" ><i class="addText">{{ data.supplyItemName }}</i></div>
                <input type="text"id="editItemBox" autofocus ng-model="data.supplyItemName" ng-if="data.edit == true" ng-blur="saveSupplyItem(data)"/>

                <div class="badge supplyDeleteButton extra-right-supply" ng-if="showCheckBox==false">
                <span class="button-assertive   ion-trash-a icon supplyDeleteIcon" ng-class="{supplyEditIconPadding:data.edit}" ng-click="deleteSupplyItem($index,data.supplyItemId)"></span>
                    </div>
                <div class="badge supplyDeleteButton extra-right-supply"style=";margin-right: 51px"ng-if="showCheckBox==false">
                    <span class="button-assertive   ion-edit supplyDeleteIcon" ng-class="{supplyEditIconPadding:data.edit}" ng-click="editSupplyItem(data)"></span>
                </div>
                <div ng-if="showCheckBox==true && showCheck==true">
           <span class="badge span_icon"style="top:3px"ng-click="getListCount(data)"> <label class="checkbox"style="float: right">
               <input  type="checkbox"ng-model="data.checked">
           </label></span></div>
            </div>
            </ion-item>
</ion-list>
    </ion-content>
</ion-view>