<ion-view cache-view="false" view-title="SUPPLIES"ng-init="initialize()">
  <ion-content>

      <a class="item item-full item-icon-left "ng-click="addNewSuppliesList()" href="#/app/createSupplies">
          <div style="float:left;"><img src="img/flask_icons/add_new.svg" class="FlaskionIcons" class="FlaskionIcons"></div>
          <p class="addText">CREATE NEW SUPPLIES</p>
      </a>
      <div class="divText"ng-if="supplies.length==0">
          You don't have any supplies, you can create your own or you can copy.
      </div>


<ion-list>
          <ion-item style="color: #0f0f0f"  ng-repeat="data in supplies"ng-if="data.isSystem==false"ng-init="data.edit=false" ng-init="data.swiped=false" ng-click="goTOList(data)">
              <div ng-class="{draggedLeft:data.swiped ,draggedRight:!data.swiped}">
              <label ng-if = "data.edit == false" style="font-weight: 200"><i class="addText">{{ data.supplyListName | uppercase}}</i> </label>
              <input type="text"id="editBox"autofocus ng-model="data.supplyListName "ng-focus="true"style="text-transform:uppercase"  ng-if="data.edit == true"ng-blur="saveSupply(data)"/>
              </div>
              <a  ng-click="setListId(data)"><span  class="badge badge-assertive"style="margin-right: 25px">{{data.listItem.length}}</span>
                  <div >
                  <span class="badge"style="top:12px"><img src="img/flask_icons/arrow_left.svg" style="width:21px;height:23px;padding-left:10%;top:20px;float: right"></span>
                  </div>
              </a>
              <ion-option-button class="button-assertive icon ion-edit" ng-click="editSupply(data)"></ion-option-button>
              <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteItem($index,data.supplyListId)"></ion-option-button>
                   </ion-item>
      </ion-list>
<div class="strip"ng-if="agreedToTermsOfUse==false">
    <div class="stripPadding">
    <span ng-if="editList==false"><i class="textStyle">COPY LIST FROM HERE</i></span>
    </div></div>
      <div class="strip"ng-if="agreedToTermsOfUse==true">
          <div class="stripPadding">
              <span ng-if="editList==false"><i class="textStyle">LIST FOR ALL USER</i></span>
          </div></div>

      <ion-list>
          <ion-item class="item "  ng-repeat="data in supplies"ng-if="data.isSystem==true"ng-init="data.edit=false" ng-init="data.swiped=false" ng-click="goTOList(data)"on-swipe-left="onSwipeLeft(data)"on-swipe-right="onSwipeRight(data)">
             <div ng-class="{draggedLeft:data.swiped ,draggedRight:!data.swiped}">
              <span class="emailText" style="color: #000000;font-weight: 200" ng-if = "data.edit == false"><i class="addText">{{ data.supplyListName | uppercase}}</i></span>
              <input type="text"id="systemEditBox"autofocus ng-model="data.supplyListName "ng-focus="true"  ng-if="data.edit == true"ng-blur="saveSupply(data)"/>
              <span ng-if="agreedToTermsOfUse==false" class="badge badge-assertive"style="cursor: pointer" ng-click="copyList(data)">copy</span>
              </div>
                 <div ng-if="agreedToTermsOfUse==true">
                  <span class="badge "style="top:12px"><img src="img/flask_icons/arrow_left.svg" style="width:21px;height:23px;top:20px;float: right"></span>
              </div>
              <ion-option-button class="button-assertive icon ion-edit"ng-if="agreedToTermsOfUse==true " ng-click="editSupply(data)"></ion-option-button>
              <ion-option-button class="button-assertive icon ion-trash-a"ng-if="agreedToTermsOfUse==true" ng-click="deleteItem($index,data.supplyListId)"></ion-option-button>

          </ion-item>
          </ion-list>

  </ion-content>
</ion-view>