<ion-view cache-view="false" view-title="SUPPLIES">
  <ion-content>
      <a class="item item-full item-icon-left " ng-click="modal.show()">
          <div style="float:left;"><img src="img/flask_icons/add_new.svg" class="FlaskionIcons" class="FlaskionIcons"></div>
          <p class="addText">CREATE NEW TAILGATE</p>
      </a>
    <div class="list">
	  <a class="item item-icon-right"  ng-repeat="data in dataModel.data"ng-if="data.isSystemProvided==1">
	    {{ data.listName }}
          <span class="badge badge-assertive"style="cursor: pointer" ng-click="copyList(data)">copy</span>
	   </a>
	</div>

<div class="strip">
    <div class="stripPadding">
    <span ng-if="editList==false"><i class="textStyle">USER LIST</i></span>
    <span ng-if="editList==true"><i class="textStyle">SAVE LIST</i></span>

    <span ng-if="editList==true"class="iconAlignment">
    <a class=" button-icon icon ion-android-done-all"ng-click="saveSupplies()"></a>
</span>
        <span ng-if="editList==false"class="iconAlignment">
    <a  class=" button-icon icon ion-settings"ng-click="editSupplies()"></a>
</span></div>
    </div>
      <div class="list">
          <a class="item item-icon-right" href="#/app/suppliesList/{{data.listName}}" ng-repeat="data in dataModel.data"ng-click="setListId(data)"ng-if="data.isSystemProvided==0">
              {{ data.listName }}
             <span ng-if="editList==true">
    <i  class=" button-icon icon ion-close-circled deleteIcon"></i>
</span>
              <span ng-if="editList==true">
    <i class=" button-icon icon ion-compose editIcon"></i>
</span>
              <span  ng-if="editList==false"class="badge badge-assertive"ng-init="getSelectedLength(data,$index)">{{counterArr[$index]}}/{{data.listItem.length}}</span>
               <span ng-if="editList==false"class="badge span_icon"><img src="img/flask_icons/arrow_left.svg" style="width:21px;height:20px;padding-left:10%;"></span>
            </a>
      </div>
	<script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Add New List Item</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">X</button>
        </ion-header-bar>
        <ion-content class="padding">
          <form name="listForm" role="form">
            <div class="form-group">
                <label class="item item-input item-floating-label">
                    <span class="input-label">List Name </span>
                    <input class="capitalize" type="text" placeholder="List Name" ng-model="list.listName" name="listName" id="listName">
                </label>
            </div>
            <div class="form-group">
                <button type="button" class="button button-full button-positive" ng-click="saveList(list)">Add New List</button>   
            </div>
        </form>
        </ion-content>
      </ion-modal-view>
   </script>
  </ion-content>
</ion-view>