<ion-view view-title="TICKETS">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button class="button-icon icon  ion-ios-arrow-back ">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <div>
            <h3 class="eventHeading"><span class="overlineStyle">SELECT A SITE AND</span><br /> GET YOUR TICKETS!</h3>
        </div>
        <div class="list">
            <a class="item item-avtar item-icon-right item-ticket" ng-repeat="data in ticket_detail" ng-click="onClickTicket(data.eventUrl);">
                <h2 class="tickets">{{data.siteName | uppercase}}</h2>
                <p class="item-tickets">{{data.siteBaseUrl | uppercase}}</p>
                <i class="icon ion-chevron-right ticket-icon"></i>
            </a>
        </div>
    </ion-content>
    <ion-footer-bar class=" bar bar-dark bar-footer bar-assertive customBarPadding">
        <div ng-include="'templates/advertisement.html'"class="footer-img"></div>

    </ion-footer-bar>
</ion-view>