<ion-view view-title="TICKETS">
    <search-bar ng-model="search" class="button button-icon button-clear ion-search"></search-bar>
    <ion-content overflow-scroll="false">
        <div>
            <h3 class="eventHeading"><span class="overlineStyle">SELECT A SITE AND</span><br /> GET YOUR TICKETS!</h3>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left item-icon-right ticketList" ng-click="onClickTicket('stubhub');">
                <h2 class="ticketNameCol">STUBHUB</h2>
                <p class="item-tickets ticketSiteCol">WWW.STUBHUB.COM</p>
                <i class="icon ion-chevron-right ticket-icon"></i>
            </a>
            <a class="item item-thumbnail-left item-icon-right ticketList" ng-click="onClickTicket('tickpick');">
                <h2 class="ticketNameCol">TICK PICK</h2>
                <p class="item-tickets ticketSiteCol">WWW.TICKPICK.COM</p>
                <i class="icon ion-chevron-right ticket-icon"></i>
            </a>
            <a class="item item-thumbnail-left item-icon-right ticketList" ng-click="onClickTicket('seetgeek');">
                <h2 class="ticketNameCol">SEET GEEK</h2>
                <p class="item-tickets ticketSiteCol">WWW.SEETGEEK.COM</p>
                <i class="icon ion-chevron-right ticket-icon"></i>
            </a>
            <a class="item item-thumbnail-left item-icon-right ticketList" ng-click="onClickTicket('scorebig');">
                <h2 class="ticketNameCol">SCORE BIG</h2>
				<p class="item-tickets ticketSiteCol">WWW.SCOREBIG.COM</p>
                <i class="icon ion-chevron-right ticket-icon"></i>    
            </a>
            <a class="item item-thumbnail-left item-icon-right ticketList" ng-click="onClickTicket('ticketsnow');">
                <h2 class="ticketNameCol">TICKETS NOW</h2>
                <p class="item-tickets ticketSiteCol">WWW.TICKETSNOW.COM</p>
                <i class="icon ion-chevron-right ticket-icon"></i>
            </a>
            <a class="item item-thumbnail-left item-icon-right ticketList" ng-click="onClickTicket('ticketmaster');">
                <h2 class="ticketNameCol">TICKET MASTER</h2>
                <p class="item-tickets ticketSiteCol">WWW.TICKETMASTER.COM</p>
                <i class="icon ion-chevron-right ticket-icon"></i>
            </a>
        </div>
    </ion-content>
    <ion-footer-bar class="tabs tabs-icon-left bar bar-dark bar-footer bar-assertive">
        <img src="../img/ad.png" class="footer-img" />
    </ion-footer-bar>
</ion-view>