<ion-view view-title="FLASK">
    <ion-nav-bar class="bar-dark" align-title="center">
        <img src="img/flasklogo2.png">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <section class="some-area fill-height-or-more">
            <div>
                <a href="#/app/my_events" class="post-content">
                    <i class="icon ion-star"></i>
                    My Events
                </a>
            </div>
            <div>
                <a href="#/app/my_tailgate" class="post-content">
                    <i class="icon ion-star"></i>
                     My Tailgate
                </a>
            </div>
            <div>
                <a href="#/app/my_friends" class="post-content">
                    <i class="icon ion-star"></i>
                     My Friends
                </a>
            </div>
        </section>
    </ion-content>
    <ion-footer-bar class="tabs tabs-icon-left bar bar-dark bar-footer bar-assertive">
        <a class="tab-item">
            <i class="icon ion-android-lock"></i>
            SIGN OUT
        </a>
        <a class="tab-item">
            <i class="icon ion-gear-a"></i>
            ACCOUNT SETTINGS
        </a>
    </ion-footer-bar>
</ion-view>