<ion-view cache-view="false">
    <ion-nav-title>
        <a href="#/app/events"><img alt="Flask" class="header-img" src="img/headerFlaskLogo.png" /></a>
    </ion-nav-title>    
    <ion-nav-buttons side="right">
        <a href="#/app/my_friends_tab/notification_tab" ng-if="totalMessageNotification>0" class="ion-email notificationCount"><span class="badgeCount">{{totalMessageNotification}}</span></a>
        <a href="#/app/my_friends_tab/notification_tab" ng-if="totalRequestNotification>0" class="ion-person-stalker notificationCount"><span class="badgeCount">{{totalRequestNotification}}</span></a>
</ion-nav-buttons>
    <ion-content>
            <div class="row mainRow myEvent" ng-click="myEvent()">
                <a href="" class="post-content">
                    <i class="icon ion-star"></i>
                    MY EVENTS
                </a>
            </div>
            <div class="row mainRow myTailgate" ng-click="myTailgate()">
                <a href="" class="post-content">
                    <i class="icon ion-star"></i>
                    MY TAILGATES
                </a>
            </div>
            <div class="row mainRow myFrnds" ng-click="myFriend()">
                <a href="" class="post-content">
                    <i class="icon ion-star"></i>
                    MY FRIENDS
                </a>
            </div>

    </ion-content>
    <ion-footer-bar class="tabs tabs-icon-left bar bar-dark bar-footer bar-assertive">
        <a class="tab-item bottom_tabs" href="#/app/account_settings">
            <i class="icon ion-gear-a"></i>
            ACCOUNT SETTINGS
        </a>

    </ion-footer-bar>
</ion-view>