#gmap_canvas {
    height: 380px !important;
    width:100% !important;
    position: relative;
}

@media (min-width: 0px) and (max-width: 320px){
	#gmap_canvas {
	    height: 281px !important;
	    position: relative;
	}
	
	.jqx-tabs{
		height: 170px !important;
	}
	
	.photo {
		height: 150px !important;
	    margin: 0px;
	}
	
	.SliderCaption {
	    height: 160px !important;
	}
	
	.weather, .front-page-description{
		font-size: 9px !important;
		height: 150px !important;
	}
}

@media (min-width: 321px) and (max-width: 375px){
	#gmap_canvas {
	    height: 315px !important;
	    position: relative;
	}
}

@media (min-width: 376px) and (max-width: 414px){
	#gmap_canvas {
	    height: 360px!important;
	    position: relative;
	}
}

@media (min-width: 736px) and (max-width: 3000px){
	#gmap_canvas {
	    height: 525px !important;
	    position: relative;
	}
}

.gm-style img {
    max-width: none !important;
}

.miniFlaskButton{
	position: relative;
	background-image: url("../img/FlaskBW.png");
  	display: block;
	height:30px;
	width:30px;
	float: right;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
}

.miniFlaskButton-checked{
	background-image: url("../img/FlaskRed.png");
}


.miniGoogleButton{
	position: relative;
	background-image: url("../img/google-g-icon.png");
	display: block;
	height:30px;
	width:30px;	
	float: right;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 	
}