#gmap_canvas {
    height: 380px !important;
    width:1600px !important;
    position: relative;
}

@media (min-width: 0px) and (max-width: 640px){
	#gmap_canvas {
	    height: 350px !important;
	    width:410px !important;
	    position: relative;
	}
}