html, body{
		  height:100%;
		  margin:0px;
}

#wrapper {
    padding:0 !important;
}
		
.imgdiv{
	float:left; 
	width:70px;
	height:auto;
	margin-right: 10px;
}

.lbldiv{
	/*width:80%; 
	margin-left: 80px;
	margin-top: 15px;*/
}

.rowHeight
{
	margin-bottom: 10px;
}

.tableSize{ width:100%;}


div#fixedfooter {
	position:fixed; 
	z-index:99;
	bottom:0px; 
	left:0px; 
	width:100%; 
	background-color: #D8D7D5; 
	height: 9%;
	}
	
.gap{
	padding-top:10px;
	 
	}
	
.asans{  
	font: normal 17px/1 "Average Sans", Helvetica, sans-serif; 
	color: #ED1B24; 
	text-align:center; 
	padding-top:12px;
	}
	
.gochi{  
	font: normal 16px/1 "Gochi Hand", Helvetica, sans-serif; 
	text-align:center; 
	color: #046BB6; 
	}
	
#viewevent{	
	width:100%; 
	top-margin:20px;
	}
	
.footerimg{ 
	width:80px; 
	height:80px;
	margin-left: 10px;
	}
	
.footertxt{
	width:20%; 
	text-align:center;
	}
	
.footertable
{
	width:100%;
}
	
.button 
{
  font: normal 16px/1 "Coda",Helvetica,sans-serif !important;
  height: 45px;
  padding: 5px 6px;
  background: #fb9a33;
  font-size: 20px;
  width: 41%;
  text-align: left;
}

.control-label-color
{
	font-size: 15px!important;
  	height:25px;
	color : #FB9A33; 
	margin-left: 6px;
}
	
.control-label-nocolor
{
	font-size:14px; 
	height:25px;
	margin-left: 6px;
}

div#one {
  padding: 0px 15px 0px 15px;
}

div#placeholder 
{
	  height: 800px;
	  overflow: none;
}

@media(max-width:320px)
{
	div#placeholder 
	{
		height: 400px;
	}
}

@media(min-width:414px)
{
	div#placeholder 
	{
		height: 550px;
	}
}
div#fixedfooter2 
{
     position: fixed;
     bottom: 0px;
     left: 0px;
     background-color: white;
     color: #ff9900;
     font: normal 16px/1 "Coda", Helvetica, sans-serif;
     font-size: 14px;
     width: 100%;
     letter-spacing: 10px;
     height: 5%;
 }

@media (max-width:667px) 
{
	div#fixedfooter 
	{
	   height: 12%;
	}
	     
    div#fixedfooter2 
    {
      font-size: 14px;
	  height: 5%;
	  letter-spacing: initial;
	  /* margin-top: 10px; */
	  padding-top: 10px;
    }
	         
	div#content {
	  margin-top: 47px !important;
	  margin-left: -30.5px !important;
	  padding: 0 0 0 0;
	  margin-right: -28px !important;
	}
	
	div#wrapper {
	  padding: 0 0.5em 0!important;
	  position: relative;
	}
	div#section {
				  width: auto;
				}
	     }
        
div#verticalScrollBarlistbox,#horizontalScrollBarlistbox {
  visibility: collapse !important;

}

.ws-title-wrapper {
  display: none !important;
}

/* For Slider Resize issue Starts*/

.tblRow{
	width:50%;
	padding-top:10px;
	padding-bottom:10px; 	
}
@media(max-width:640px)
{
	.tblRow{
		width:100%;
	}
}
/* For Slider Resize issue Ends*/
input.btn.btn-info.cssback {
  max-width: 100% !important;
}

.eventLogo {
  display: block;
  width: 62px;
  height: 62px;
  /*margin: 1em 0em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #eee;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  float: left;
}

.fill { 
    min-height: 100%;
}

.filler::after {
    background-color: inherit;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;  
}

.fill { 
    min-height: 100%;
    position: relative;
}

#placeholder{
	padding-left: 0px !important;
}

.heart-shape{
	position: relative;
	background-image: url("../img/FlaskBW.png");
  	display: block;
  	width: 45px;
  	height: 45px;
	float: right;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
}

.heart-shape-userevent{
	position: relative;
	background-image: url("../img/FlaskRed.png");
  	display: block;
  	width: 45px;
  	height: 45px;
	float: right;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
}

.heart-shape:hover{
	position: relative;
	background-image: url("../img/FlaskRed.png");
  	display: block;
  	width: 45px;
  	height: 45px;
	float: right;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
}

	.control-label-color,.control-label-nocolor {
		height: 25px !important;
	}

	.eventDetailBox {
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
	  padding: 10px;
	  overflow: hidden;
	  border: none;
	  font: normal 14px/1 "Coda", Helvetica, sans-serif;
	  color: #FFFFFF;
	  text-align: center;
	  -o-text-overflow: ellipsis;
	  text-overflow: ellipsis;  
	  text-align: center;
	  -o-text-overflow: ellipsis;
	  text-overflow: ellipsis;
	  background: rgba(140,140,140,0.4) !important;
	  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
	  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
	  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
	}

	.eventDetailBoxWithImages {
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
	  /*padding: 5px;*/
	  overflow: hidden;
	  border: none;
      font: normal 14px/1 "Coda", Helvetica, sans-serif;
       /* color: #ff9900; */
	}

	.Carousel{
		background-image: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
		background-image: -moz-linear-gradient(135deg, rgba(255,255,255,1) 0, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
		background-image: linear-gradient(135deg, rgba(255,255,255,1) 0, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
		background-position: 50% 50%;
		-webkit-background-origin: padding-box;
		background-origin: padding-box;
		-webkit-background-clip: border-box;
		background-clip: border-box;
		-webkit-background-size: auto auto;
		background-size: auto auto;
	}
		
	.fullwidth {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: initial;
	}

@media (min-width: 0px) and (max-width: 640px){
	/*.slick-slider {
    	position: fixed !important;
	}*/	
	.slick-dots li button:before {
    	/* font-family: 'slick'; */
    	font-size: 30px !important;
    }	
	.slick-dots {
		margin: auto !important;
		bottom: 20px !important;
	}	
	
	.slideImage{
		width: 200px;
		height: 150px;
	    background-repeat: no-repeat;
	    background-size: cover !important;		
	}
	
	.col2{
		  max-width:100% !important;
		  max-height:180px !important;
		  height: 100% !important; 
		  width:90% !important;
		  padding-left:0px !important;
	}
	
	.eventDetailBoxWithImages{
		width: 99% !important;
		margin-left:0px;
		margin-right:0px;
	    font: normal 12px/1 "Coda", Helvetica, sans-serif;
	    /* color: #ff9900; */
	    height: 200px !important;
	}
	
	.Carousel{
		width: 100% !important;
		margin-left:0px;
		margin-right:0px;
	}	
	
	.SliderCaption {
		max-width: 30px !important;
		max-height: 200px !important;
		background-size: contain;
		background-position: center;
		height: 200px !important;
		width: 25px !important;
		border-bottom: 1px solid white;
	}		
	
	.eventDetailBox{
		width:93% !important;
		height: 170px !important;
		font-size:12px;
		min-width: 300px !important; 
	}
	
	.slider .slide {height: 100%!important;}
	/*.slick-slide {
		padding:5px !important; 
	}*/		
	
	.aui [class*="span"], .aui .uneditable-input[class*="span"], .aui .row-fluid [class*="span"]{
		float: left !important;
	}	
	
	.slick-prev {
		display:none !important;
	}
	
	.slick-next {
		display:none !important;
	}
	
	.control-label-color {
    	font-size: 14px !important;
    	/* height: 25px; */
    	color: #FB9A33;
    	margin-left: 6px;
	}	

	.control-label-nocolor {
    	font-size: 13px !important;
    	height: 25px;
    	margin-left: 6px;
	}
	
	.eventLogo {
    	width: 50px !important;
    	height: 50px !important;
    }	
}		

@media (min-width: 641px) and (max-width: 3000px){
	.SliderCaption
	{
	  max-width:36px !important;
	  max-height:300px !important;
	  background-size: contain;
	  height: 250px; 
	  width: 36px !important;
	  border: 1px solid black;	
	  background-position: center;
	}
		
	.slick-prev {
		margin-left: 40px;
	}
	
	.slick-next {
		margin-right: 40px;
	}
	
	.slider {margin: 0;}
	.slider .slide {width: 500px; height: 100%;}
	.slick-slide {
		padding:15px !important; 
	}
	
	.photo{
		width:500px !important;
	} 
		
	.slick-dots {
    	bottom: 9px !important;
	}	
	
	.slick-dots li button {
        font-size: 2em !important;
    }	
	.slick-dots li button:before {
	    font-size: 2em !important;
	}    
	 .slick-prev, .slick-next {
	    width:60px;
	    height:34px;
	    background-color:#999 !important;
	    padding:10px;
	}
	.slick-prev:before, .slick-next:before {
	    content:"";
	}	
	
	.slideImage{
	    width: 300px;
	    height: 270px;
    	background-repeat: no-repeat !important;	    
	}
	
	.col2{
	  max-width:100% !important;
	  max-height:275px !important;
	  height: 100% !important; 
	  width:90% !important;
	  padding-left:0px !important;
	}
	
	.eventDetailBoxWithImages{
		width:100% !important;
		margin-left:0px;
		margin-right:0px;
	}
	
	.Carousel{
		width:100% !important;
		margin-left:45px;
		margin-right:45px;
	}	
	
	.slick-slide {
		padding: 5px !important;
	}		
	
	.SliderCaption {
		max-width: 36px !important;
		max-height: 275px !important;
		background-size: contain;
		height: 274px !important;
		width: 35px;
		border: 1px solid black;
		background-repeat: no-repeat;
	    background-position: center;
	    background-color: #231F20;		
	}		
	
	.eventDetailBox{
		width:96% !important;
		height:250px !important;
		font-size:12px;
	}
	
	.slider .slide {width: 100% !important; height: 100%!important;}
	.slick-slide {
		padding:5px !important; 
	}		
	
	.aui [class*="span"], .aui .uneditable-input[class*="span"], .aui .row-fluid [class*="span"]{
		float: left !important;
	}		
}	

.menustrip {
	background-image: -webkit-linear-gradient(-90deg, rgba(100,100,100,1) 0, rgba(0,0,0,1) 100%);
	background-image: -moz-linear-gradient(180deg, rgba(100,100,100,1) 0, rgba(0,0,0,1) 100%);
	background-image: linear-gradient(180deg, rgba(100,100,100,1) 0, rgba(0,0,0,1) 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	height: 40px;
	width:100%;
}

.menuItem {
	font: normal 16px/0 "Coda", Helvetica, sans-serif;
	color: rgba(255,255,255,1);
	text-align: center;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	letter-spacing: 1px;
	width:auto;
    height: 40px !important;
}

.menuText {
    display: block;
    margin-top: 12px;
}
	
	