.imgdiv{
	float:left; 
	width:70px;
	height:auto;
	margin-right: 10px;
}

.lbldiv{
	/*width:80%; */
	margin-left: 80px;
	margin-top: 15px;
}

.rowHeight
{
	margin-bottom: 10px;
}

.tableSize{ width:100%;}


div#fixedfooter {
	position:fixed; 
	z-index:99;
	bottom:0px; 
	left:0px; 
	width:100%; 
	background-color: #D8D7D5; 
	height: 9%;
	}
	
.gap{
	padding-top:10px;
	 
	}
	
.asans{  
	font: normal 17px/1 "Average Sans", Helvetica, sans-serif; 
	color: #ED1B24; 
	text-align:center; 
	padding-top:12px;
	}
	
.gochi{  
	font: normal 16px/1 "Gochi Hand", Helvetica, sans-serif; 
	text-align:center; 
	color: #046BB6; 
	}
	
#viewevent{	
	width:100%; 
	top-margin:20px;
	}
	
.footerimg{ 
	width:80px; 
	height:80px;
	margin-left: 10px;
	}
	
.footertxt{
	width:20%; 
	text-align:center;
	}
	
.footertable
{
	width:100%;
}
	
.button 
{
  font: normal 16px/1 "Coda",Helvetica,sans-serif !important;
  height: 45px;
  padding: 5px 6px;
  background: #fb9a33;
  font-size: 20px;
  width: 41%;
  text-align: left;
}

.control-label-color
{
	font-size: 16px!important;
  	line-height: 8px!important;
	margin-top: 12px; 
	color : #FB9A33; 
	margin-left: 6px;
}
	
.control-label-nocolor
{
	font-size:14px; 
	line-height: 15px!important;
	margin-left: 6px;
}

@media (max-width: 767px)
{
		.table-responsive .button
		{
		  width: 100%;
		}
		
		.control-label-color
		{
			font-size:16px !important;
			line-height: 14px!important; 
		}
		
		.control-label-nocolor
		{
			font-size:13px !important; 
			margin-top: 3px;
		}
	
		.aui input[type="text"] {
		  height: 30px;
		  width: 96.7% !important;
		  padding: 4px 0;
		  padding-left: 10px;
		}
}

div#one {
  padding: 0px 30px 0px 30px;
}
div#placeholder 
{
	  height: 350px;
	  overflow: auto;
}

@media(max-width:320px)
{
	div#placeholder 
	{
		height: 300px;
	}
	.control-label-color
	{
		font-size:15px !important; 
	}
}
@media(min-width:414px)
{
	div#placeholder 
	{
		height: 450px;
	}
}
div#fixedfooter2 
{
     position: fixed;
     bottom: 0px;
     left: 0px;
     background-color: white;
     color: #ff9900;
     font: normal 16px/1 "Coda", Helvetica, sans-serif;
     font-size: 14px;
     width: 100%;
     letter-spacing: 10px;
     height: 5%;
 }


@media (max-width:667px) 
{
	div#fixedfooter 
	{
	   height: 12%;
	}
	     
    div#fixedfooter2 
    {
      font-size: 14px;
	  height: 5%;
	  letter-spacing: initial;
	  /* margin-top: 10px; */
	  padding-top: 10px;
    }
	         
	div#content {
	  margin-top: 47px !important;
	  margin-left: -30.5px !important;
	  padding: 0 0 0 0;
	  margin-right: -28px !important;
	}
	
	div#wrapper {
	  padding: 0 0.5em 0!important;
	  position: relative;
	}
	div#section {
				  width: auto;
				}
	     }
        
div#verticalScrollBarlistbox,#horizontalScrollBarlistbox {
  visibility: collapse !important;

}

.ws-title-wrapper {
  display: none !important;
}

/* For Slider Resize issue Starts*/

.SliderCaption
{
    height: 200px;
    width: 36px;
}

@media(max-width:414px)
{
	.SliderCaption 
	{
	  height: 195px!important;
	}
	.wowslider-container .ws_images 
	{
	  height: 195px!important;
	}	
}

@media(max-width:375px)
{
	.SliderCaption 
	{
	  height: 175px!important;
	}
	.wowslider-container .ws_images 
	{
	  height: 175px!important;
	}	
}

@media(max-width:320px)
{
	.SliderCaption 
	{
	  height: 180px!important;
	}
	.wowslider-container .ws_images 
	{
	  height: 180px!important;
	}	
}
/* For Slider Resize issue Ends*/

/* Slider Back Button */
input.btn.btn-info.cssback {
  max-width: 100%!important;
}

.eventLogo {
  display: block;
  width: 60px;
  height: 60px;
  margin: 1em 0em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #eee;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  float: left;
}

.fill { 
    min-height: 100%;
}

.filler::after {
    background-color: inherit;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;  
}

.fill { 
    min-height: 100%;
    position: relative;
}

#placeholder{
	padding-left: 0px !important;
}


.heart-shape{
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #D3D3D3;
    float: right;
    margin-right: 50px;
    margin-bottom: 30px;
}
.heart-shape:before,
.heart-shape:after{
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #D3D3D3;
}
.heart-shape:before{
    bottom: 0px;
    left: -10px;
}
.heart-shape:after{
    top: -10px;
    right: 0px;
}

.heart-shape:hover{
    background-color: #FFAEAE;
}

.heart-shape:hover:before,
.heart-shape:hover:after{
    background-color: #FFAEAE;
}

#container1{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#placeholder{
    width: 100%;
    height: 99%;
    overflow: auto;
    padding-right: 15px;
}

