/* This file allows you to override default 

styles in one central location for easier 

upgrade and maintenance. */
.aui body {
  background-color: #FFFFFF;
  font: normal 16px/1 "Coda" ,Helvetica, sans-serif; }

.flask-nav-item {
  color: red;
  cursor: pointer;
  font-size: 16px; }

.menuitem {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 200px;
  padding: 5px;
  overflow: hidden;
  border: none;
  font: normal 16px/1 "Coda" , Helvetica,sans-serif;
  color: #ffffff;
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #231F20;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

@media screen and (min-width: 760px) {
  .menuitem {
    float: left;
    display: block; } }
.menuitem:hover {
  color: #ff9900;
  cursor: pointer; }

.menuitem span {
  font-size: 12px; }

.menuitem:hover span {
  color: #ff9900; }

.highlight {
  color: #ff9900; }

.menuitem a {
  color: white;
  text-decoration: none;
  font: normal 16px/1 "Coda" ,Helvetica, sans-serif; }

.menuitem a:hover {
  color: #ff9900;
  text-decoration: none; }

/* Buttons CSS */
.aui input[type="button"] {
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-image: -ms-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -moz-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -o-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262), color-stop(1, #231f20));
  background-image: -webkit-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: linear-gradient(to bottom, #656262 0%, #231f20 100%); }

.aui input[type="button"]:hover {
  color: #ff9900;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.aui .btn {
  padding: 5px 25px;
  background: #231F20;
  font-size: 20px; }

.aui .btn-info {
  background: #231F20;
  font: normal 16px/1 "Coda" ,Helvetica, sans-serif;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 10px;
  text-shadow: none;
  margin-right: 40px;
  background-image: -ms-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -moz-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -o-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262), color-stop(1, #231f20));
  background-image: -webkit-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: linear-gradient(to bottom, #656262 0%, #231f20 100%); }

.aui .btn-info:hover {
  color: #ff9900;
  background: #231F20;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-image: -ms-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -moz-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -o-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262), color-stop(1, #231f20));
  background-image: -webkit-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: linear-gradient(to bottom, #656262 0%, #231f20 100%); }

.aui .btn-primary {
  padding: 5px 20px;
  font: normal 16px/1 "Coda" ,Helvetica, sans-serif;
  background: #231F20;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  text-shadow: none;
  background-image: -ms-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -moz-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -o-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262), color-stop(1, #231f20));
  background-image: -webkit-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: linear-gradient(to bottom, #656262 0%, #231f20 100%); }

.aui .btn-primary:hover {
  color: #ff9900;
  background: #231F20;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-image: -ms-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -moz-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -o-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262), color-stop(1, #231f20));
  background-image: -webkit-linear-gradient(top, #656262 0%, #231f20 100%);
  background-image: linear-gradient(to bottom, #656262 0%, #231f20 100%); }

.aui input[type="text"] {
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  width: 500px;
  padding-left: 10px;
  margin-bottom: 10px; }

.aui input[type="date"] {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  width: 500px;
  padding-left: 10px;
  margin-bottom: 10px; }

.aui input[type="password"] {
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  width: 500px;
  padding-left: 10px;
  margin-bottom: 10px; }

.aui label {
  font-size: 14px; }

.aui textarea {
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  width: 500px;
  padding-left: 10px;
  margin-bottom: 10px; }

.aui select {
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
  width: 519px;
  padding-left: 10px;
  margin-bottom: 10px; }

.aui input[type="radio"] {
  width: 30px;
  margin-bottom: 7px; }

.aui .dockbar-split .dockbar .navbar-inner .nav > li > a {
  line-height: 34px; }

input.jqx-input.jqx-input-custom.jqx-widget-content.jqx-widget-content-custom.jqx-grid-pager-input.jqx-grid-pager-input-custom.jqx-rc-all.jqx-rc-all-custom {
  height: 17px; }

div#adminDataTable {
  margin-bottom: 10px; }

@media (max-width: 767px) {
  .aui select {
    height: 31px;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 10px; }

  .aui input[type="date"] {
    height: 20px;
    width: 98%;
    padding: 4px 0px;
    padding-left: 10px; }

  .aui textarea {
    height: 20px;
    width: 98%;
    padding: 4px 0px;
    padding-left: 10px; }

  .aui input[type="text"] {
    height: 20px;
    width: 98%;
    padding: 4px 0px;
    padding-left: 10px; }

  .aui input[type="password"] {
    height: 20px;
    width: 98%;
    padding: 4px 0px;
    padding-left: 10px; }

  .aui label {
    margin-bottom: 0px;
    font-size: 14px; }

  /*
  .aui body 
  {
    padding-left: 0px;
    padding-right: 0px;
  }
  */
  .aui input[type="button"] {
    padding: 4px 25px;
    width: 100%; }

  .aui input[type="reset"] {
    padding: 4px 25px;
    width: 100%; }

  .portlet-content {
    padding: 5px 3px 10px; } }
.required {
  font-size: 12px;
  color: chocolate; }

#spinningSquaresG {
  /* opacity: 0.7; */
  filter: alpha(opacity=20);
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 50px;
  left: 0;
  position: fixed;
  min-height: 100%;
  display: none; }

.ball {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid #363434;
  opacity: .9;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spin 1.8s infinite linear;
  -webkit-animation: spin 1.8s infinite  linear; }

.ball1 {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid #F79633;
  opacity: .9;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  -moz-animation: spinoff 1s infinite linear;
  -webkit-animation: spinoff 1s infinite  linear; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg); } }

@-moz-keyframes spinoff {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(-360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(-360deg); } }

/*AddUser button*/
.iconAddUser {
  height: 50px;
  width: 50px;
  background-image: url(../images/Flask-Icons/AddUserWhite.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px; }

.iconAddUser:hover {
  height: 50px;
  width: 50px;
  background-image: url(../images/Flask-Icons/AddUserOrange.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px; }

.iconAddUser:active {
  height: 50px;
  width: 50px;
  background-image: url(../images/Flask-Icons/AddUserOrange.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px; }

.cssAddUser {
  border: 1px solid #363434;
  opacity: .9;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  text-shadow: none;
  background-image: -ms-linear-gradient(top, #656262 0, #231f20 100%);
  background-image: -moz-linear-gradient(top, #656262 0, #231f20 100%);
  background-image: -o-linear-gradient(top, #656262 0, #231f20 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262), color-stop(1, #231f20));
  background-image: -webkit-linear-gradient(top, #656262 0, #231f20 100%);
  background-image: linear-gradient(to bottom, #656262 0%, #231f20 100%);
  margin-right: 2%;
  margin-bottom: 9px;
  float: right; }

