.portlet-column-content.empty {
  padding: 50px; }

#wrapper {
  padding: 0 0 0;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em; }
  @media (min-width: 768px) and (max-width: 979px) {
    #wrapper {
      padding-left: 2em;
      padding-right: 2em; } }

