/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
@import url('http://fonts.googleapis.com/css?family=Coda');

.aui body
{
	background-color:#F5F5F5;
	 font: normal 16px/1 "Coda" , Helvetica, sans-serif;
}

.flask-nav-item{
	color: red;
	cursor: pointer;
	font-size: 16px;
}


 .menuitem
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 200px;
    padding: 5px;
    overflow: hidden;
    border: none;
    font: normal 16px/1 "Coda" , Helvetica, sans-serif;
    color: #ffffff;
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #231F20;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

@media screen and (min-width: 760px)
 {
   
    .menuitem
    {
    
       float: left;
       display:block;
    }
 }

.menuitem:hover {
  color: #ff9900;
  cursor:pointer;
}
.menuitem span 
{
    font-size: 12px;
}
.menuitem:hover span
{
    color:  #ff9900;
}
.highlight
{
    color:   #ff9900;
}
.menuitem a
{
	color: white;
	text-decoration: none;
	 font: normal 16px/1 "Coda" , Helvetica, sans-serif;
}

.menuitem a:hover
{
	color:  #ff9900;
	text-decoration: none;
}


/* Buttons CSS */ 
.aui .btn
{
	 
	padding: 5px 25px;
	color: #00AFF0;
	background: #FFFFFF;
	font-size:20px;
}

.aui .btn-info
{
	
	background: #00AFF0;
	font: normal 16px/1 "Coda" , Helvetica, sans-serif;
	color: #fff;
	font-size:20px;
	cursor:pointer;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	  margin-top: 10px;
	  text-shadow:none;
	  margin-right:40px;
	
}
.aui .btn-info:hover{
    color: #fff;
	background: #00c3f0;
    
     -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.aui .btn-primary
{
	padding: 5px 20px;
	font: normal 16px/1 "Coda" , Helvetica, sans-serif;
	background: #00AFF0;
	color: #fff;
	font-size:20px;
	margin-top: 10px;
	text-shadow:none;
}
.aui .btn-primary:hover{
	
     color: #fff;
	background: #00c3f0;
     -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-shadow:none;
}


.aui input[type="text"]
{
	border-radius: 5px;
	font-size: 14px;
	height: 40px;
	width:500px;
	margin-bottom: 10px;
}



.aui label
{
	font-size: 14px;
}

.required {
  font-size: 12px;
  color: chocolate;
}



::-webkit-validation-bubble-message {
    color: #eee;
    background: #000;
    border: 1px solid #a90000;
}
::-webkit-validation-bubble-arrow {
    background: #000;
    border: 1px solid #a90000;
}