/* This file allows you to override default 

styles in one central location for easier 

upgrade and maintenance. */
@import url('http://fonts.googleapis.com/css?family=Coda');

.aui body {
	background-color: #FFFFFF;
	font: normal 16px/1 "Coda", Helvetica, sans-serif;
}

.flask-nav-item {
	color: red;
	cursor: pointer;
	font-size: 16px;
}

/* Buttons CSS */
.aui input[type="button"] {
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20));
	background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%);
}

.aui input[type="button"]:hover {
	color: #ff9900;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.aui .btn {
	padding: 5px 25px;
	background: #231F20;
	font-size: 20px;
}

.aui .btn-info {
	background: #231F20;
	font: normal 16px/1 "Coda", Helvetica, sans-serif;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-top: 10px;
	text-shadow: none;
	margin-right: 40px;
	background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20));
	background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%);
}

.aui .btn-info:hover {
	color: #ff9900;
	background: #231F20;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20));
	background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%);
}

.aui .btn-info:focus {
	color: #ff9900;
	background: #231F20;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20));
	background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%);
}

.aui .btn-primary {
	padding: 5px 20px;
	font: normal 16px/1 "Coda", Helvetica, sans-serif;
	background: #231F20;
	color: #fff;
	font-size: 20px;
	margin-top: 10px;
	text-shadow: none;
	background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20));
	background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%);
}

.aui .btn-primary:hover {
	color: #ff9900;
	background: #231F20;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20));
	background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%);
}

.aui .btn-primary:focus {
	color: #ff9900;
	background: #231F20;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: -ms-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -moz-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -o-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #656262),color-stop(1, #231F20));
	background-image: -webkit-linear-gradient(top, #656262 0%, #231F20 100%);
	background-image: linear-gradient(to bottom, #656262 0%, #231F20 100%);
}

.aui input[type="text"] {
	border-radius: 5px;
	font-size: 14px;
	height: 30px;
	width: 40%;
	padding-left: 10px;
	margin-bottom: 10px;
}

/* by navnath css for event form*/
.table-responsive input[type="text"]
{
  border-radius: 0;
  font-size: 14px;
  height: 35px;
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
  text-shadow: none;
}

.aui.ios input, .aui.ios input.input-large, .aui.ios textarea, .aui.ios .uneditable-input
{
	max-width: 97% !important;
}
/*end css of event form*/

.aui input[type="date"] {
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 5px;
	font-size: 14px;
	height: 30px;
	width: 40%;
	padding-left: 10px;
	margin-bottom: 10px;
}

.aui input[type="password"] {
	border-radius: 5px;
	font-size: 14px;
	height: 30px;
	width: 40%;
	padding-left: 10px;
	margin-bottom: 10px;
}

.aui label {
	font-size: 14px;
}

.aui textarea {
	border-radius: 5px;
	font-size: 14px;
	height: 30px;
	width: 40%;
	padding-left: 10px;
	margin-bottom: 10px;
}

.aui select {
	border-radius: 5px;
	font-size: 14px;
	height: 40px;
	width: 41.3%;
	padding-left: 10px;
	margin-bottom: 10px;
}

;
.aui input[type="radio"] {
	width: 30px;
	margin-bottom: 7px;
}

.aui .dockbar-split .dockbar .navbar-inner .nav>li>a {
	line-height: 34px;
}

input.jqx-input.jqx-input-custom.jqx-widget-content.jqx-widget-content-custom.jqx-grid-pager-input.jqx-grid-pager-input-custom.jqx-rc-all.jqx-rc-all-custom
	{
	height: 17px;
}

div#adminDataTable {
	margin-bottom: 10px;
}

@media ( max-width : 767px) {
	.aui select {
		height: 40px;
		width: 100%;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	;
	.aui input[type="date"] {
		height: 30px;
		width: 98%;
		padding: 4px 0px;
		padding-left: 10px;
	}
	.aui textarea {
		height: 30px;
		width: 98%;
		padding: 4px 0px;
		padding-left: 10px;
	}
	.aui input[type="text"] {
		height: 30px;
		width: 96.2%;
		padding: 4px 0px;
		padding-left: 10px;
	}
	.aui input[type="password"] {
		height: 30px;
		width: 96.2%;
		padding: 4px 0px;
		padding-left: 10px;
	}
	.aui label {
		margin-bottom: 0px;
		font-size: 14px;
	}

	/*
	.aui body 
	{
	  padding-left: 0px;
	  padding-right: 0px;
	}
	*/
	.aui input[type="button"] {
		padding: 4px 25px;
		width: 100%;
	}
	.aui input[type="reset"] {
		padding: 4px 25px;
		width: 100%;
	}
	.portlet-content {
		padding: 5px 3px 10px;
	}
}

.required {
	font-size: 12px;
	color: chocolate;
}

#spinningSquaresG {
	/* opacity: 0.7; */
	filter: alpha(opacity = 20);
	background: rgba(255, 255, 255, 0.75);
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 50px;
	left: 0;
	position: fixed;
	min-height: 100%;
	display: none;
}

.ball {
	background-color: rgba(0, 0, 0, 0);
	border: 5px solid #363434;
	opacity: .9;
	border-top: 5px solid rgba(0, 0, 0, 0);
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-radius: 50px;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	-moz-animation: spin 1.8s infinite linear;
	-webkit-animation: spin 1.8s infinite linear;
}

.ball1 {
	background-color: rgba(0, 0, 0, 0);
	border: 5px solid #F79633;
	opacity: .9;
	border-top: 5px solid rgba(0, 0, 0, 0);
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-radius: 50px;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	position: relative;
	top: -50px;
	-moz-animation: spinoff 1s infinite linear;
	-webkit-animation: spinoff 1s infinite linear;
}

@-moz-keyframes spin { 0% {	-moz-transform: rotate(0deg);}100%{-moz-transform:rotate(360deg);}}
@-moz-keyframes spinoff { 0% {	-moz-transform: rotate(0deg);}100%{-moz-transform:rotate(-360deg);}}
@-webkit-keyframes spin { 0% {	-webkit-transform: rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}
@-webkit-keyframes spinoff { 0% {	-webkit-transform: rotate(0deg);}100%{-webkit-transform:rotate(-360deg);}}

/* Add Venue Icon */ 
.iconAddVenue {
	height: 32px;
	width: 32px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: url(../images/Flask-Icons/addVenueWhite.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
}

.iconAddVenue:hover {
	height: 32px;
	width: 32px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: url(../images/Flask-Icons/addVenueOrange.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
}

.iconAddVenue:active {
	height: 32px;
	width: 32px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: url(../images/Flask-Icons/addVenueOrange.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
}


/*AddUser button*/
.iconAddUser {
	height: 32px;
	width: 32px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: url(../images/Flask-Icons/AddUserWhite.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
}

.iconAddUser:hover {
	height: 32px;
	width: 32px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: url(../images/Flask-Icons/AddUserOrange.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
}

.iconAddUser:active {
	height: 32px;
	width: 32px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-image: url(../images/Flask-Icons/AddUserOrange.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
}

.cssAddUser {
	opacity: .9;
	border-radius: 32px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	text-shadow: none;
	background: -moz-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* IE10+ */
	background: radial-gradient(ellipse at center, #7d7e7d 0%, #0e0e0e 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d',
		endColorstr='#0e0e0e', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	margin-right: 2%;
	margin-bottom: 9px;
	float: right;
}
/*Delete Icon*/
.iconDelUser {
	margin: 8px;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.iconDelUser:hover {
	margin: 8px;
	color: #ff9900;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.iconDelUser:active {
	margin: 8px;
	color: #ff9900;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cssDelUser {
	opacity: .9;
	border-radius: 32px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	text-shadow: none;
	background: -moz-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* IE10+ */
	background: radial-gradient(ellipse at center, #7d7e7d 0%, #0e0e0e 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d',
		endColorstr='#0e0e0e', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	margin-right: 2%;
	margin-bottom: 9px;
	float: right;
}

/*trash Icon*/
.iconDelete {
	margin:8px;
	 color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.iconDelete:hover {
	margin:8px;
	color: #ff9900;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.iconDelete:active {
	margin:8px;
	color: #ff9900;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cssDelete {
	opacity: .9;
	border-radius: 32px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	text-shadow: none;
	background: -moz-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* IE10+ */
	background: radial-gradient(ellipse at center, #7d7e7d 0%, #0e0e0e 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d',
		endColorstr='#0e0e0e', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	margin-right: 2%;
	margin-bottom: 9px;
	float: right;
}



/*Search Icon*/
.iconSearchUser {
	margin: 8px;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.iconSearchUser:hover {
	margin: 8px;
	color: #ff9900;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.iconSearchUser:active {
	margin: 8px;
	color: #ff9900;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cssSearchUser {
	opacity: .9;
	border-radius: 32px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	text-shadow: none;
	background: -moz-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%);
	/* IE10+ */
	background: radial-gradient(ellipse at center, #7d7e7d 0%, #0e0e0e 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d',
		endColorstr='#0e0e0e', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	margin-right: 2%;
	margin-bottom: 9px;
	float: right;
}

/* Dockbar Starts*/
.aui .dockbar-split .dockbar .navbar-inner {
	width: 100%;
	position: fixed;
	z-index: 10000;
}

div#content {
	margin-top: 47px;
}

/*	.aui #navigation.open 
	{
	  margin-top: 47px;
	}
*/
.aui .dockbar-split .dockbar {
	height: auto;
	position: relative;
}

.navbar .container .btn-navbar {
	color: #000;
	display: inline-block;
	margin-bottom: 5px;
	width: auto;
}

/* Dockbar Ends*/

/* Drop Down Account Controls Starts*/
.aui .nav-collapse .dropdown-menu a 
{
	color: #000000;
	padding: 9px 25px;
}

.aui .nav-collapse .dropdown-menu 
{
  width: 200px;
  margin: 0 0px;
}


span.nav-item-label {
	color: #000000;
}

.aui .dockbar-split .dockbar .navbar-inner .nav>li {
	background-color: #FFFFFF;
}

.aui .dockbar-split .dockbar.navbar-static-top .collapse .nav-account-controls
	{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 5px 10px #CCC;
	border: 1px solid transparent;
}


.aui .dockbar-split .dockbar .navbar-inner .nav li.dropdown.open>.dropdown-toggle
	{
	background-color: #F7F7F7;
}

 .aui .dockbar-split .dockbar .navbar-inner .nav>li>a [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav>li>a [class*=" icon-"] 
 {
  color: #000000;
 }

.aui .dockbar-split .dockbar .navbar-inner .nav-account-controls 
{
  right: 3.4em;
}

/* Drop Down Account Controls Ends*/

/* Splash Starts */
@-webkit-keyframes fadeIn {from { opacity:0;}to {opacity: 1;}}
@-moz-keyframes fadeIn {from { opacity:0;}to {opacity: 1;}}
@keyframes fadeIn {from { opacity:0;}to {opacity: 1;}}
.fade-in {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.splash {
	text-align: center;
	background-color: #FFF;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background-size: cover;
	background-attachment: fixed;
	height: 420px;
	position: absolute;
	top: 0;
	margin: auto;
}

.splash-title {
	color: #544F4B;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 13px;
	line-height: 0.0;
	font-size: 4.500em;
	font-weight: bolder;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.splash-para {
	color: #EB8C49;
	font-family: Coda;
	line-height: 0.0;
	font-size: 1.150em;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0.75px;
}

@media all and (max-width: 690px) {
	.logoSize {
			width: 209px;
			height: 234px;
		}
}

@media all and (max-width: 480px) {
	.splash-title {
		font-size: 3.500em;
	}
	.splash-para {
		font-size: 0.950em;
	}
}
/* Splash Ends */

/* For Edit Page Icons */
.modify-pages .drag-handle {
	display: none;
}

/* Login Screen Starts*/
.taglib-icon-list li {
	float: left;
	margin-right: 1em;
	width: 100%;
}

.portlet-login .navigation {
	background: none;
	border: none;
	padding: 10px;
}
/* Login Screen Ends*/

