<nav class="slideout-menu" id="navigation" role="navigation">
<ul aria-label="#language ("site-pages")" role="menubar">
	<li class="menuitem highlight">TODAY'S EVENT(S)</li>
	<li class="menuitem"><span>PRE-GAME</span><br/> LOCAL NEWS</li>
	<li class="menuitem">PARKING & EVENT MAP</li>
	<li class="menuitem"><span>AT-THE-GAME</span><br/>EVENT NEWS</li>
	<li class="menuitem">VENUE MAP</li>
	<li class="menuitem">FLASK PROMOTIONS</li>
	<li class="menuitem"><span>POST-GAME</span><br/>ENTERTAINMENT OPTIONS</li>
	<li class="menuitem">FLASK PROMOTIONS</li>
	<li class="menuitem highlight">PROFILE</li>
	<li class="menuitem">MY EVENTS</li>
	<li class="menuitem">MY TAILGATE</li>
	<li class="menuitem">MY GROUPS</li>
	<li class="menuitem">MY FRIENDS</li>
	<li class="menuitem">NOTIFICATIONS</li>
	<li class="menuitem highlight">EVENT AND CITY SEARCH</li>
</ul>            
</nav>